[2020-09-28 18:34] sukritishah15 opened #1 "Implement Quick Sort"
## 🚀 Feature

Implement Quick Sort

### Have you read the Contribution Guidelines?

Yes.

## Pitch

This is a good sorting technique.

[2020-09-28 18:37] codewithnick commented on #1
can i implement quick sort for python

[2020-09-28 18:39] codewithnick commented on #1
thank you so much this will be my first pr in open source

[2020-09-28 18:39] sukritishah15 commented on #1
Sure! I have assigned you this issue. All the best!

[2020-09-28 19:51] lostgirljourney commented on #1
Can I do it for CPP? @sukritishah15 di...

[2020-09-28 19:53] lostgirljourney commented on #1
Thanks a lot!🌚

[2020-09-28 19:53] sukritishah15 commented on #1
Sure @lostgirljourney ! :))

[2020-09-28 20:07] Anni852 commented on #1
Can I do it for C? I'll add various algorithms

[2020-09-28 20:15] sukritishah15 commented on #1
I will assign this issue to you in C @Anni852 .
We will be creating more issues tomorrow and covering other sorting algorithms and Data Structures too.
If you are referring to different variations of quick sort itself, you can create different files for different variations, and create 1 PR for all the files.
You can name the files as Quick_Sort_1.c , Quick_Sort_2.c and so on.
In case you wish to

[2020-09-28 20:41] Anni852 commented on #1
Thank you so much. I will

[2020-09-28 20:42] Anni852 commented on #1
Thank you so much.

[2020-09-29 05:54] sukritishah15 opened #2 "Implement a code to find nth term of an A.P."
## 🚀 Feature

Given the first two terms, a1 and a2, of an A.P. (Arithmetic Progression), and an integer n, find the value of nth term in the A.P.

For example -

Input:
a1 = 2
a2 = 3
n=4

Output:
5

Explanation:
The A.P. for this example would be - 2, 3, 4, 5, 6, 7, ...

### Have you read the Contribution Guidelines?

Yes

## Pitch

This is an extremely simple mathematical problem. A good beginner

[2020-09-29 05:58] mananchawla2005 commented on #2
Hey, can you assign me this issue? Will implement in as many languages I can as a part of hacktober fest? @sukritishah15

[2020-09-29 06:05] niranjantuty commented on #2
Can I work on this?

[2020-09-29 06:07] sukritishah15 commented on #2
Sure, I have assigned this issue to you as a part of Hacktoberfest. Implement it in C.

[2020-09-29 06:09] sukritishah15 commented on #2
Sure, I am assigning this to you in  C++.

[2020-09-29 06:13] mananchawla2005 commented on #2
Can I work on this is Python and Java. I dont know C that much ?  @sukritishah15

[2020-09-29 06:16] sukritishah15 opened #3 "Implement a code to find nth term of a G.P."
## 🚀 Feature

Given the first two terms, a1 and a2, of an G.P. (Geometric Progression), and an integer n, find the value of nth term in the G.P.

For example -

Input:
a1 = 1
a2 = 2
n=4

Output:
8

Explanation:
The G.P. for this example would be - 1, 2, 4, 8, 16, ...

### Have you read the Contribution Guidelines?

Yes

## Pitch

This is an extremely simple mathematical problem. A good beginner-fr

[2020-09-29 06:18] sukritishah15 commented on #2
Okay, I will assign it to you in Python and Java both.

[2020-09-29 06:22] mananchawla2005 commented on #3
Hey can you assign me this as well for python. @sukritishah15 . I am new in open source and would like to contribute as much as I can.

[2020-09-29 06:30] sukritishah15 commented on #3
Yes, I've assigned it to you in Python.

[2020-09-29 06:35] banerjee-suchismita commented on #3
Hello can you assign this to me in C? Would like to contribute !

[2020-09-29 06:39] sukritishah15 commented on #3
Hello, I've assigned this issue to you in C.

[2020-09-29 07:14] niranjantuty commented on #3
I would like to contribute.  Can you assign this to me in Java?

[2020-09-29 07:15] aditik03 opened #5 "Implement Merge Sort"
## 🚀 Feature

Implement Merge Sort.
Add (inside comment) Sample input and output at the end of the file along with Time and Space Complexity.

### Have you read the Contribution Guidelines?

Yes.

## Pitch
This sorting technique will let you understand the Divide and Conquer approach and the concept of stable algorithms.

[2020-09-29 07:23] Pratap2018 commented on #5
i want to work on this

[2020-09-29 07:24] sukritishah15 commented on #5
Which programming language?

[2020-09-29 07:24] Pratap2018 commented on #3
i want to work on this

[2020-09-29 07:29] Pratap2018 commented on #5
c++ , c ,python, js ,java

[2020-09-29 07:30] vanisha23 commented on #2
Can I work on this in Java, Python and C.

[2020-09-29 07:30] sukritishah15 commented on #3
Assigned in C++

[2020-09-29 07:31] sukritishah15 commented on #3
Assigned in Java.

[2020-09-29 07:32] Pratap2018 commented on #3
thank you i will PR on October 1

[2020-09-29 07:32] vanisha23 commented on #3
I would like to contribute. Can you assign this to me in Java or Python or C.

[2020-09-29 07:32] sukritishah15 commented on #5
Okay. I will assign this to you in C and Java, for now.

[2020-09-29 07:35] sukritishah15 commented on #2
Assigning this to you in C.

[2020-09-29 07:36] ashitajain14 commented on #5
hey, can you assign me this issue in python?

[2020-09-29 07:37] sukritishah15 commented on #3
Sure, no problem at all. All the best for Hacktoberfest!

[2020-09-29 07:39] sukritishah15 commented on #3
This issue has been take for all 4 programming languages. So, I won't be able to assign this one,
I and my team will be adding a few more issues, today itself. Stay tuned!

[2020-09-29 07:40] sukritishah15 commented on #5
Sure. Assigned.

[2020-09-29 07:41] aditik03 opened #6 "Check for balanced parentheses in an expression"
## 🚀 Feature
Given a string expression, check whether the pair and order of { }, ( ),[ ] are correct in expression.

For example-
Input: ({[]})
Output: Balanced

Input: (({})
Output: Not Balanced
### Have you read the Contribution Guidelines?

yes

## Pitch
You will get to know about the implementation of stack data structure.

[2020-09-29 07:46] gunisha30 opened #7 "Check if an integer is Armstrong"
## 🚀 Feature

Check whether a number entered by the user is Armstrong or not.

A positive integer of n digits is called an Armstrong Number (of order n) if:
abcd.. = a^n + b^n + c^n + d^n + ...

for eg: 153 is an armstrong number because, 153= 1x1x1 + 5x5x5 + 3x3x3 i.e. 1^3+5^3+3^3 = 153.

### Have you read the Contribution Guidelines?
Yes

## Pitch
An interesting and elementary math-based problem

[2020-09-29 07:49] AnkitJuyal009 commented on #7
I would like to contribute it in Java. Please Assign this to me.

[2020-09-29 07:50] SuyashGupte commented on #6
I can write code for this problem in Python.

[2020-09-29 07:50] aditik03 commented on #7
Assigned

[2020-09-29 07:50] AnanyaNagar commented on #5
Can you assign me this in C++

[2020-09-29 07:51] aditik03 commented on #6
Sure.

[2020-09-29 07:54] chhipanikhil9 commented on #6
i can write in cpp

[2020-09-29 07:56] aditik03 commented on #6
Assigned

[2020-09-29 08:07] niranjantuty commented on #7
I would like to contribute.  Can I work on this in Python?

[2020-09-29 08:08] sukritishah15 commented on #7
Sure!

[2020-09-29 08:09] sairish2001 commented on #6
I have wrote the code for the same in Python
check this out,it may help you
s=input()
if(len(s)%2!=0):
    print("Not Balanced")
else:
    flag=1
    for i in range(0,len(s)):
        length=len(s)-1
        if(s[i]!=s[length]):
            flag=0
        length=length-1;
    if(flag==0):
        print("Balanced")
    else:
        print("Not Balanced")

[2020-09-29 08:10] aditik03 commented on #6
hey, please read the guidelines and contribute according to it.

[2020-09-29 08:12] chhipanikhil9 commented on #6
Can you tell me, how I give you? code I am newbie.

[2020-09-29 08:14] aditik03 commented on #6
@chhipanikhil9 create a Pull Request then we will verify it

[2020-09-29 08:16] chhipanikhil9 commented on #6
thanks :)

[2020-09-29 08:16] Anushka-Rajvanshi commented on #7
Can I work on it using C++?

[2020-09-29 08:17] aditik03 commented on #7
Yes and assigned

[2020-09-29 08:21] aditik03 commented on #1
I want to implement it in java

[2020-09-29 08:29] Anushka-Rajvanshi commented on #6
Can I work on it using C?

[2020-09-29 08:30] aditik03 commented on #6
Yes and assigned

[2020-09-29 09:16] lostgirljourney commented on #7
I want to do it in C @sukritishah15 di

[2020-09-29 09:21] yashkansal commented on #6
Can I work in Java

[2020-09-29 09:22] sukritishah15 commented on #7
Sure! Assigning this issue to you for C lang.

[2020-09-29 09:22] yashkansal commented on #6
Can I work in Java?

[2020-09-29 09:23] sukritishah15 commented on #6
Sure! Assigning in Java.

[2020-09-29 09:24] yashkansal commented on #7
Can I work in java?

[2020-09-29 09:24] lostgirljourney commented on #7
Thanks, @sukritishah15 di! :heart:

[2020-09-29 09:27] patricktrp commented on #1
I'd do Javascript

[2020-09-29 09:35] sukritishah15 commented on #1
We are currently accepting code only for 4 programming languages.
If you like, you can create new issues for new DS/Algo, we will assign them to you.
OR
We will be creating more issues, today, you can claim those.
Stay Tuned!

Thank you!

[2020-09-29 11:48] lostgirljourney opened #12 "Adding Resources for learning Git and GitHub for New Beginners"
## 🚀 Feature

Want to add resources for those who're new to OPEN SOURCE Contribution.
ALL CONTRIBUTORS are welcome to contribute.

A Resources.md file shall be created for this issue.
ALL CONTRIBUTORS can add their set of resources in this file.
Thank you!

### Have you read the Contribution Guidelines?

Yes

## Pitch

Since Hacktoberfest is around the corner, wanna help who're extremely new to Gi

[2020-09-29 12:04] sukritishah15 commented on #12
Sure! @lostgirljourney We can do this!
Create a Resources.md file.
Do not put this inside any folder. Can be created directly in the project root folder.
Also, this issue is open for all to contribute.

Nice initiative @lostgirljourney !!!

Let us know if you require any help.

[2020-09-29 12:06] lostgirljourney commented on #12
Thank you so much @sukritishah15 di!🤩

[2020-09-29 12:31] sukritishah15 opened #13 "Implement Insertion Sort"
## 🚀 Feature

Implement Insertion Sort. Do add Sample Input/Output, Time and Space Complexity at the bottom of the file (inside a comment).

### Have you read the Contribution Guidelines?

Yes

## Pitch

A very basic and standard sorting algorithm.

[2020-09-29 12:33] lostgirljourney commented on #13
I want to do it in Python @sukritishah15 di.

[2020-09-29 12:34] Anni852 commented on #13
I would like to do this in cpp.

[2020-09-29 12:34] sukritishah15 commented on #13
Done!

[2020-09-29 12:35] sukritishah15 commented on #13
Done!

[2020-09-29 12:35] JanetLaysEggs commented on #13
I don't mind - I'll do whatever no-one else wants to use.

[2020-09-29 12:37] sukritishah15 commented on #13
Okay! Assigning in C then. @JanetLaysEggs :))

[2020-09-29 12:38] JanetLaysEggs commented on #13
@sukritishah15 Thanks

[2020-09-29 12:51] Anushka-Rajvanshi commented on #13
I can implement it in Java. Please assign this to me.

[2020-09-29 13:12] sukritishah15 commented on #13
Done!

[2020-09-29 14:28] sukritishah15 commented on #5
@scshiv29-dev Some contributors have already claimed the issue for these languages. We will be creating more issues tonight and tomorrow.
Even, you can create issues, we will assign them to you.
Stay Tuned!

Thank you!

[2020-09-29 14:30] sukritishah15 opened #16 "Implement Bubble Sort"
## 🚀 Feature

Implement Bubble Sort. Do add Sample Input/Output, Time and Space Complexity at the bottom of the file (inside a comment).

### Have you read the Contribution Guidelines?

Yes

## Pitch

A very basic and standard sorting algorithm.

## Assignees
@shravani05 - C++
@vanisha23 - Java
@Anushka-Rajvanshi - Python
@yashkansal - C
@wallacecosta - C#
@Carbon24 - Javascript
@jmiguelpv - PHP
@

[2020-09-29 14:32] shravani05 commented on #16
Can I work on this issue? @sukritishah15

[2020-09-29 14:33] vanisha23 commented on #16
Can I work on this in Java?

[2020-09-29 14:36] yashkansal commented on #16
can i work in c

[2020-09-29 14:37] Anushka-Rajvanshi commented on #16
I want to implement in python. Please assign this to me.

[2020-09-29 14:38] Ayushmaan2001 commented on #16
can i work on this in c++?

[2020-09-29 14:51] manan025 commented on #16
Please assign this issue to me. I will work in either C++ or python or both of them as per instructions and also clarify the input.

[2020-09-29 14:52] scshiv29-dev opened #17 "Implement Circular Queue"
## 🚀 Feature

Implement Circular Queue

### Have you read the Contribution Guidelines?

Yes

## Pitch
A basic  linear data structure in which the operations are performed based on FIFO (First In First Out) principle and the last position is connected back to the first position to make a circle.

(Please explain why this feature should be implemented and how it would be used.)

[2020-09-29 14:52] scshiv29-dev commented on #17
Can i do this in python and Java ?

[2020-09-29 14:56] jovianjaison commented on #17
Can I do this in Cpp?

[2020-09-29 14:57] yashkansal commented on #17
Can I implement this in C

[2020-09-29 15:05] yashkansal opened #18 "Search a given element in row and column wise sorted 2D matrix. #18"
🚀 Feature
Find if an element x is present in a 2D matrix when matrix is sorted in increasing order both row and column wise.

 Have you read the Contribution Guidelines?

Yes

Pitch

It is a frequently asked interview question of 2D arrays.

[2020-09-29 15:06] yashkansal commented on #18
plz, assign this to me. I will implement it in java.

[2020-09-29 15:16] sukritishah15 commented on #17
@jovianjaison - C++
@scshiv29-dev - Python
@yashkansal - Java

Please implement all the operations for circular queue.
Thank you!

[2020-09-29 15:19] sukritishah15 commented on #18
@yashkansal - Java assigned.
Thank you for creating the issue!

[2020-09-29 15:23] AnanyaNagar opened #19 "Remove Nth node of Linked List"
## 🚀 Feature

Implement the code to remove the nth node of a linked list.
For eg. 3,7,1,9,4 (Remove 3rd node) =3,7,9,4

### Have you read the Contribution Guidelines?

Yes

## Pitch

It is a simple linked list implementation problem to start with.

[2020-09-29 15:25] APOORVANAGAR-2002 commented on #19
Can I implement this in C?

[2020-09-29 15:29] AnanyaNagar commented on #19
Ok

[2020-09-29 15:34] ParijatDhar97 commented on #16
Hi Sukriti, can you assign this to my profile, I'll work on implementing in python as per the requirements mentioned.

[2020-09-29 15:34] vanisha23 commented on #19
Can I implement this in Java?

[2020-09-29 15:40] AnanyaNagar commented on #19
Yes, Sure.

[2020-09-29 15:40] Anushka-Rajvanshi commented on #18
Please assign this issue to me for C++ implementation.

[2020-09-29 15:57] krishnapatil1406 commented on #18
Please assign me this issue I will implement it in C Language. @sukritishah15

[2020-09-29 16:03] krishnapatil1406 commented on #19
Can I implement this in C++? @AnanyaNagar

[2020-09-29 16:04] GarimaMahajan20 commented on #18
Assign this to me . i will implement it in java

[2020-09-29 16:24] Devansh2005 commented on #17
Can i do this in C ?

[2020-09-29 16:33] sukritishah15 commented on #16
@shravani05 - C++
@vanisha23 - Java
@Anushka-Rajvanshi - Python
@yashkansal - C

Assigned on FCFS basis.

[2020-09-29 16:34] Devansh2005 opened #21 "Implement a code to check a number is neon or not"
## 🚀 Feature

A simple program to check whether the entered number by the user is neon or not.

### Have you read the Contribution Guidelines?
Yes

## Pitch

This can be an initial and easy step for a beginner to implement this code

[2020-09-29 16:34] sukritishah15 commented on #17
@Devansh2005 - C assigned

[2020-09-29 16:36] sukritishah15 commented on #18
@Anushka-Rajvanshi - C++
@krishnapatil1406 - C

Assigned

[2020-09-29 16:38] sukritishah15 commented on #19
@krishnapatil1406 - C++
assigned

[2020-09-29 16:41] sukritishah15 commented on #21
Sure, @Devansh2005
We can take up this issue.
Thank you!
Do you want to claim this issue as well in any programming language?

[2020-09-29 16:43] YorozuyaDev commented on #7
Can I work on it using Rust?

[2020-09-29 16:46] tauseefmohammed2 opened #22 "Implementation of Binary Search Tree"
## 🚀 Feature

Implementation of Binary Search Tree(BST)

### Have you read the Contribution Guidelines?

Yes

## Pitch

Implementing Binary Search Tree C++ and Performing Operations Such as : Insertion, Deletion and Searching

[2020-09-29 16:48] tauseefmohammed2 commented on #22
I would like to work on it and contribute in the repo as a part of Hacktoberfest.

[2020-09-29 16:49] sukritishah15 commented on #22
We can definitely take up this issue @tauseefmohammed2
Thank you for creating this!
Which programming language would you like to claim this issue in?

[2020-09-29 16:51] tauseefmohammed2 commented on #22
In C++

[2020-09-29 16:52] sukritishah15 commented on #22
@tauseefmohammed2 - C++
Assigned

[2020-09-29 16:53] Devansh2005 commented on #21
can i contribute to this code in Python ?

[2020-09-29 16:53] sukritishah15 commented on #21
@Devansh2005 - Python assigned

[2020-09-29 16:54] tauseefmohammed2 commented on #21
Can I implement this in C++?

[2020-09-29 16:55] sukritishah15 commented on #21
@tauseefmohammed2 - C++ assigned

[2020-09-29 17:02] codewithnick commented on #19
python is not assigned yet .. can i try in python?

[2020-09-29 17:13] manan025 commented on #22
I would like to work on this issue.
Language: Python

[2020-09-29 17:14] manan025 commented on #18
I would like to take this issue. Language: Python

[2020-09-29 17:34] Jashandeep2020 opened #23 "Data Structures in C++."
## 🚀 Feature

Want to add some data structures code in the c-plus-plus folder like Linked List and Stack.

### Have you read the Contribution Guidelines?

Yes.

## Pitch

Only one code is present in c-plus-plus folder, so it would be better to have some more data structures implementation.

[2020-09-29 17:35] Jashandeep2020 commented on #23
Want to make contributions under Hacktoberfest.

[2020-09-29 17:49] codewithnick commented on #23
i also can do stack in python

[2020-09-29 17:49] codewithnick commented on #23
please assign me if a issue is opened for the same

[2020-09-29 18:01] lostgirljourney commented on #23
@sukritishah15 di, I can do Implementation of Singly Linked List in C.

[2020-09-29 18:04] Jashandeep2020 commented on #23
Can you please assign this issue to me, for the implementation in c++?

[2020-09-29 18:05] sukritishah15 commented on #23
@Jashandeep2020 - Singly LL and Stack in C++
@codewithnick - Stack in Python
@lostgirljourney - Singly Linked List in C

[2020-09-29 18:05] Anni852 commented on #23
Can I do Doubly LL in C and C++

[2020-09-29 18:08] sukritishah15 commented on #23
Doubly LL
C - @Anni852
C++ - @Anni852

[2020-09-29 18:12] mephi007 commented on #22
Hey @tauseefmohammed2 I can take up this task in Java...

[2020-09-29 18:12] patricktrp commented on #23
I can do Doubly LL in Python

[2020-09-29 18:14] patricktrp commented on #23
I'd do a Singly Linked List in Python

[2020-09-29 18:47] Karthik-Shenoy commented on #23
I'd like to do Singly Linked List, Doubly Linked List, Circular Singly Linked List, Circular Doubly Linked List and Queue in python
can you please assign me to solve these issues

[2020-09-29 22:50] sukritishah15 commented on #23
@patricktrp - Singly Linked List in Python
@Karthik-Shenoy - Doubly Linked List, Circular Singly Linked List, Circular Doubly Linked List and Queue in Python

[2020-09-29 23:08] sukritishah15 commented on #22
@manan025 - Python
@mephi007 - Java
Assigned

[2020-09-29 23:11] sukritishah15 commented on #19
@codewithnick - Python
Assigned

[2020-09-29 23:12] sukritishah15 commented on #18
@manan025 - Python
Assigned

[2020-09-30 01:43] scshiv29-dev commented on #23
assign me stack and queue in java please @sukritishah15

[2020-09-30 05:00] Rahulraj31 commented on #19
I want to do this in Python and I can do this on C++ also

[2020-09-30 05:00] osomat123 commented on #23
Hello, could you please assign me with Circular Singly Linked List, Circular Doubly Linked List, Stack, Queue in C?

[2020-09-30 05:05] Rahulraj31 commented on #23
want to make contribution for Hacktoberfest pls assign me singly/ doubly linked in list in C++ or Python

[2020-09-30 05:20] aditik03 commented on #22
I want to implement in c

[2020-09-30 05:25] aditik03 commented on #23
assign me task circular singly/doubly linked list, stack, and queue to implement in c.

[2020-09-30 05:28] mukulpathania96 commented on #23
I can implement singly LL and doubly LL in java.
Please assign me the task.

[2020-09-30 07:11] APOORVANAGAR-2002 commented on #23
Can you assign me queue in C++?

[2020-09-30 07:13] AnanyaNagar commented on #23
Can you assign circular singly linked list in c++

[2020-09-30 09:40] sukritishah15 commented on #23
@scshiv29-dev - Stack and Queue in Java
@osomat123 -  Circular Singly Linked List and Circular Doubly Linked List in C
@Rahulraj31 - Circular Doubly Linked List in C++
@aditik03 - Stack and Queue in C
@mukulpathania96 - Singly LL and Doubly LL in Java.
@APOORVANAGAR-2002 - Queue in C++
@AnanyaNagar -  Circular Singly LL in C++

Based on preferences received so far you all will be assigned these.
P

[2020-09-30 10:21] patricktrp opened #29 "Implement Selection Sort"
## 🚀 Feature

I've seen that Selection Sort is missing from the sorting algorithms

### Have you read the Contribution Guidelines?

yes

## Pitch

Selection Sort is one of the simple sorting algorithms, if you'll open this issue, I'd like to implement it in Python

[2020-09-30 10:22] sukritishah15 commented on #29
@patricktrp - Python
ASSIGNED

[2020-09-30 10:29] Saujanya0910 commented on #29
Hey, I would like to implement Selection Sort in C++ as a contribution for hacktoberfest 2020, if that's possible. This is my first time contributing to open-source.

[2020-09-30 10:29] sukritishah15 opened #30 "Find middle element in a Linked List"
## 🚀 Feature

Given a singly linked list of N nodes. The task is to find the middle of the linked list.
For example, if given linked list is 1->2->3->4->5 then the output should be 3.
If there are even nodes, then there would be two middle nodes, we need to print the second middle element.
For example, if given linked list is 1->2->3->4->5->6 then the output should be 4.

### Have you read the Con

[2020-09-30 10:32] sukritishah15 opened #31 "Reverse a linked list"
## 🚀 Feature

Given a linked list, reverse it.
LinkedList: 1->2->3->4->5->6
After reversing the list, elements are 6->5->4->3->2->1.

### Have you read the Contribution Guidelines?

Yes

## Pitch

An easy Linked List problem.

[2020-09-30 10:39] aniketmaurya commented on #31
I would like to work on this

[2020-09-30 10:56] gokulkannan7 commented on #30
@sukritishah15 can I work on this issue?

[2020-09-30 11:00] sukritishah15 commented on #30
Sure! But in which programming language - C, C++, Java, Python?

[2020-09-30 11:01] sukritishah15 commented on #31
Sure! But which programming language - C, C++, Java, Python?

[2020-09-30 11:01] codewithnick commented on #30
i want to do this in python

[2020-09-30 11:01] sukritishah15 commented on #29
Definitely! Assigned in C++.

[2020-09-30 11:01] gokulkannan7 commented on #30
I'll do it in C++

[2020-09-30 11:01] Parth505 commented on #31
I can solve that problem using Python

[2020-09-30 11:02] AdeshChoudhar19 commented on #31
I would also like to contribute. Python/C++.

[2020-09-30 11:03] sukritishah15 commented on #30
@gokulkannan7 - C++
@codewithnick - Python
Assigned

[2020-09-30 11:04] sukritishah15 commented on #31
@Parth505 - Python
@AdeshChoudhar19 - C++
Assigned

[2020-09-30 11:26] kamil200 commented on #31
Hi,
I would love to work on this issue as my first contribution.
I can solve it using java.

[2020-09-30 11:28] sukritishah15 commented on #31
@kamil200 - Java assigned

[2020-09-30 11:30] prophet-x commented on #30
hey! @sukritishah15 I would like to contribute the solution to this problem in java.

[2020-09-30 11:31] prophet-x commented on #30
hey! @sukritishah15 I would like to contribute the solution to this problem in java. So can you please assign it to me.

[2020-09-30 11:33] prophet-x commented on #31
I want try to do this problem in C language can you please assign it to me.

[2020-09-30 11:35] sukritishah15 commented on #30
@prophet-x - Java assigned

[2020-09-30 11:39] satwik-chowdary commented on #30
Can I do this

[2020-09-30 11:44] sukritishah15 commented on #30
We have assigned this issue already for C++ and Python.
We are not accepting code for JS.
If you can do it in C, I'll assign it to you directly. Let me know

[2020-09-30 11:46] satwik-chowdary commented on #30
Yeah sure I can do it

[2020-09-30 11:48] sukritishah15 commented on #30
Okay
@satwik-chowdary - C
Assigned

[2020-09-30 12:04] mukulpathania96 commented on #23
Hey can you assign me the Circular Singly LL and Cicular DoublyLL?

[2020-09-30 12:05] prophet-x commented on #21
@sukritishah15 can I solve this problem in C. please assign it to me.

[2020-09-30 12:17] satwik-chowdary commented on #31
I can do this in C

[2020-09-30 12:42] aditik03 commented on #23
which language?

[2020-09-30 12:55] jcads commented on #29
Hi, I can implement this in Java.

[2020-09-30 13:03] aditik03 opened #35 "Implement 0/1 Knapsack Problem using Dynamic Programming approach"
## 🚀 Feature

Consider an example of a thief who wants to steal jewelry from a jewelry shop but he has a constraint with the bag he carries which can only hold some specific weight. Help him picking up the jewelry such that he gets maximum profit without violating the bag's constraint.

For example-
Input-
value[] = {60,100,120}
weight[] = {10,20,30}
W = 50 (weight of knapsack)
Output-
Profit = 22

[2020-09-30 13:07] juanbelieni commented on #35
I would like to work on this using python.

[2020-09-30 13:07] sukritishah15 commented on #23
Yes, assigned both Circular Singly LL and Cicular Doubly LL in Java
@mukulpathania96

[2020-09-30 13:08] aditik03 commented on #35
Sure! and assigned

[2020-09-30 13:09] sukritishah15 commented on #21
@prophet-x - C
Assigned

[2020-09-30 13:11] sukritishah15 commented on #31
@satwik-chowdary - C
Assigned

[2020-09-30 13:12] chhipanikhil9 commented on #35
i can in cpp

[2020-09-30 13:12] sukritishah15 commented on #29
@jcads - Java
Assigned

[2020-09-30 13:14] aditik03 commented on #35
sure and assigned

[2020-09-30 13:14] sukritishah15 commented on #35
@juanbelieni - Python
@chhipanikhil9 - C++

[2020-09-30 13:15] jovianjaison commented on #29
Hey can I take this up in C?

[2020-09-30 13:15] Ayushmaan2001 opened #36 "Implement Stack"
## 🚀 Feature

I've seen that Stack is missing from the data structure

### Have you read the Contribution Guidelines?

yes

## Pitch

Stack is one of the simple data structure ,if you''ll open this issue , i'd like to implement it it in cpp

[2020-09-30 13:18] sukritishah15 commented on #29
@jovianjaison - C
Assigned

[2020-09-30 13:19] shubhi2000 commented on #35
Hi,
I would like to work on this using Java. Thanks!

[2020-09-30 13:22] sukritishah15 commented on #36
@Ayushmaan2001 - We have Issue #23
In this we have taken up the implementation of some common data structures.
BUT, DSA is vast.
You can open issues for other data structures or their applications in standard problems.

Please, feel free to raise ISSUES.
Also, let me know the programming lang. you would like to take up the issue in - 4 available(C,C++,Java,Python)

[2020-09-30 13:22] sukritishah15 commented on #35
@shubhi2000 - Java
Assigned

[2020-09-30 13:44] sunilgknair051 commented on #12
Hi!
Would love to help out as well.

[2020-09-30 13:45] Ayushmaan2001 commented on #36
So this means that i can't implement stack and try any another data structure??
i would like to take up the issue in c++ language

[2020-09-30 13:54] sukritishah15 commented on #36
You can create issues for different data structures / Algorithms.
Example - Matrix Chain Multiplication (DP), Linked List is palindrome or not, Number is palindrome or not etc.
There are so many things... Pick any DS/Algo. for which an issue has not been created so far and code is absent in the codebase.
Create an issue for any of these. 👍

Stack is already claimed by other contributors.
They woul

[2020-09-30 13:55] Subham-Panda commented on #21
Can you assign me javascript ??

[2020-09-30 13:57] sukritishah15 commented on #12
Sure! Go ahead!
This issue is open for all to contribute. 👍

[2020-09-30 13:58] shaswatsingh19 opened #38 "Algorithms in python"
## 🚀 Feature

All the Algorithms in python which is easy to understand and can help the beginner to learn algorithm in python

### Have you read the Contribution Guidelines?

Yes

## Pitch

Most of us do competitive programming in c++ or java but most of the competitive programmer doesn't use python so just trying to make a change here because if a beginner try to read a c++ file of a competitive

[2020-09-30 14:01] niranjantuty commented on #21
Can I work on this using Java?

[2020-09-30 14:03] sukritishah15 commented on #21
@niranjantuty - Java
assigned

[2020-09-30 14:05] sb2356-iiitr commented on #12
Ok so where do we add the resources?

[2020-09-30 14:08] sukritishah15 commented on #38
@shaswatsingh19 This is a good initiative.
But our intention is to implement a particular DS/Algo in all 4 programming languages - C, C++, Java, Python simultaneously.

What we can do is, you create issues for a DS that is not present in the codebase and for which there is no open issue or PR as of now.

We will assign that particular issue to you in Python.
And other contributors can claim it for

[2020-09-30 14:09] shaswatsingh19 opened #39 "implement Sieve of Eratosthenes"
## 🚀 Feature

Implementation of  Sieve of Eratosthenes in python

### Have you read the Contribution Guidelines?

Yes

## Pitch

This is one of the best algorithms to find the prime from a particular range and also to find the prime number with O(nlogn) time complexity

[2020-09-30 14:10] shaswatsingh19 commented on #38
Yeah looks great,I will do that

[2020-09-30 14:11] shaswatsingh19 commented on #36
Can I do this in python

[2020-09-30 14:12] sukritishah15 commented on #12
I've added a RESOURCES.md file
Add resources over there 👍

[2020-09-30 14:16] sukritishah15 commented on #39
@shaswatsingh19 - Python assigned

[2020-09-30 14:18] sb2356-iiitr commented on #12
Ok

[2020-09-30 14:18] sukritishah15 commented on #36
I'm sorry we are not taking up this issue.
As we have an open issue for implementing stack already.
And it has been claimed in Python.

You can always create new issues.
Thank you!

[2020-09-30 14:19] #36 closed

[2020-09-30 14:19] sukritishah15 commented on #38
Thank you @shaswatsingh19

[2020-09-30 14:19] #38 closed

[2020-09-30 14:20] shaswatsingh19 commented on #39
Thanks

[2020-09-30 14:26] sukritishah15 opened #40 "🚀 HACKTOBERFEST 2020"
## 🚀 HACKTOBERFEST 2020

PR's are being reflected on profile.
You can start sending your PR's immediately, so that we can start reviewing them.

### All the best! 👍

[2020-09-30 14:32] harshit-labs commented on #39
can I contribute this algorithm in c++ or in c?

[2020-09-30 14:35] sukritishah15 commented on #39
@harshit-labs - C
Assigned

[2020-09-30 14:37] mcaupybugs commented on #39
Can I contribute this algorithm in c++ if it is already assigned for C?

[2020-09-30 14:46] sukritishah15 commented on #39
@mcaupybugs - C++ assigned

[2020-09-30 14:54] chhipanikhil9 commented on #39
i can do it in java

[2020-09-30 15:06] Akash52 opened #46 "Implement Big mod using Binary exponation"
## 🚀 Feature

(Write down a clear and concise description of what the feature is.)
Binary exponation is optimize solution for finding Big squre problem,
Time Complexity : O(log n)
### Have you read the Contribution Guidelines?
Yes !

(Write your answer here.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

[2020-09-30 16:02] sukritishah15 opened #52 "Implement Linear Search."
## 🚀 Feature

Implement Linear Search.

### Have you read the Contribution Guidelines?

Yes

## Pitch

Standard Searching Technique

[2020-09-30 16:05] mcaupybugs commented on #52
Can I work on this in C++?

[2020-09-30 16:06] sukritishah15 commented on #52
@mcaupybugs - C++ assigned

[2020-09-30 16:09] ShovikGod commented on #52
Can I work on this issue in C??

[2020-09-30 16:09] niranjanneeru commented on #52
I would like to work on this in Java

[2020-09-30 16:15] sukritishah15 commented on #52
@ShovikGod - C
@niranjanneeru - Java

[2020-09-30 16:16] mcmonojit opened #55 "Length of the longest path in a matrix"
## 🚀 Feature

### Description

(Important concept for competitive programming).

### Have you read the Contribution Guidelines?

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

[2020-09-30 16:18] mcmonojit commented on #55
Hello @sukritishah15 , I would like to work on this issue. The implementation will be in JAVA. Can you please assign this to me ?

[2020-09-30 16:19] sukritishah15 commented on #55
@mcmonojit
1. Please add an example / Sample I/O for others to understand.
2. Do you wish to claim this issue as well? If yes, in which Programming lang. - C, C++, Java, Python

[2020-09-30 16:20] sukritishah15 commented on #55
Sure!
@mcmonojit - Java assigned

[2020-09-30 16:30] mcmonojit commented on #55
I have added a sample example.

[2020-09-30 16:32] shaswatsingh19 commented on #55
May I implement this in python

[2020-09-30 16:51] shaswatsingh19 opened #59 "Implement heap sort"
## 🚀 Feature

implement heap sort

### Have you read the Contribution Guidelines?

Yes

## Pitch

One of the best sorting algorithm in comparison to selection sort but it is better in term of time and space complexity

[2020-09-30 16:52] shaswatsingh19 commented on #59
Hello @sukritishah15, I would like to work on this issue.
Can you assign it to me
I can do this in python

[2020-09-30 16:55] shaswatsingh19 opened #60 "Implement Merge sort"
## 🚀 Feature

merge sort implementation in python

### Have you read the Contribution Guidelines?

Yes

## Pitch

Merge sort is a divide and conquer type algorithm with a time complexity of O(nlogn) which is better than selection and insertion sort

[2020-09-30 16:55] shaswatsingh19 commented on #60
Hey @sukritishah15 , I would like to work on it on python

[2020-09-30 17:01] SuyashGupte commented on #59
I can do this in python

[2020-09-30 17:01] SuyashGupte commented on #60
I can do this in python

[2020-09-30 17:05] mephi007 commented on #59
hey @sukritishah15 I would like to do this in Java, can you please assign this to me?

[2020-09-30 17:12] mephi007 commented on #22
@sukritishah15 How to add link of the code in Readme.md?

[2020-09-30 17:19] shaswatsingh19 commented on #46
can you please provide some input and output

[2020-09-30 17:19] jhoserpacheco opened #63 "Implement Binary Search"
## 🚀 Feature

Implement Binary Search

### Have you read the Contribution Guidelines?

Yes

## Pitch

It will help us to find elements in the arrays. Standard searching technique.

## Assignees

@jhoserpacheco - Java
@mcaupybugs - C++
@shaswatsingh19 - Python
@Pranav1642 - C
@pheeel  - JS
@LaxmiNyamagoud - PHP
@AndreaBiondaro  - GO

[2020-09-30 17:20] mcaupybugs commented on #63
Would like to implement the same in CPP. Please assign it to me.

[2020-09-30 17:21] #60 closed

[2020-09-30 17:22] shaswatsingh19 commented on #63
I can work with python

[2020-09-30 17:34] 616bqwerty commented on #35
I would like to work with C.

[2020-09-30 17:45] Pranav1642 commented on #63
I would work on c program of this issue

[2020-09-30 17:55] mephi007 opened #65 "Rotate LinkedList in K group"
## 🚀 Feature

Rotate LinkedList in K group

### Have you read the Contribution Guidelines?
Yes

## Pitch

(Please explain why this feature should be implemented and how it would be used.)
Gives visualization to recursion and LinkedList.

[2020-09-30 17:56] mephi007 commented on #65
Hey @sukritishah15 I have created one issue that could be helpful understanding recursion and LinkedList.
Can you please assign this to me, I can do this in Java?

[2020-09-30 18:18] khushboogupta13 commented on #12
Hello! I really want to contribute to this project! Can anyone assign me an issue so that I can start working?

[2020-09-30 18:24] Uttam-Singhh commented on #21
Can I work on This Using C++ or Python?

[2020-09-30 18:31] Uttam-Singhh commented on #6
Hey, Can I Work on Python?

[2020-09-30 18:31] keivalya commented on #55
I'd like to work on it in Python😄

[2020-09-30 18:48] Algure commented on #2
I'd like to contribute in java

[2020-09-30 19:00] ayushi-1408 commented on #3
Hey ! I can do it in C

[2020-09-30 19:01] ayushi-1408 commented on #7
I would love to write code in c

[2020-09-30 19:01] ShovikGod commented on #63
Can I solve this issue in C??

[2020-09-30 19:02] ayushi-1408 commented on #12
Hey I would love to do this

[2020-09-30 19:04] therohanjaiswal commented on #52
Hi, I would like to do this in python.

[2020-09-30 19:06] singlamohit1 commented on #65
Can you please assign this to me, I can do this in C++ in the best optimized way possible?

[2020-09-30 19:10] sukritishah15 commented on #59
@shaswatsingh19 - Python
@mephi007 - Java
Assigned

Do remember -
1. Create a new PR. Create a new branch. Mention the issue # in your PR.
2. Add Sample I/P, O/P, Time and Space complexity in a single MULTILINE COMMENT.

DO NOT VIOLATE ANY OF THESE. Else, I will have to close the PR.

[2020-09-30 19:16] sukritishah15 commented on #63
@jhoserpacheco - Java
@mcaupybugs - C++
@shaswatsingh19 - Python
@Pranav1642 - C
Assigned

Do remember -

1. Create a new PR. Create a new branch. Mention the issue # in your PR.
2. Add Sample I/P, O/P, Time and Space complexity in a single MULTILINE COMMENT.
DO NOT VIOLATE ANY OF THESE. Else, I will have to close the PR.

[2020-09-30 19:26] sharannyobasu opened #82 "Tower of Hanoi using recursion"
## 🚀 Feature

Add tower of Hanoi recursion code in C++ (Optimized in the best way possible)

## Have you read the Contribution Guidelines?

Yes

## Pitch
(Please explain why this feature should be implemented and how it would be used.)

Want to add the tower of Hanoi program as it is not yet added but remains one of the most asked interview questions. Please assign me the cpp code task

[2020-09-30 19:27] sukritishah15 opened #83 "Search Repeating elements using Map/Hashmap"
## 🚀 Feature

Search Repeating elements using Map / Hashmap

### Have you read the Contribution Guidelines?

Yes

## Assignees
@garv-cmd - Java

[2020-09-30 19:38] jhoserpacheco commented on #83
I could do it in c ++

[2020-09-30 19:40] sukritishah15 commented on #35
@616bqwerty - C
assigned

[2020-09-30 19:41] appsplash99 commented on #83
Have you read the Contribution Guidelines?
- [x] YES

I would like to work it in Python. 😄
Can you please assign it to me??

[2020-09-30 19:45] m-e-r-l-i-n commented on #83
can i do it in java?

[2020-09-30 19:49] singhalpranav22 commented on #59
Can i do this in cpp ?
I have great hold of cpp as a competitive programmer.

[2020-09-30 19:51] sukritishah15 commented on #59
@singhalpranav22 - C++

[2020-09-30 19:52] Devansh2005 commented on #82
Can i work on this using Python ?

[2020-09-30 19:57] Devansh2005 opened #100 "Code to check if the entered integer id automorphic or not ."
## 🚀 Feature

(Write down a clear and concise description of what the feature is.)

### Have you read the Contribution Guidelines?

Yes

## Pitch

Automorphic Number is a natural number in a given number base whose square "ends" in the same digits as the number itself.

[2020-09-30 20:03] SuyashGupte commented on #100
I can do this in python.

[2020-09-30 20:03] sushant-varanasi commented on #82
i have worked on this using c++

[2020-09-30 20:06] Devansh2005 commented on #100
Can i do this in Python?

[2020-09-30 20:12] ShovikGod commented on #100
I do this in C or Java or Python.

[2020-09-30 20:16] vvekparmar opened #108 "Maze Problem using Backtracking"
Maze Problem using Backtracking

Using Python Programming.

Add in appropriate folder.

[2020-09-30 20:17] krrahul23 opened #109 "Dijkstra"
## 🚀 Feature

(Write down a clear and concise description of what the feature is.)

### Have you read the Contribution Guidelines?

(Write your answer here.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

[2020-09-30 20:22] krrahul23 commented on #109
I can implement Dijkstra's Algorithm in  C++ (optimized in best way possible)

[2020-09-30 20:26] scshiv29-dev commented on #109
I can implement it in java

[2020-09-30 20:27] sukritishah15 commented on #65
@mephi007 - Java
@singlamohit1 - C++

Assigned

Do remember -

Create a new PR. Create a new branch. Mention the issue # in your PR.
Add Sample I/P, O/P, Time and Space complexity in a single MULTILINE COMMENT.
DO NOT VIOLATE ANY OF THESE. Else, I will have to close the PR.

[2020-09-30 20:28] krrahul23 opened #112 "Tarjan's Algorithm to find Articulation Points in a graph."
## 🚀 Feature

Tarjan's Algorithm to find the articulation points in a graph in c++.

### Have you read the Contribution Guidelines?

Yes

## Pitch
Articulation Points (Cut Vertices ) are those points in graph which when removed results in increase of number of components
of graph . These points can be found efficiently  using Tarjan's Algorithm

[2020-09-30 20:28] krrahul23 commented on #112
I would like to implement this algo in c++

[2020-09-30 20:32] satwik-chowdary commented on #83
I will do it in C/C++/python. Pls assign it to me

[2020-09-30 20:41] krrahul23 opened #116 "Kadane's Algorithm to find maximum sum subarray."
## 🚀 Feature
Implementation of Kadane's algorithm which is used to find the maximum sum  continuous  subarray  in O(n) time.

### Have you read the Contribution Guidelines?
Yes

## Pitch
Kadane's algorithm is a very famous algorithm which is used to find the maximum sum continuous subarray in O(n) time complexity . This algorithm falls under dynamic programming paradigm.

[2020-09-30 20:41] krrahul23 commented on #116
I can implement it in c++

[2020-09-30 20:46] mrjoshi0147 commented on #116
Hey, can I work on this issue?  I will code the solution in Java.

[2020-09-30 20:47] MannanAhmad commented on #1
I want to add the Merge Sort Program in C language.

[2020-09-30 20:49] mrjoshi0147 commented on #65
Can I code this in C or Python?

[2020-09-30 21:13] MannanAhmad commented on #13
I would like to do this in C language.

[2020-09-30 21:38] dev1920 commented on #100
Can i do this in C.

[2020-09-30 21:47] sukritishah15 commented on #82
I've received a PR for C++. So, there is no point for me to assign it to you @sharannyobasu
Would you like to implement it in C, @sharannyobasu ?

@Devansh2005 - Python assigned

[2020-09-30 21:59] nshattuck20 commented on #83
I would like to take on the Python version. This would be my first time contributing to open source!

[2020-09-30 21:59] sukritishah15 commented on #108
@vvekparmar - Python assigned.

[2020-09-30 22:25] sukritishah15 commented on #82
@nileshteji - Java assigned

[2020-09-30 22:30] sukritishah15 commented on #109
@krrahul23 - C++
@nileshteji - Java
Assigned.

@scshiv29-dev - I can't assign you this in Java, as I have already received a PR in Java.

It would be appreciated if you send PR, once you are assigned an issue, NOT before that.

[2020-09-30 22:33] sukritishah15 commented on #100
@Devansh2005 - Python (Since you've created the issue)
@ShovikGod - Java
@dev1920 - C
assigned

[2020-09-30 22:35] sukritishah15 commented on #112
@krrahul23 - C++
Assigned

[2020-09-30 22:37] sukritishah15 commented on #116
@krrahul23 - C++
@mrjoshi0147 - Java

Assigned

[2020-09-30 23:12] maharajch opened #124 "Implement Ternary Search"
Implement Ternary Search Algorithm in C++/Python/Java

[2020-09-30 23:54] Mynk-9 commented on #116
Hey! I can implement this using Python. Can I do it?

[2020-10-01 00:19] Mynk-9 commented on #124
Hi! I would like to implement this in c++.

[2020-10-01 00:33] sukanyashet commented on #109
Can I implement this in C?

[2020-10-01 00:33] jhoserpacheco commented on #112
I would like to implement this algo in java

[2020-10-01 01:34] Mynk-9 commented on #124
I would love to do this in c++. Please assign me.

[2020-10-01 01:40] Mynk-9 commented on #100
I would like to implement this in c++.

[2020-10-01 02:02] Akash52 commented on #46
Input : 3  18132 17 example (3 POW 18132 mod 17)=13
Output : 13

[2020-10-01 02:11] jhoserpacheco opened #133 "Implement Traveling Salesman Problem (TSP)"
## 🚀 Feature

it is a problem of finding optimal route between nodes in the graph. The total travel distance can be one of the optimization criterion. I can in Java or c++

### Have you read the Contribution Guidelines?

Yes

## Pitch

optimization in graph

[2020-10-01 02:21] jhoserpacheco opened #134 "implement Z function"
## 🚀 Feature

i can implement z function in java or c++

### Have you read the Contribution Guidelines?

Yes

## Pitch

finds all occurrences of a pattern in a text in linear time

[2020-10-01 02:30] jhoserpacheco commented on #46
I can implement it in c++

[2020-10-01 02:32] Manavi18 commented on #12
Hello! I really want to contribute to this project! Can anyone please assign me an issue so that I can start working?

[2020-10-01 02:38] Anushka-Rajvanshi commented on #134
Please assign this to me for C++ implementation.

[2020-10-01 02:43] Akash52 commented on #46
Please assign me I'm work on these !

[2020-10-01 03:09] twentyonedot commented on #83
Can I work on this in Java?

[2020-10-01 03:11] Manavi18 commented on #124
Hello! I would love to take this up and solve in python.

[2020-10-01 03:29] sohail24 commented on #116
Hey can I implement this in c programming language. I'LL try my best effort to make it simple and easy to read.

[2020-10-01 03:43] mephi007 commented on #108
hey I can do this in Java. Can you please assign this to me?

[2020-10-01 03:48] tdchua opened #140 "Implement Singly Linked List"
## 🚀 Feature

An implementation of the Singly Linked List data structure with commands such as:
- reverse traversal
- node deletion
- node insertion
- normal traversal

### Have you read the Contribution Guidelines?

Yes

## Pitch

I will be doing this in Python with proper commenting.

[2020-10-01 03:50] Manavi18 commented on #133
Hello! I can solve this issue in python or C.

[2020-10-01 03:52] viragz158 commented on #83
I know people have already claimed, but I am here as a first-timer. Comfortable to take for Java or Python

[2020-10-01 03:54] viragz158 commented on #140
I would like to do this in Java. First-timer here.

[2020-10-01 04:00] Rahulraj31 commented on #100
I can do this C++ python C

[2020-10-01 04:02] Pratik-Patil-p0212-m3108 commented on #3
@sukritishah15 Hey can I do this code in python? Can you please assign it to me? Thanks.

[2020-10-01 04:05] Pratik-Patil-p0212-m3108 commented on #109
@sukritishah15 Can I impliment this in python?

[2020-10-01 04:05] lostgirljourney commented on #12
@Manavi18 start working, it's an open issue.

[2020-10-01 04:06] Pratik-Patil-p0212-m3108 commented on #140
I would like to do this in python. Can you please assign this issue to me?

[2020-10-01 04:08] 616bqwerty commented on #35
Thank you!!

[2020-10-01 04:11] mephi007 commented on #140
I can do this in Java, Can you please assign this to me?

[2020-10-01 04:27] sohail24 commented on #116
hey i have done the  implementation as well as added timecomplexity and spacecomplexity now (C Language). can i do pull request and add this in readme.md

[2020-10-01 04:46] ShovikGod commented on #140
I can do this in C.

[2020-10-01 04:57] FinalGetsugaa commented on #140
I would love to contribute in C++. Please Assign the task.

[2020-10-01 04:58] FinalGetsugaa commented on #7
I would like to do it in C#

[2020-10-01 04:59] malhotraravi842 commented on #140
I would love to implement this in C++, please assign me this.

[2020-10-01 05:03] pranavbharadwaj007 commented on #140
I would love to implement this in C++.

[2020-10-01 05:16] lostgirljourney commented on #140
Refer to issue no.: #23 @tdchua

[2020-10-01 05:28] tatticoder opened #149 "Maximum digit using given numbers"
## Create largest number possible using given numbers (can be multiple digits)

### Have you read the Contribution Guidelines?

Yes

## Pitch

This algorithm would be really useful when someone needs to find largest number possible in short amount of time without  trying out all possible combinations.

[2020-10-01 05:34] #140 closed

[2020-10-01 05:36] natedtcc opened #150 "Implement Shell Sort Algorithm"
## 🚀 Feature

Implement a shell sort algorithm, including comments and time/space complexity.

### Have you read the Contribution Guidelines?

Yes.

## Pitch

Haven't seen this one listed yet! I would like to submit a Java implementation of it. Thanks!

[2020-10-01 05:36] tatticoder opened #151 "Find Greatest common divisor"
## Greatest common divisor
Implement **Euclidean Algorithm** to find greatest common divisor of 2 given numbers.

### Have you read the Contribution Guidelines?

Yes

## Pitch

It will be implemented as a function which returns **Highest common factor** of given 2 numbers. This algorithm is much more fast and efficient than the naive approach and takes very short amount of time to compute GCD of v

[2020-10-01 05:38] Manavi18 commented on #151
I can implement it in python.

[2020-10-01 05:39] Manavi18 commented on #150
I can implement this in python.

[2020-10-01 05:40] Manavi18 commented on #149
I can implement this in python.

[2020-10-01 05:44] tdchua commented on #151
I can do this in C++ :D

[2020-10-01 05:46] natedtcc commented on #151
I would love to do this in Java please :)

[2020-10-01 05:48] Manavi18 commented on #150
Please assign it. :)

[2020-10-01 05:54] tatticoder opened #154 "Create CONTRIBUTION_GUIDELINES.md"
## Create a separate markdown for for contribution guidelines

### Have you read the Contribution Guidelines?

Yes

## Pitch

I understand that having guidelines in readme.md is convenient and beginner friendly But, having a separate contributing.md in root of directory will make this repository more modular and structured. Many projects use this structure and GitHub shows a link at top of page to

[2020-10-01 05:54] tatticoder commented on #154
I would like to work on it. Please assign it to me.

[2020-10-01 05:55] tatticoder commented on #149
I would like to work on it in C++ 17.
Please assign it to me.

[2020-10-01 05:56] tatticoder commented on #151
I would like to work on it in C++ 17.
Please assign it to me.

[2020-10-01 05:58] Sudheer121 commented on #151
Assign me this, will write it in C.

[2020-10-01 06:01] ankur-kayal opened #156 "Implementing Kahn's Algorithm for finding the Topological Sort of a Directed Acyclic Graph"
## 🚀 Feature

Implementing Kahn's Algorithm for finding the Topological Sort of a Directed Acyclic Graph

### Have you read the Contribution Guidelines?

Yes.

## Pitch

Topological Sort is a very technique to find which task needs to be completed before whom. In real world, we can represent the dependant tasks into a directed acyclic graph and find the topological sorting of the Directed Acyclic

[2020-10-01 06:01] ankur-kayal commented on #156
Can i implement this in c++?

[2020-10-01 06:14] natedtcc commented on #149
I would like to implement this in Java, please! :)

[2020-10-01 06:43] nipunwijetunge commented on #83
I'd like to contribute on this.

[2020-10-01 06:47] ShovikGod commented on #149
I think no one yet commented for C, can you please assign it to me?

[2020-10-01 06:50] therohanjaiswal commented on #59
I want to implement heap sort in C. Could you assign it to me?

[2020-10-01 06:57] nerdynikhil opened #162 "Implement QuickSort, Insertion Sort, Heap Sort, Radix Sort and Bucket Sort in Python"
## 🚀 Feature

Implement QuickSort, Insertion Sort, Heap Sort, Radix Sort, and Bucket Sort algorithms in Python.

### Have you read the Contribution Guidelines?

Yes.

## Pitch

Since sorting can often reduce the complexity of a problem, these are the most needed prerequisites for problem-solving in Computer Science. These algorithms have direct applications in them and a must before delving deeper

[2020-10-01 07:00] sig5 opened #163 "Implementing Kosaraju's algorithm"
## 🚀 Implementing Kosaraju's algorithm

kosaraju algorithm is used to find Strongly connected components in a Directed Graph,

### Have you read the Contribution Guidelines?

Yes

## Pitch

This algorithm is quite essential for a programmer to learn

[2020-10-01 07:01] sig5 commented on #163
Can I implement it using C++?

[2020-10-01 07:04] therohanjaiswal commented on #112
I would like to implement this using Python.

[2020-10-01 07:04] shaswatsingh19 commented on #163
Can i do this in python

[2020-10-01 07:06] banerjee-suchismita commented on #108
Hey can I do this in C?

[2020-10-01 07:06] sig5 commented on #108
Can I be assigned this for C++?

[2020-10-01 07:07] ashitajain14 commented on #162
Hey, can I implement QuickSort in python?

[2020-10-01 07:08] ashitajain14 commented on #133
Hey, can you assign this issue to me in python?

[2020-10-01 07:08] banerjee-suchismita commented on #162
Hello, can I be assigned to implement QuickSort in Python?

[2020-10-01 07:08] natedtcc commented on #162
Some of these are already open and already assigned:
#1 , #13 , #59

[2020-10-01 07:10] ashitajain14 commented on #162
Oh okay, then can you assign me Radix Sort in python?

[2020-10-01 07:12] nerdynikhil commented on #162
@sukritishah15 Can you assign Radix Sort and Bucket Sort to me? (In python)

[2020-10-01 07:13] therohanjaiswal commented on #82
I would like to implement this in C.

[2020-10-01 07:14] natedtcc commented on #162
@nerdynikhil Fix your post.

[2020-10-01 07:28] nipunwijetunge commented on #16
May I work on this in java?

[2020-10-01 08:01] SuyashGupte opened #169 "Longest Common Subsequence in Python"
## 🚀 Feature

Given two strings find the longest common subsequence.
Example:
string1 : abaaba
string2: aababa
Output: aaba
### Have you read the Contribution Guidelines?

Yes
## Pitch

Using Hashing this problem can be solved in linear time

[2020-10-01 08:01] SuyashGupte commented on #169
i want to work on this.

[2020-10-01 08:09] yashkansal commented on #134
I would like to implement in java

[2020-10-01 08:42] GhostUser commented on #63
I will implement binary search in golang.

[2020-10-01 08:43] GhostUser commented on #63
can you pls assign?

[2020-10-01 08:57] sushant-varanasi opened #171 "Implementing Greedy algorithm in C++"
## 🚀 Implementing Greedy algorithm in C++

Given a value V, if we want to make a change for V Rs, and we have an infinite supply of each of the denominations in Indian currency, i.e., we have an infinite supply of { 1, 2, 5, 10, 20, 50, 100, 500, 1000} valued coins/notes, what is the minimum number of coins and/or notes needed to make the change?

### Have you read the Contribution Guidelines?

Ye

[2020-10-01 08:59] aditik03 commented on #171
Hey, please mention the task for implementing this algorithm.

[2020-10-01 09:00] sushant-varanasi commented on #171
I am interested to implement it in c++

[2020-10-01 09:04] jovianjaison commented on #133
Hi can I do this in C++?

[2020-10-01 09:16] pawki07 commented on #39
Hey, I would like to work on this issue. Please assign it to me.

[2020-10-01 10:05] harshit-labs commented on #39
thanks

[2020-10-01 10:44] manan025 commented on #116
Can I work on this in python?

[2020-10-01 10:47] sukritishah15 commented on #133
@jhoserpacheco - Java
@Manavi18 - C
@ashitajain14 - Python
@jovianjaison - C++

Assigned

[2020-10-01 10:51] sukritishah15 commented on #134
@jhoserpacheco - Java
@Anushka-Rajvanshi - C++

Assigned

[2020-10-01 10:52] sukritishah15 commented on #163
@sig5 - C++
@shaswatsingh19 - Python

Assigned

[2020-10-01 10:56] sukritishah15 commented on #162
@nerdynikhil - Python - Radix and Bucket Sort assigned.
Since, you created PR.

[2020-10-01 10:59] sukritishah15 commented on #156
@ankur-kayal - C++
Assigned

[2020-10-01 11:03] shub-coder opened #186 "Implement Quick Sort on Doubly Linked List"
## 🚀 Feature

Implementation of quick sort algorithm on doubly linked list

### Have you read the Contribution Guidelines?

yes
## Pitch

Quick Sort algorithm is a divide and conquer algorithm which selects an element as a pivot and does partition around it.

[2020-10-01 11:04] sukritishah15 commented on #151
@tatticoder - C++ (Since you created issue, fcfs criteria)
@Manavi18 - Python
@natedtcc - Java
@Sudheer121 - C

Assigned

[2020-10-01 11:10] sukritishah15 commented on #150
@natedtcc - Which prog. lang. would you like to take this in?
@Manavi18 - Python assigned

[2020-10-01 11:13] sukritishah15 commented on #149
@tatticoder - C++
@Manavi18 - Python
@natedtcc - Java
@ShovikGod - C

Assigned

[2020-10-01 11:18] sukritishah15 commented on #154
Agreed.
We were looking for people to do it.
Go ahead!
Create a CONTRIBUTION_GUIDELINES.md file

Assigned

[2020-10-01 11:28] AnanyaNagar commented on #82
@therohanjaiswal - C assigned

[2020-10-01 11:37] harshit-labs commented on #39
please check my pull request for the sieve of Eratosthenes program in C language.

[2020-10-01 11:39] lostgirljourney opened #191 "Hacktoberfest 2020 - Repositories accepting PR's"
## 🚀 Feature

 An issue about sharing links of the other repo in comments for those who has not got any opportunities in this repo can visit the shared links where they can contribute.

### Have you read the Contribution Guidelines?

Yes

## Pitch

Hoping it will promote the culture of Open Source among newbies.

[2020-10-01 11:41] sukanyashet commented on #169
I would like to work on this in Java

[2020-10-01 11:41] aditik03 commented on #191
@lostgirljourney :)

[2020-10-01 11:48] yashkansal commented on #186
I would like to implement in java

[2020-10-01 11:56] yashkansal commented on #162
I would like to implement radix sort in java

[2020-10-01 11:59] mcaupybugs commented on #169
I would like to contribute in C++.

[2020-10-01 12:01] aditik03 commented on #169
sure

[2020-10-01 12:01] manan025 commented on #150
Could you please assign it to me? I'll use C++ to implement it.

[2020-10-01 12:01] aditik03 commented on #169
sure

[2020-10-01 12:02] manan025 commented on #186
I would like to work on this. Language: Python

[2020-10-01 12:06] sukritishah15 commented on #191
These are the repositories accepting PR's under Hacktoberfest 2020

**@vinitshahdeo**
https://github.com/vinitshahdeo/Hacktoberfest2020

**@garimasingh128**
1. https://github.com/garimasingh128/Hacktoberfest2020-MovieDo
2. https://github.com/garimasingh128/gitsetgo
3. https://github.com/garimasingh128/awesome-python-projects
4. https://github.com/garimasingh128/profext
5. https://github.com/garima

[2020-10-01 12:12] aditik03 commented on #186
@yashkansal - Java
@manan025 - Python

[2020-10-01 12:27] sukritishah15 opened #201 "Looking for Collaborators - To review and merge code"
## 🚀 Feature

Looking for Collaborators - To review and merge code.

Please leave a comment below.

## PERKS
We will be providing a LinkedIn recommendation and endorsements(Open Source / Git / GitHub / Version Control / Coding / Programming Language / Team work).

[2020-10-01 12:35] aditik03 commented on #169
@mcaupybugs - CPP
@sukanyashet  - Java

[2020-10-01 12:52] sukritishah15 commented on #109
@sukanyashet - C
@Pratik-Patil-p0212-m3108 - Python

Assigned

[2020-10-01 12:53] ANKITAKHAN commented on #100
@Devansh2005 I can contribute the same in C#

[2020-10-01 13:05] therohanjaiswal commented on #112
I would like to implement this in C.

[2020-10-01 13:42] shub-coder opened #208 "Mathematical Sequence and series"
## 🚀 Feature

To create a program for implementation of the following mathematical series-
1. Harmonic
2. Arithmetic
3. Fibonacci
4. Geometric
### Have you read the Contribution Guidelines?

yes

## Pitch
There are various types of mathematical sequences and series. Creation of a menu driven program for the users gives a kind of a small playground to them in which they can apply their knowledge wi

[2020-10-01 13:44] shub-coder commented on #208
I would like to work on this project in Java Language

[2020-10-01 13:45] aditik03 commented on #208
@shub-coder - Java
@aditik03 - C

[2020-10-01 13:49] ankur-kayal commented on #156
@sukritishah15 Pull request added 👍

[2020-10-01 13:50] sunilgknair051 commented on #201
Can help out with review and merge. But let me be one among others. (have a busy schedule to deal with)

[2020-10-01 13:52] sukritishah15 commented on #201
Sure @sunilgknair051

[2020-10-01 13:54] sukritishah15 commented on #59
@therohanjaiswal - C
assigned

[2020-10-01 14:09] aditik03 commented on #65
@mrjoshi0147 preference?

[2020-10-01 14:09] ankur-kayal commented on #208
i would like to work this in c++

[2020-10-01 14:09] sukritishah15 commented on #162
@yashkansal - Java assigned

[2020-10-01 14:10] aditik03 commented on #208
@ankur-kayal - C++

[2020-10-01 14:11] ankur-kayal commented on #162
i would like to implement radix sort in c++

[2020-10-01 14:12] ankur-kayal commented on #208
@aditik03 the program asks from the user which sequence and then the details about the sequence, for example: first term, common ratio and number of terms to print right?

[2020-10-01 14:18] ankur-kayal opened #213 "Prime Factorising an Integer in O(logN) time (Using seive of Eratosthenes)"
## 🚀 Feature

Prime Factorising a number in `O(logN)`.

### Have you read the Contribution Guidelines?

Yes

## Pitch

Prime factorising a number in the normal method takes ` O(sqrt(N))`  time. But using seive of eratosthenes we can do the job in `O(logN)`  time.

## Assignees
@ankur-kayal - C++
@Pratap2018 - Java
@GarimaMahajan20  - C

[2020-10-01 14:18] ankur-kayal commented on #213
i would like to work on this in c++

[2020-10-01 14:18] Pratap2018 commented on #213
I would like to work on this in java

[2020-10-01 14:19] aditik03 commented on #208
@ankur-kayal yes!

[2020-10-01 14:21] aditik03 commented on #213
@Pratap2018 - Java
@ankur-kayal - C++

[2020-10-01 14:23] Sneha8857 commented on #208
i would like to work on this in Java

[2020-10-01 14:26] aditik03 commented on #208
@Sneha8857 Java already assigned would you like to implement in other language?

[2020-10-01 14:30] aditik03 commented on #208
@Sneha8857 - Python

[2020-10-01 14:41] manan025 commented on #112
@therohanjaiswal - C
@jhoserpacheco - Java

[2020-10-01 14:43] manan025 commented on #116
@Mynk-9 - Python
@sohail24 - C
Assigned

[2020-10-01 14:48] manan025 commented on #83
@nshattuck20 - Python
@satwik-chowdary - C
@jhoserpacheco - C++
Assigned

[2020-10-01 14:52] manan025 commented on #162
@ankur-kayal - C++ (Radix Sort)
Assigned

[2020-10-01 15:18] mephi007 commented on #201
Hey @sukritishah15 I can help with review and merge.

[2020-10-01 15:19] mephi007 commented on #191
Hey @sukritishah15 my 3 PRs got merged, but the merge is not being reflected in Hacktober website.
your thoughts?

[2020-10-01 15:20] lostgirljourney commented on #191
Heya Coders, I'm with my friend are also maintaining a repository so if you wanna contribute then please check this repository.

https://github.com/BlankCoders/GoogleKickStart2020_Solutions

This repository will contain solutions of Google Kick Start 2020.

Happy Hacktoberfest ❤️

[2020-10-01 15:45] manan025 commented on #150
@natedtcc - Java
Assigned

[2020-10-01 15:48] krishnapatil1406 commented on #169
Can I implement this in C @aditik03 ??

[2020-10-01 16:09] aditik03 commented on #169
@krishnapatil1406 - C (assigned)

[2020-10-01 16:24] malhotraravi842 commented on #186
I Would like to implement this in c++, please assign me

[2020-10-01 16:26] Ayushmaan2001 opened #222 "Web Scraping"
## 🚀 Feature

Web Scraping

### Have you read the Contribution Guidelines?

yes

## Pitch

I know this is against the guidelines but i think it is good to have a web scraping folder in the repository. I would like to contribute in this folder by adding a python script that shows the coronavirus patients, deaths, recovered in the world :) @sukritishah15

[2020-10-01 16:27] ankur-kayal commented on #162
@manan025 @sukritishah15 Pull request added.

[2020-10-01 16:27] aditik03 commented on #186
@malhotraravi842 - CPP

[2020-10-01 16:31] aditik03 commented on #162
@ankur-kayal PR merged

[2020-10-01 16:36] Ritacheta commented on #208
I want to contribute in C C++. Can you please assign me??

[2020-10-01 16:38] aditik03 commented on #208
@Ritacheta - C (assigned)

[2020-10-01 16:44] harshit-labs commented on #162
@sukritishah15  please assign bucket sort to me in c++.

[2020-10-01 16:46] manan025 commented on #162
@harshit-labs - C++ (Bucket Sort)
Assigned

[2020-10-01 16:47] AdeshChoudhar19 commented on #213
I would like to work on this using Python.

[2020-10-01 16:48] AdeshChoudhar19 commented on #156
I would like to work on this in Python.

[2020-10-01 16:48] aditik03 commented on #213
@AdeshChoudhar19 - Python

[2020-10-01 16:49] AdeshChoudhar19 commented on #134
I would like to work on this using Python.

[2020-10-01 16:52] AdeshChoudhar19 commented on #65
I would like to work on this using Python.

[2020-10-01 16:52] PiyushAgrawal047 opened #227 "issue for insertion sort.java"
## 🚀 Feature

(Write down a clear and concise description of what the feature is.)
I want to make changes in insertion sort code of java language .
### Have you read the Contribution Guidelines?
i have read contribution guidelines
(Write your answer here.)

## Pitch
I want to implement method to sort and print array  for better readability of code
(Please explain why this feature should be impleme

[2020-10-01 16:53] aditik03 commented on #65
@AdeshChoudhar19 - Python

[2020-10-01 16:54] AdeshChoudhar19 commented on #150
I would like to work using C.

[2020-10-01 16:55] aditik03 commented on #150
@AdeshChoudhar19 - C

[2020-10-01 16:55] #227 closed

[2020-10-01 16:56] AdeshChoudhar19 commented on #108
I would like to work on this using C++.

[2020-10-01 16:58] unnatideshwal opened #229 "Height of a Binary Tree"
## 🚀 Feature

The function should return a single integer denoting the height of the binary tree.
For example, the following binary tree is of height 2 :
![22](https://user-images.githubusercontent.com/51745065/94838952-f2e6fe80-0433-11eb-876d-e3fdc8a7ff44.jpg)

### Have you read the Contribution Guidelines?

Yes

## Pitch
It is an easy data structures problem based on trees to start with.

[2020-10-01 17:02] manan025 commented on #108
@banerjee-suchismita - C
@sig5 - C++
Assigned

[2020-10-01 17:03] nikhil121101 commented on #229
please assign this issue to me, I would be glad to contribute;)

[2020-10-01 17:04] prophet-x commented on #229
hey! I would like to do this in c++ . please assign it to me.

[2020-10-01 17:06] unnatideshwal commented on #229
Please specify any language preferences too.

[2020-10-01 17:06] nikhil121101 commented on #229
java would be fine?

[2020-10-01 17:07] Suhani028 commented on #229
Please assign me to contribute!!

[2020-10-01 17:11] manan025 commented on #229
Hey @unnatideshwal , You can't assign this way! C++ was already taken by @prophet-x

[2020-10-01 17:11] prophet-x commented on #229
hello @unnatideshwal I guess you didn't notice two users want to contribute in JAVA and two in C++, but according to the guidelines it says only one contributor can contribute in one language.

[2020-10-01 17:12] unnatideshwal commented on #229
oh okay, sorry for the mistake please wait, ill assign again.

[2020-10-01 17:13] prophet-x commented on #229
no worries :) bro

[2020-10-01 17:14] manan025 commented on #156
@AdeshChoudhar19 - Python
Assigned

[2020-10-01 17:16] Nancey12 commented on #229
I can contribute in Python. Please assign me that.

[2020-10-01 17:17] manan025 commented on #229
CLARIFICATION:
@nikhil121101 - Java
@prophet-x  - C++
@Nancey12 - Python

[2020-10-01 17:19] GarimaMahajan20 commented on #229
Assign this to me in c

[2020-10-01 17:19] manan025 commented on #229
@GarimaMahajan20 - C
Assigned

[2020-10-01 17:21] nikhil121101 commented on #229
hey i have to create function in implemetatingBST.java right?

[2020-10-01 17:22] manan025 commented on #229
Yes and also add link to your code in Java/README.md

[2020-10-01 17:22] nikhil121101 commented on #229
sure thanks

[2020-10-01 17:27] ankur-kayal commented on #213
@aditik03 Pull request added 👍

[2020-10-01 17:30] aditik03 commented on #213
Merged :-)

[2020-10-01 17:34] nikhil121101 commented on #229
hey I am done but I am getting this while pushing(git push origin 229)
remote: Permission to sukritishah15/DS-Algo-Point.git denied to nikhil121101.
fatal: unable to access 'https://github.com/sukritishah15/DS-Algo-Point.git/': The requested URL returned error: 403

[2020-10-01 17:38] manas-malviya commented on #229
maybe this could help
https://www.a2hosting.in/kb/developer-corner/version-control-systems1/403-forbidden-error-message-when-you-try-to-push-to-a-github-repository

[2020-10-01 17:40] lostgirljourney commented on #201
@sukritishah15 di I can help you! 😄

[2020-10-01 17:43] manan025 commented on #229
@nikhil121101 first you need to create a forked repo of this repo and then make changes to that repo and make a Pull request here! In case, you have any issues, feel free to ask question!

[2020-10-01 17:49] sukritishah15 commented on #134
@AdeshChoudhar19 - Python assigned

[2020-10-01 17:54] sukritishah15 commented on #201
@mephi007 and @lostgirljourney
You both are welcome to collaborate 👍
I'm sending you invites for collaborator.

[2020-10-01 17:59] sukritishah15 commented on #191
Is there a 7 day review period? Are you referring that? @mephi007

[2020-10-01 18:09] nikhil121101 commented on #229
hey i forked the repo and created a new branch and made changes there do I need to merge this branch to master branch and then make a pull request?

[2020-10-01 18:09] GarimaMahajan20 commented on #229
@manan025 Doing it for the first time let me know if i had done it correctly so i can look for some more to work on

[2020-10-01 18:23] Pratap2018 commented on #213
@aditik03 Pull request added

[2020-10-01 18:28] jinicode opened #239 "Add scheduling algorithms in java"
## 🚀 Feature

Implementing various scheduling algorithms.

### Have you read the Contribution Guidelines?

Yes

## Pitch

Scheduling algorithms are asked in interviews many times and it would help someone.

[2020-10-01 18:29] aditik03 commented on #213
@Pratap2018 merged 😃

[2020-10-01 18:36] Manognya1000 commented on #151
Please assign me this, I can write it in Ruby.

[2020-10-01 18:43] GarimaMahajan20 commented on #213
Assign this to me in c

[2020-10-01 18:50] Manognya1000 commented on #151
Please assign me this, I can write it in Ruby and PHP.

[2020-10-01 18:50] Manognya1000 commented on #149
Please assign me this, I can write it in Ruby and PHP.

[2020-10-01 18:51] Manognya1000 commented on #149
Please assign me this, I can implement it in Ruby and PHP.

[2020-10-01 18:51] Manognya1000 commented on #151
Please assign me this, I can implement it in Ruby and PHP.

[2020-10-01 18:56] anirudh2019 commented on #239
@jinicode Can I contribute RoundRobin Scheduling Algo in Java?

[2020-10-01 19:03] Manognya1000 commented on #151
Please assign me this, I can implement it in C# and Ruby.

[2020-10-01 19:04] Manognya1000 commented on #149
Please assign me this, I can implement it in C# and Ruby.

[2020-10-01 19:05] Manognya1000 commented on #186
Please assign me this, I can implement it in C#.

[2020-10-01 19:07] Manognya1000 commented on #229
Please assign me this, I can implement it in C#.

[2020-10-01 19:11] Manognya1000 commented on #213
Please assign me this, I can implement it in C#.

[2020-10-01 19:13] Manognya1000 commented on #169
Please assign me this, I can implement it in C#.

[2020-10-01 19:18] Manognya1000 commented on #162
Please assign bucket sort to me in Java.

[2020-10-01 19:27] Manognya1000 commented on #239
@jinicode please assign this to me, I can write to First Come First Serve (FCFS), Shortest-Job-First (SJF) Scheduling, Shortest Remaining Time, Priority Scheduling and Multilevel Queue Scheduling algorithms in Java.

[2020-10-01 19:30] Manognya1000 commented on #156
Please assign this to me in Java.

[2020-10-01 19:31] Manognya1000 commented on #150
I would like to work on this in C#.

[2020-10-01 19:33] Manognya1000 commented on #150
I would like to work on this in Java.

[2020-10-01 19:33] Manognya1000 commented on #108
I would like to work on this in C#.

[2020-10-01 19:34] Manognya1000 commented on #108
I would like to work on this in Java.

[2020-10-01 19:38] Manognya1000 commented on #186
Please assign me this, I can implement it in C.

[2020-10-01 19:41] Manognya1000 commented on #134
Please assign this to me in C#.

[2020-10-01 19:42] Manognya1000 commented on #151
Please assign me this, I can implement it in C# .

[2020-10-01 19:45] Manognya1000 commented on #186
Please assign me this, I can implement it in C#.

[2020-10-01 19:46] Manognya1000 commented on #186
Please assign me this, I can implement it in C and C#.

[2020-10-01 19:47] Manognya1000 commented on #149
Please assign me this, I can implement it in C#.

[2020-10-01 19:51] Manognya1000 commented on #186
Please assign me this, I can implement it in C.

[2020-10-01 19:58] Manognya1000 commented on #163
Please assign this to me in C and Java.

[2020-10-01 20:00] Manognya1000 commented on #163
Please assign this to me in Java.

[2020-10-01 20:01] Manognya1000 commented on #124
Please assign this to me in C.

[2020-10-01 20:04] Manognya1000 commented on #65
Please assign this to me in C.

[2020-10-01 20:07] natedtcc commented on #150
@manan025 @aditik03  Still waiting to be assigned Java implementation 🙂

[2020-10-01 20:08] Manognya1000 commented on #55
Please assign this to me in cpp.

[2020-10-01 20:19] Manognya1000 commented on #186
Please assign this to me in C.

[2020-10-01 20:38] erodrago commented on #201
Hey @sukritishah15 here to help where possible

[2020-10-02 04:45] mrjoshi0147 commented on #124
Sorry for unassigning you :(. I was trying to add one more person on this issue and I don't how you got unassigned from this issue.

[2020-10-02 04:57] mephi007 commented on #191
Hey @sukritishah15 yes, PRs are in "pending" state.... but you have already merged the PRs, right. This should have change to "Eligible" state... Ain't understanding the process properly.

[2020-10-02 05:13] manan025 commented on #186
@Manognya1000 - C
Assigned

[2020-10-02 05:15] manan025 commented on #162
@Manognya1000 - Java
Assigned

[2020-10-02 05:23] maharajch commented on #124
#184

[2020-10-02 05:24] malhotraravi842 opened #249 "KMP Pattern matching Algorithm"
## 🚀 Feature

(Write down a clear and concise description of what the feature is.)

### Have you read the Contribution Guidelines?

(Write your answer here.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

[2020-10-02 05:25] malhotraravi842 commented on #249
Please assign me this in c++, I want to work on it

[2020-10-02 05:25] manan025 commented on #156
@Manognya1000 - Java
Assigned

[2020-10-02 05:32] manan025 commented on #249
@malhotraravi842 - C++
Assigned

[2020-10-02 05:34] jovianjaison commented on #191
Hi @mephi007 irrespective of the PR's being merged it still takes 7 days for the status to update from Pending to any of the other 3. I guess the Hacktoberfest team reviews it during that period...

[2020-10-02 05:37] ankur-kayal commented on #208
@aditik03 Pull Request added 👍

[2020-10-02 06:00] Manognya1000 commented on #249
Please assign this to me in Python.

[2020-10-02 06:11] manan025 commented on #249
@Manognya1000 - Python
Assigned

[2020-10-02 06:13] Manognya1000 commented on #112
I would like to wok on this in Python.

[2020-10-02 06:16] jinicode commented on #239
@manan025 Can you please add labels , so that I can send pr asap.

[2020-10-02 06:17] GarimaMahajan20 commented on #249
Assign this to me in java

[2020-10-02 06:20] SadeepNanda opened #251 "i want to add the kadane's algorithm to the cpp directory and permutations generator code snippet to python directory"
## 🚀 Feature

(Write down a clear and concise description of what the feature is.)

### Have you read the Contribution Guidelines?

Yes, I have gone through the contribution guidelines and it will be made sure that all the contributions will adhere to the mentioned guidelines.

## Pitch

(Please explain why this feature should be implemented and how it would be used.)
I wanted to add kadane's algo

[2020-10-02 06:26] #2 closed

[2020-10-02 06:26] #3 closed

[2020-10-02 06:35] manan025 commented on #239
Done

[2020-10-02 06:41] manan025 commented on #249
@GarimaMahajan20 - Java
Assigned

[2020-10-02 07:01] krrahul23 commented on #112
Added this algorithm in c++ and also updated the readme of cpp folder

[2020-10-02 07:05] #222 closed

[2020-10-02 07:05] ayushi-1408 commented on #239
Hey! Can I work on this issue?

[2020-10-02 07:15] GarimaMahajan20 commented on #213
please assign this to me in c

[2020-10-02 07:26] manan025 commented on #150
Sorry @natedtcc I forgot to assign I guess! I have assigned the issue now.
:) Now you can start working on it!

[2020-10-02 07:42] aditik03 commented on #213
@GarimaMahajan20 - C

[2020-10-02 07:52] Sayantan-world commented on #151
Assign me this, I want to code this in PHP

[2020-10-02 08:05] lostgirljourney commented on #191
@mephi007
![image](https://user-images.githubusercontent.com/56036475/94901213-eacea380-04b3-11eb-9612-c3209f83cf6e.png)

These are the symbols meaning so if it's showing pending, don't worry; it's alright!!!

[2020-10-02 08:28] sukritishah15 commented on #239
@jinicode @anirudh2019 @ayushi-1408 @Manognya1000
All of you are requested to tell me which scheduling algorithm you are interested in taking up. Check the updated issue description.
Mention here, get it assigned, and then make a PR.
Whoever creates the issue gets the first priority at assign time - In this case @jinicode
And then whoever comments first is given first priority.

Please Note - ANY

[2020-10-02 08:33] asthapattanaik opened #260 "I want to add Quick Sort using arrays"
## 🚀 Feature

Implementation of Quick Sort algorithm using arrays

### Have you read the Contribution Guidelines?

Yes

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

[2020-10-02 08:46] sukritishah15 commented on #260
@asthapattanaik -
We already have/had an issue and code for Quick Sort.
Also, one cannot create a PR, until and unless they are assigned an issue.
Please close your PR.

[2020-10-02 08:47] #260 closed

[2020-10-02 09:05] vaneet-hash commented on #249
please assign this to me in c

[2020-10-02 09:08] vaneet-hash commented on #163
Assign this to me in java

[2020-10-02 09:11] vaneet-hash commented on #65
Assign this to me in c

[2020-10-02 09:25] sukritishah15 commented on #249
@vaneet-hash - C assigned

[2020-10-02 09:35] sukritishah15 opened #264 "Inorder Tree Traversal"
## 🚀 Feature

Implement Inorder Tree Traversal

### Have you read the Contribution Guidelines?

Yes

[2020-10-02 09:37] sukritishah15 opened #265 "Preorder Tree Traversal"
## 🚀 Feature

Implement Preorder Tree Traversal

### Have you read the Contribution Guidelines?

Yes

[2020-10-02 09:38] sukritishah15 opened #266 "Postorder Tree Traversal"
## 🚀 Feature

Implement Postorder Tree Traversal

### Have you read the Contribution Guidelines?

Yes

[2020-10-02 09:39] Shivansh2407 commented on #191
@sukritishah15 Thank you for the special mention, Please update some of my Repositories open for contribution as given below.

1. https://github.com/Shivansh2407/octr.ix
2. https://github.com/Shivansh2407/Tweetme
3. https://github.com/Shivansh2407/EasyIFSC
4. https://github.com/Shivansh2407/MyChannel
5. https://github.com/Shivansh2407/PyLearn

[2020-10-02 09:41] sukritishah15 commented on #201
Thank you @erodrago.
I'm sending you invite for collaborator.

[2020-10-02 09:41] prabhdeepsingh3499 commented on #266
I can implement postorder in C++. Please assign it to me.

[2020-10-02 09:43] vaneet-hash commented on #65
Assign this to me in c

[2020-10-02 09:44] vaneet-hash commented on #266
Assign this to me in java

[2020-10-02 09:44] vaneet-hash commented on #265
Assign this to me in java

[2020-10-02 09:45] vaneet-hash commented on #264
Assign this to me in java

[2020-10-02 09:45] manan025 commented on #5
@Pratap2018 Please make a PR ASAP

[2020-10-02 09:46] aditik03 commented on #65
@vaneet-hash  - C

[2020-10-02 09:46] harshit-labs commented on #239
please assign the First Come First Serve Scheduling Algorithm (FCFS) in c++ and python to me. @sukritishah15

[2020-10-02 09:47] sukritishah15 commented on #264
@vaneet-hash - Java
assigned

[2020-10-02 09:48] sukritishah15 commented on #265
@vaneet-hash - Java
Assigned

[2020-10-02 09:48] manan025 commented on #1
@lostgirljourney - C-Plus-Plus
@codewithnick - Python
Can you please make a PR for this issue ASAP?

[2020-10-02 09:49] sukritishah15 commented on #266
@prabhdeepsingh3499 - C++
@vaneet-hash - Java
Assigned

[2020-10-02 09:50] manan025 commented on #13
@lostgirljourney - Python
@Anni852 - C++
@JanetLaysEggs - C
Can you please make a PR on this issue ASAP?

[2020-10-02 09:51] harshit-labs commented on #266
Assign this to me in python @sukritishah15

[2020-10-02 09:51] manan025 commented on #16
@yashkansal - C
Can you please make a PR on this issue asap?

[2020-10-02 09:52] sukritishah15 opened #269 "Interpolation Search"
## 🚀 Feature

Implement Interpolation Search

### Have you read the Contribution Guidelines?

Yes

[2020-10-02 09:52] manan025 commented on #22
@aditik03 - C
Can you please make a PR on this issue asap?

[2020-10-02 09:54] manan025 commented on #18
@yashkansal - Java
@krishnapatil1406 - C
Can you please make a PR on this issue asap?

[2020-10-02 09:55] lostgirljourney commented on #13
@manan025 buddy for fully working code with complexities need time, don't tag. I'm a collaborator too need time.

[2020-10-02 10:00] lostgirljourney commented on #1
@manan025 don't tag, we're doing. Don't rush!

[2020-10-02 10:06] manan025 commented on #239
@harshit-labs you can be assigned only 1 language. Please tell your preference.

[2020-10-02 10:07] divyanshkhatana commented on #269
can you please assign it to me?

[2020-10-02 10:09] sukritishah15 commented on #269
@divyanshkhatana - Java
Assigned

[2020-10-02 10:10] manan025 commented on #239
@anirudh2019 - Java - Round Robin Scheduling Algorithm (RR)
Assigned.

Others are requested to ask it to be assigned to you with the language and scheduling algorithm you want to work on.

[2020-10-02 10:15] harshit-labs commented on #239
Assign in c++.

[2020-10-02 10:20] hritik5102 commented on #154
Hello @sukritishah15 , i would like to work on this issue

Following thing, I would like to add in this repo

- [x] **_CODE_OF_CONDUCT.md_**
- [x] **_Design ReadME and adding badge_**
- [x] **_.gitignore_**
- [x] **_Contributing.md_**

Thank you

[2020-10-02 10:22] AnanyaNagar commented on #55
@Manognya1000 - cpp assigned

[2020-10-02 10:23] manan025 commented on #239
@harshit-labs - C++ - First Come First Serve Scheduling Algorithm (FCFS)
Assigned.

[2020-10-02 10:25] hritik5102 commented on #266
Hello @sukritishah15 , i would like to work on this issue

Following thing, I would like to add in this repo
- [x] **_Postorder tree traversal using PHP and Python_**

Thank you

[2020-10-02 10:28] hritik5102 commented on #265
Hello @sukritishah15 , I would like to work on this issue

Following thing, I would like to add in this repo
- [x] **_Preorder tree traversal using C and CPP_**

Thank you

[2020-10-02 10:30] hritik5102 commented on #264
Hello @akshitagupta15june , i would like to work on this issue

Following thing, I would like to add in this repo

- [x] **_Inorder tree traversal using C and CPP_**

Thank you

[2020-10-02 10:32] manan025 commented on #269
Can I work on this issue in python please?

[2020-10-02 10:33] divyanshkhatana commented on #269
Sure i will work on it
--
Sent from myMail for Android Friday, 02 October 2020, 04:02pm +05:30 from Manan  notifications@github.com :

[2020-10-02 10:35] mahimagoyalx opened #274 "Sudoku Solver"
## 🚀 Feature
I would like to implement Sudoku Solver in C++

### Have you read the Contribution Guidelines?
Yes

## Pitch
It is a good backtracking problem.

[2020-10-02 10:36] krishnapatil1406 commented on #18
I already did.
My code is also reflected in repo.
https://github.com/sukritishah15/DS-Algo-Point/blob/master/C/Search_in_Row_And_Column_Wise_Sorted_Matrix.c

[2020-10-02 10:37] mahimagoyalx commented on #274
Please assign me this issue in C++

[2020-10-02 11:02] deepansha-singh commented on #100
Since I see most of the languages have already been assigned, can I do this in PHP?

[2020-10-02 11:14] ayushi-1408 commented on #239
Hey I want to work on First Come First Serve Scheduling Algorithm (FCFS) in Java.

[2020-10-02 11:29] Hinal-Srivastava commented on #269
Hi @sukritishah15!
I can contribute in Python. Could you assign me to it?

[2020-10-02 11:30] manan025 commented on #18
Ohh sorry for the ping @krishnapatil1406 I saw that there was no C code PR linked with it, that's why I pinged you.

Only Java left for this issue then! :)

[2020-10-02 11:32] manan025 commented on #100
@deepansha-singh sorry but we only accept code for C, C++, Java and python.

[2020-10-02 11:33] manan025 commented on #239
@ayushi-1408 - First Come First Serve Scheduling Algorithm (FCFS) - Java
Assigned

[2020-10-02 11:34] aditik03 commented on #22
@manan025 will create a PR soon

[2020-10-02 11:35] manan025 commented on #269
@Hinal-Srivastava - Python
@manan025 - C++
Assigned

[2020-10-02 11:39] mephi007 commented on #274
hey @sukritishah15 i would like to contribute to this in Java. Can you please assign this to me.

[2020-10-02 12:14] muskangupta19 opened #282 "Dutch National Flag Problem"
## 🚀 Feature

Given an array containing only 0's, 1's and 2's. Sort the array in linear time and using constant space.

### Have you read the Contribution Guidelines?

Yes

## Pitch

It is an easy data structure problem.

[2020-10-02 12:15] muskangupta19 commented on #269
Can you please assign this to me? I can do this in C language.

[2020-10-02 12:18] manan025 commented on #269
@muskangupta19 - C
Assigned

[2020-10-02 12:20] Manognya1000 commented on #249
[Added KMP algorithm in Python #284 ](https://github.com/sukritishah15/DS-Algo-Point/pull/284)

[2020-10-02 12:22] manan025 commented on #274
@mahimagoyalx - C++
@mephi007 - Java
Assigned

[2020-10-02 12:31] manas-malviya commented on #282
@muskangupta19 Can you assign me this problem in c++?

[2020-10-02 12:47] Manognya1000 commented on #274
Please assign this to me in Python.

[2020-10-02 12:48] manan025 commented on #274
@Manognya1000 - Python Assigned

[2020-10-02 13:02] GarimaMahajan20 commented on #264
Assign this to me in python

[2020-10-02 13:11] jinicode commented on #239
please assign me all the algorithms in java . I will implement them by tonight . Thank You .

[2020-10-02 13:15] GarimaMahajan20 commented on #264
Please assign this to me. I will work on it in python

[2020-10-02 13:23] manan025 commented on #239
@jinicode - Java - SJF - Non-Preemptive + SRTF - Preemptive + LJF - Non-Preemptive + LRTF - Preemptive + RR + Non - Preemptive
FCFS is not available.

[2020-10-02 13:25] prophet-x commented on #264
I want to contribute the solution to this in c++ please assign this to me.

[2020-10-02 13:25] prophet-x commented on #265
I want to contribute the solution to this in c++ please assign this to me.

[2020-10-02 13:26] jovianjaison commented on #265
Hi can I do this in C++?

[2020-10-02 13:27] manan025 commented on #265
@jovianjaison - C++
Assigned

[2020-10-02 13:27] nikhil121101 commented on #282
can you assign this issue to me in java

[2020-10-02 13:37] ayushi-1408 commented on #239
Hey please assign me Round Robin Scheduling Algorithm (RR) in C language.

[2020-10-02 13:39] manan025 commented on #239
@ayushi-1408 - C - RR
Assigned

[2020-10-02 13:45] AnmolMahajan11 commented on #266
Assign this to me in c

[2020-10-02 13:46] AnmolMahajan11 commented on #265
Assign this to me in python

[2020-10-02 13:49] AnmolMahajan11 commented on #274
Assign this to me in c

[2020-10-02 14:04] anjanik012 commented on #163
Can I do this for Java?

[2020-10-02 15:34] osomat123 commented on #134
Please assign this to me in C

[2020-10-02 15:41] abhishek7553 opened #296 "matrix multiplication can be added in python"

[2020-10-02 16:09] abhishek7553 opened #298 "matrix chain multiplication"
assign me this, will do this in python java c & c++.

[2020-10-02 16:14] ruchijain4 commented on #296
assign this to me please

[2020-10-02 16:24] harshit-labs commented on #282
@sukritishah15 please assign me for this problem in python.

[2020-10-02 17:07] mahimagoyalx commented on #282
@manas-malviya - C++
@nikhil121101 - Java
@harshit-labs - Python
Assigned

[2020-10-02 17:22] mahimagoyalx commented on #266
@harshit-labs - Python
@AnmolMahajan11 - C
Assigned

[2020-10-02 17:25] mahimagoyalx commented on #265
@AnmolMahajan11 - Python
Assigned

[2020-10-02 17:26] mahimagoyalx commented on #274
@AnmolMahajan11 - C
Assigned

[2020-10-02 17:42] mahimagoyalx commented on #264
@hritik5102  You can be assigned only 1 language. Please tell me about your preference.

[2020-10-02 17:44] mahimagoyalx commented on #264
@GarimaMahajan20 - Python
Assigned

[2020-10-02 17:47] mahimagoyalx commented on #134
@osomat123 - C
Assigned

[2020-10-02 18:18] #251 closed

[2020-10-02 18:22] manan025 commented on #264
@hritik5102 - C
@prophet-x - C++
Assigned

[2020-10-02 18:46] hritik5102 commented on #264
@manan025 Check the PR #302 **(implementation of inorder tree traversal using c)**

[2020-10-02 19:21] AnmolMahajan11 commented on #239
Assign me FCFS in Python

[2020-10-02 19:23] manan025 commented on #239
@AnmolMahajan11 - Python - FCFS
Assigned

[2020-10-02 20:01] AnanyaNagar commented on #163
@anjanik012 - Java
Assigned

[2020-10-02 20:01] GarimaMahajan20 commented on #265
Assign this to me in c

[2020-10-02 20:08] nikhil121101 commented on #298
I would be glad to contribute this algorithm in java

[2020-10-02 20:10] GarimaMahajan20 commented on #239
Assign FCFS to me. I will work on it in C

[2020-10-03 00:40] niranjantuty commented on #265
@GarimaMahajan20  - C
Assigned

[2020-10-03 02:26] Jvillegasd opened #312 "Strongly Connected components"
## 🚀 Feature

I want to add the strongly connected component of DAG

### Have you read the Contribution Guidelines?

Yes

## Pitch

This will be a good feature because I did not see any implementation of this in this repo. Also, graph is a important data structure to take into account.

[2020-10-03 02:40] Jvillegasd commented on #312
Assign this to me, please.

[2020-10-03 02:55] keivalya opened #314 "Urge to update topic:'hacktoberfest' to this repo"
According to new Hacktoberfest update from the link:

https://hacktoberfest.digitalocean.com/hacktoberfest-update

[2020-10-03 02:56] tanishq67 commented on #282
Mam, can you please assign me for this problem in C language?

[2020-10-03 02:59] mahimagoyalx commented on #282
@tanishq67 - C
Assigned

[2020-10-03 03:04] mahimagoyalx commented on #314
@sukritishah15 Please add topic:hacktoberfest to the repository.

[2020-10-03 06:27] sukritishah15 commented on #314
@keivalya @mahimagoyalx - I've added the required things
Thank you!

[2020-10-03 06:27] #314 closed

[2020-10-03 06:33] sukritishah15 commented on #239
@GarimaMahajan20 - FCFS - C
Assigned

[2020-10-03 07:41] anjanik012 commented on #163
Can I also take up C?

[2020-10-03 08:32] GarimaMahajan20 commented on #265
@niranjantuty @manan025  everytime i am making a pr its showing me conflicts in readmd . Even though i am following the alphabetical order but once i make a pr its showing some more file names in btw

[2020-10-03 08:53] sohail24 commented on #116
hey mistakenly clicked "removed assignment"from my phone.. Does it impact my contribution?....

[2020-10-03 09:18] manan025 commented on #116
@sohail24 No problem! Reassigned you :)

[2020-10-03 09:44] niranjantuty commented on #265
@GarimaMahajan20  Make sure your local repository is up-to-date.  Update your local repository and then make PR.  Refer this [link](https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github#update-local-repository) for more details.

[2020-10-03 10:25] sukritishah15 opened #325 "Tim Sort"
## 🚀 Feature

Implement Tim Sort

### Have you read the Contribution Guidelines?

Yes

[2020-10-03 10:27] sukritishah15 opened #326 "Sleep Sort"
## 🚀 Feature

Implement Sleep Sort

### Have you read the Contribution Guidelines?

Yes

[2020-10-03 10:31] sukritishah15 opened #327 "AVL Tree"
## 🚀 Feature

Implement AVL Tree.
- Insertion
- Deletion

### Have you read the Contribution Guidelines?

Yes

[2020-10-03 10:35] mananchawla2005 opened #328 "Fibonacci Numbers"
## 🚀 Feature

The Fibonacci numbers are the numbers in the following integer sequence.
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ……..

Given the value of n, find the sum of the series.

### Have you read the Contribution Guidelines?

Yes

[2020-10-03 10:40] Diyabanerjee commented on #328
Please assign this to me.

[2020-10-03 10:42] nikita1211 commented on #328
Please assign this to me for Java

[2020-10-03 10:45] manan025 commented on #328
@Diyabanerjee Which language would you like to work on?

[2020-10-03 10:47] UnordinarySagarTewari commented on #328
Please Assign this for me in python

[2020-10-03 10:48] Diyabanerjee commented on #328
C and C++

[2020-10-03 10:48] manan025 commented on #328
@Diyabanerjee You can only choose 1 language. Please tell your preference.

[2020-10-03 10:49] manan025 commented on #328
@nikita1211 - Java
@UnordinarySagarTewari - Python
Assigned

[2020-10-03 10:50] Shrey2002 commented on #328
assign this this to me for java

[2020-10-03 10:50] Shrey2002 commented on #328
C++

[2020-10-03 10:50] Diyabanerjee commented on #328
Assign this to me in C++. thanks :)

[2020-10-03 10:50] miador commented on #326
I can take this

[2020-10-03 10:51] manan025 commented on #328
@Diyabanerjee - C
@Shrey2002 - C++
Assigned

[2020-10-03 10:51] Diyabanerjee commented on #328
Thankyou!

[2020-10-03 10:53] nikita1211 commented on #328
Thank you!

[2020-10-03 10:57] Shrey2002 commented on #328
I have created a PR please review it!

[2020-10-03 10:58] arnoob16 commented on #327
I can do this in Java.

[2020-10-03 11:04] arnoob16 commented on #326
I can do this in Python.

[2020-10-03 11:04] shivanigupta19 commented on #326
please assign me

[2020-10-03 11:05] shivanigupta19 commented on #325
please assign me

[2020-10-03 11:10] nikita1211 commented on #325
Please assign to me for Java

[2020-10-03 11:10] Manognya1000 commented on #325
Please assign to me in Python.

[2020-10-03 11:11] Manognya1000 commented on #327
Please assign to me in Python.

[2020-10-03 11:21] Arsh-ak7 opened #330 "ClosestPair and counting inversions can be added in JAVA"
## 🚀 Feature

I want to add ClosestPair and Counting Inversions in Java

### Have you read the Contribution Guidelines?
Yes

[2020-10-03 11:24] tanishq67 commented on #325
Please assign this to me for C++ or C.

[2020-10-03 11:30] yadavgaurav251 commented on #327
Please assign this to me in C++

[2020-10-03 12:16] Manognya1000 commented on #55
[Please review longest length path in a matrix in Python](https://github.com/sukritishah15/DS-Algo-Point/pull/334)

[2020-10-03 12:18] Algure opened #337 "BODMAS Evaluator"
## 🚀

An algorithm to evaluate elaborate arithmetic equations while observing the rules of BODMAS and accounts for common mathematical syntax and operators.

### Have you read the Contribution Guidelines?

Yes

## Pitch

It can be used in all sorts of algorithms. Its like having a scientific calculator to compute any mathematical expression in your program so you just input evan a complex expressi

[2020-10-03 12:23] Manognya1000 commented on #124
[Please review ternary search code in C](https://github.com/sukritishah15/DS-Algo-Point/pull/324)

[2020-10-03 12:27] unnatideshwal opened #339 "Pancake Sorting"
## 🚀 Feature

The goal is to sort the sequence in as few reversals as possible.
Following are the detailed steps. Let given array be arr[] and size of array be n.
1) Start from current size equal to n and reduce current size by one while it’s greater than 1. Let the current size be curr_size. Do following for every curr_size
a) Find index of the maximum element in arr[0..curr_szie-1]. Let the inde

[2020-10-03 12:33] unnatideshwal opened #340 "Pigeonhole Sort"
## 🚀 Feature
Pigeonhole sorting is a sorting algorithm that is suitable for sorting lists of elements where the number of elements and the number of possible key values are approximately the same.
It requires O(n + Range) time where n is number of elements in input array and ‘Range’ is number of possible values in array.

### Have you read the Contribution Guidelines?

Yes

## Pitch

Find minimum

[2020-10-03 12:37] unnatideshwal opened #341 "Postman Sort"
## 🚀 Feature

Postman sort works by sorting the integers of an array from their most significant digits to their least significant digits. In the Postman sort the integer having most significant digits and the number of elements in that integer is determined, the length of the longest integer is stored. All the elements in the array are divided by a particular base. The elements of the array are s

[2020-10-03 12:51] Manognya1000 commented on #339
Please assign this to me in Python.

[2020-10-03 12:51] mahimagoyalx commented on #327
@yadavgaurav251 - C++
@arnoob16 - Java
@Manognya1000 - Python
Assigned

[2020-10-03 12:54] mahimagoyalx commented on #326
Please mention the language you want to be assigned for.

[2020-10-03 12:55] mahimagoyalx commented on #326
@miador - Java
@arnoob16 - Python
Assigned

[2020-10-03 12:56] mahimagoyalx commented on #325
Please mention the language you want to be assigned for.

[2020-10-03 12:58] mahimagoyalx commented on #325
@nikita1211 - Java
@Manognya1000 - Python
Assigned

[2020-10-03 13:05] Manognya1000 commented on #55
@sukritishah15 [Please review my code in cpp](https://github.com/sukritishah15/DS-Algo-Point/pull/334)

[2020-10-03 13:06] mahimagoyalx commented on #339
Sorry, but a person can work on only 4 issues at a time, please make the PRs for the assigned issues, then you may claim to get assigned.

[2020-10-03 13:07] Manognya1000 commented on #124
@sukritishah15 [Please review my code for ternary search in C](https://github.com/sukritishah15/DS-Algo-Point/pull/324)

[2020-10-03 13:15] mahimagoyalx opened #342 "Bellman Ford Algorithm"
## 🚀 Feature

An algorithm to find the shortest path from a vertex to all other vertices of a weighted graph.

### Have you read the Contribution Guidelines?

Yes

## Pitch

It is similar to Dijkstra's algorithm but it can work with graphs in which edges can have negative weights.

[2020-10-03 13:17] mahimagoyalx opened #343 "Floyd Warshall Algorithm"
## 🚀 Feature

An algorithm for finding the shortest path between all the pairs of vertices in a weighted graph.

### Have you read the Contribution Guidelines?

Yes

## Pitch

This algorithm works for both the directed and undirected weighted graphs.

[2020-10-03 13:23] AnkitJuyal009 commented on #343
I would like to contribute it in Java.
Please assign me.
Thanks!

[2020-10-03 13:29] nikolatechie commented on #342
Hello. I'd like to be assigned this issue. I will implement it in C, C++, Java and Python.

[2020-10-03 13:29] Manognya1000 commented on #249
@sukritishah15 [Please review my code in Python](https://github.com/sukritishah15/DS-Algo-Point/pull/344)

[2020-10-03 13:30] arnav-roy commented on #328
Can I work on Standard ML?

[2020-10-03 13:30] sukritishah15 commented on #337
Could you please let us know the programming language you would implement this in @Algure ?

[2020-10-03 13:31] arnav-roy commented on #151
Kindly assign. I want to work in Standard ML.

[2020-10-03 13:32] arnav-roy commented on #340
Kindly assign, I want to work in c++

[2020-10-03 13:33] arnav-roy commented on #339
Please assign C++ to me.

[2020-10-03 13:34] arnav-roy commented on #208
Can I work on Standard ML?

[2020-10-03 13:35] arnav-roy commented on #52
Hi, Can you assign me Standard ML?

[2020-10-03 13:35] sukritishah15 commented on #330
@Arsh-ak7 - Please provide some example or explanation.

[2020-10-03 13:38] arnav-roy commented on #1
I want to work in Standard ML.

[2020-10-03 13:38] arnav-roy commented on #5
I want to work in Standard ML.

[2020-10-03 13:40] arnav-roy commented on #341
Please assign me C++

[2020-10-03 13:44] PaulEvans8669 commented on #341
I'll do this in python @unnatideshwal ;)

[2020-10-03 13:48] arnoob16 commented on #326
Hey, I've added my PR. Please review it.

[2020-10-03 13:48] arnoob16 commented on #327
Hey, I've added my PR. Please review it.

[2020-10-03 13:48] unnatideshwal commented on #339
@arnav-roy  - C++

[2020-10-03 13:49] AmanParmar-git opened #347 "Trie implementation in javascript"
## 🚀 Feature

Trie is used for autocompletion.

### Have you read the Contribution Guidelines?

yes

## Pitch

 first you add some words and then search for words like "data","databig","datasmall". then you ask for words starting from "d" or "dat" and it will return all the words in it's memory. words can be added and removed. you can check demo here [Magic-Words](https://github.com/AmanParmar-git

[2020-10-03 13:50] sukritishah15 opened #348 "Merged PR's label : hacktoberfest-accepted"
## 🚀 Feature

We are adding

'''label : hacktoberfest-accepted'''

to all Merged PR's on or after Oct. 1

If by any chance, your PR does not have this label, let us know by sharing the PR link with us on telegram(link in README.md) or in the comment section below.

Thank you!

[2020-10-03 13:52] sukritishah15 commented on #347
@AmanParmar-git - JavaScript assigned

[2020-10-03 13:54] unnatideshwal commented on #340
@arnav-roy -C++

[2020-10-03 13:55] unnatideshwal commented on #341
@arnav-roy - C++
@PaulEvans8669 - Python

[2020-10-03 14:00] sukritishah15 opened #349 "Code can now be added in C#, JS, PHP, Go, Kotlin and Scala as well"
## 🚀 Feature

We received a lot of requests, so we have added 4 new folders for C#, PHP, JavaScript and Go in the codebase.

Thank you!
We look forward to your continued participation!

[2020-10-03 14:03] hritik5102 commented on #343
Hello @mahimagoyalx , i would like to contribute to this issue .

The format of the file will be :
**_Implements_**: Floyd Warshall Algorithm in python
**_Inputs_**: Adjacency Matrix (list of lists)
**_Outputs_**: Shortest distance between all pairs

[2020-10-03 14:07] hritik5102 commented on #325
Hello @mahimagoyalx , I would like to contribute to the issue using C++

Please assign me this issue
Thank you :)

[2020-10-03 14:10] hritik5102 commented on #340
Hello @unnatideshwal , i would like to contribute to this issue.

-[x] **_Implementation of the pigeonhole sort using python_**

Thank you :)

[2020-10-03 14:17] gfmota commented on #328
Please Assign this for me in javascript

[2020-10-03 14:20] Siddhant-sarkar commented on #328
Please assign me this project for JAVA
clean recursive code ..

[2020-10-03 14:21] gfmota commented on #55
Please assign this for me in c

[2020-10-03 14:24] Manognya1000 commented on #348
@sukritishah15 The following PR's were done done after the start of Hactoberfest and they are not labelled as hactober-accepted though they have been merged. Please look into it.
[Timsort Algorithm in Python #350 ](https://github.com/sukritishah15/DS-Algo-Point/pull/350)
[Longest length path in a matrix #334](https://github.com/sukritishah15/DS-Algo-Point/pull/334)

[2020-10-03 14:35] Manognya1000 commented on #340
Please assign to me in Python.

[2020-10-03 14:36] Manognya1000 commented on #339
Please assign to me in Python.

[2020-10-03 14:37] Siddhant-sarkar opened #351 "User input option for nth_term_of_ap.java file"
## 🚀 Feature

This feature allows the user to write the first terms and second term and nth Term.
Such that nth term is printed out/

### Have you read the Contribution Guidelines?
Yes,
very Well
## Pitch

In the current version, the required parameters are hardcoded such that user cannot input parameters of their choice.

[2020-10-03 14:37] Manognya1000 commented on #339
I would like to work on this in Python, please assign it to me.

[2020-10-03 14:49] unnatideshwal commented on #340
@hritik5102 - Python

[2020-10-03 14:53] 100mik commented on #328
Can I take this up for GoLang?

[2020-10-03 14:58] manan025 commented on #328
@100mik - Go
@gfmota - Javascript

[2020-10-03 15:09] mahimagoyalx commented on #325
@hritik5102 - C++
@tanishq67 - C
Assigned :)

[2020-10-03 15:13] mahimagoyalx commented on #343
@AnkitJuyal009 - Java
@hritik5102 - Python
Assigned :)

[2020-10-03 15:25] TheOldTravellerNetwork opened #354 "Manhattan Distance"
## 🚀 Feature

Manhattan Distance

### Have you read the Contribution Guidelines?

Yes

## Pitch

We use Manhattan distance, also known as city block distance, or taxicab geometry if we need to calculate the distance between two data points in a grid-like path!

[2020-10-03 15:25] TheOldTravellerNetwork commented on #354
Will work on this in C++

[2020-10-03 15:28] mahimagoyalx commented on #342
@nikolatechie - C, C++, Java & Python
Assigned :)

[2020-10-03 15:29] TheOldTravellerNetwork commented on #63
Would like to add the recursive approach of Binary Search as well in C++

[2020-10-03 15:36] srushtips opened #355 "Mean and Median calculation"
# Description

Given n size unsorted array, find its mean and median.

Mean of an array = (sum of all elements) / (number of elements)

Median of a sorted array of size n is defined as the middle element when n is odd and average of middle two elements when n is even.

Since the array is not sorted here, we sort the array first, then apply above formula.

## Assignees
@srushtips - Java
@89netraM -

[2020-10-03 15:36] srushtips commented on #355
Can I work on this using Java?

[2020-10-03 15:48] 100mik commented on #282
I will take this up for Go.

[2020-10-03 15:51] PaulEvans8669 commented on #326
I'll do this in Javascript @sukritishah15

[2020-10-03 15:56] arnav-roy commented on #151
Kindly assign javascript to me.

[2020-10-03 15:59] manan025 commented on #151
@arnav-roy - Javascript
Assigned

[2020-10-03 16:03] natedtcc commented on #151
Hey @manan025 , mind if I implement this in PHP as well? :D

[2020-10-03 16:05] natedtcc commented on #1
Hi, would I be able to implement the quicksort algo in PHP? Thank you :)

[2020-10-03 16:06] natedtcc commented on #150
Hey, if possible I'd like to work on this in PHP lang as well :))

[2020-10-03 16:09] 100mik commented on #52
Can I take this up for Go?

[2020-10-03 16:12] 100mik commented on #151
I would like to take this up for Go.

[2020-10-03 16:18] 100mik commented on #100
Can I take this up in GoLang?

[2020-10-03 16:38] niranjantuty opened #368 "FizzBuzz Implementation"
## 🚀 Feature

Write a program that prints the numbers 1 to 100. However, for multiples of three, print “Fizz” instead of the number. Meanwhile, for multiples of five, print “Buzz” instead of the number. For numbers which are multiples of both three and five, print “FizzBuzz”.

### Have you read the Contribution Guidelines?

Yes.

## Pitch

Fizz Buzz is a typical interview question that tests the d

[2020-10-03 16:38] Exter-dg commented on #368
I would like to work on this in c++. Can you assign this to me?

[2020-10-03 16:39] arnav-roy commented on #339
Please assign C to me.

[2020-10-03 16:40] niranjantuty commented on #368
@Exter-dg  C++ Assigned

[2020-10-03 16:40] shaunak56 commented on #368
Please assign me python

[2020-10-03 16:42] niranjantuty commented on #368
@shaunak56 Python assigned

[2020-10-03 16:42] lalit0111 commented on #368
I would like to do this in java . Can you assign me?

[2020-10-03 16:42] niranjantuty commented on #368
@lalit0111 Java assigned

[2020-10-03 17:16] pheeel commented on #368
I would like to do this for JS

[2020-10-03 17:30] Algure commented on #337
JAVA...

[2020-10-03 17:30] Algure commented on #337
May I proceed with the PR?

[2020-10-03 17:35] 100mik commented on #368
I would like to take this up for GoLang

[2020-10-03 17:39] junyongxlee commented on #368
Can you assign me for C?

[2020-10-03 17:44] BelleBytes commented on #368
I'd like to do this for C#. Can you assign it to me?

[2020-10-03 18:01] BelleBytes commented on #328
I'd like to do this for C#. Can you assign it to me, please?

[2020-10-03 18:02] sukritishah15 commented on #337
@Algure Go ahead.
Assigned in JAVA

[2020-10-03 18:03] arnav-roy commented on #347
kindly assign me C++

[2020-10-03 18:04] arnav-roy commented on #343
Hello @mahimagoyalx
I want to contribute in C++

[2020-10-03 18:10] sukritishah15 commented on #354
@TheOldTravellerNetwork - C++
Assigned

[2020-10-03 18:12] sukritishah15 commented on #351
Go ahead @Siddhant-sarkar
You are assigned.
Make changes in the same file. 👍

[2020-10-03 18:15] sukritishah15 commented on #355
@srushtips - Please provide description for the issue, as required, before making a PR.
Yes, you can work on it in Java.

@srushtips - Java assigned.

Thank you!

[2020-10-03 18:15] Arsh-ak7 commented on #330
These are two very basic algorithms that one should know.

Closest Pair as the name suggests is a problem where we need to find the minimum distance between a given set of points in 2d space.

Counting Inversions is also another problem where we need to count the number of inversions needed to arrange an array in non decreasing order.

[2020-10-03 18:15] Hitansh159 commented on #343
Hello @mahimagoyalx
I would like to contribute to the issue in c language.

[2020-10-03 18:20] sukritishah15 commented on #368
@pheeel - JS
@100mik - Go
@junyongxlee - C
@BelleBytes - C#

Assigned

[2020-10-03 18:24] pheeel commented on #339
I would like to implement this in Javascript. Please, assign it to me.

[2020-10-03 18:26] mephi007 commented on #274
hey @manan025, @sukritishah15  raised PR #377 for this issue.

[2020-10-03 18:28] unnatideshwal commented on #339
@pheeel - Javascript

[2020-10-03 18:31] unnatideshwal commented on #339
@arnav-roy - C

[2020-10-03 18:32] gfmota commented on #354
i'd like to work on this with c, but first what is going to be the inputs?

[2020-10-03 18:33] manan025 commented on #328
@BelleBytes - C#
Assigned

[2020-10-03 18:35] Exter-dg commented on #355
I would like to work on this. Can you assign it to me for C++?

[2020-10-03 18:40] krishnmohan19 commented on #326
hey can i do this in cpp.
would you please assign it to me

[2020-10-03 18:50] arnav-roy commented on #355
Kindly assign me python.

[2020-10-03 18:51] khushi2912 commented on #355
Can you assign this to me for C? I would love to work on this!

[2020-10-03 19:00] 89netraM commented on #355
I'd love to do the C# on this one

[2020-10-03 19:00] gfmota commented on #108
i'd like to do it in javascript

[2020-10-03 19:01] bryan-wu commented on #347
Please assign C# to me

[2020-10-03 19:11] rishabhsudan opened #383 "Code can now be added in Scala"
## 🚀 Feature

Implementation of famous algorithms in Scala.

### Have you read the Contribution Guidelines?
Yes

## Pitch
It would be great if our project consist of algorithms implemented in one of the most popular language : **Scala**.

[2020-10-03 19:11] manan025 commented on #108
@gfmota - Javascript
Assigned

[2020-10-03 19:21] kamalrt11 commented on #368
I'd like to do it in DART.

[2020-10-03 19:24] manan025 commented on #343
@Hitansh159 - C
@arnav-roy - C++
Assigned

[2020-10-03 19:50] rishabhsudan commented on #339
I want to contribute in Java

[2020-10-03 19:51] manan025 commented on #339
@rishabhsudan - Java
Assigned

[2020-10-03 19:52] rishabhsudan commented on #354
I want to contribute in Java

[2020-10-03 19:54] rishabhsudan commented on #341
Please assign me Java

[2020-10-03 20:42] hritik5102 commented on #340
Hello @unnatideshwal , Please check PR #388

if any changes required, please let me know

Thank you

[2020-10-03 21:02] hritik5102 commented on #343
Hello @mahimagoyalx  , Please check PR #392

if any changes required, please let me know
thank you

[2020-10-03 21:12] wgarcia1309 commented on #368
I would like to work on this in PHP. Can you assign this to me?

[2020-10-03 21:12] arnav-roy commented on #343
Hi @mahimagoyalx , Please check PR #393

if any changes required, please let me know
thank you

[2020-10-03 21:32] arnav-roy commented on #354
Hello @TheOldTravellerNetwork ,I would like to contribute to this issue in python.

[2020-10-03 21:34] wgarcia1309 commented on #328
Can I work on PHP?

[2020-10-03 21:41] arnav-roy commented on #339
Hello @unnatideshwal  @manan025 , Please check PR #386

If any changes required, please let me know
Thank you.

[2020-10-03 21:44] arnav-roy commented on #149
Hello @sukritishah15. I want to contribute in javascript.
Thank you.

[2020-10-03 21:47] Bene98 commented on #340
Hey, can I implement this in java?

[2020-10-03 22:39] wallacecosta commented on #16
Hi @sukritishah15, i want to implement in C# please assign to me.

[2020-10-03 23:35] pheeel commented on #63
I'd like to implement this in JS.

[2020-10-03 23:59] mahimagoyalx commented on #339
As I told you before, you need to make PRs for the already assigned issues first, you have 5 open issues to work on, as soon as you make the PR, you may claim to get assigned :)

[2020-10-04 00:09] mahimagoyalx commented on #326
@PaulEvans8669 - Javascript
@krishnmohan19 - C#
Assigned

[2020-10-04 00:15] mahimagoyalx commented on #282
@100mik - Go
Assigned

[2020-10-04 01:00] natedtcc commented on #355
Hey, can I work on this in PHP? Thanks !

[2020-10-04 02:33] wallacecosta commented on #354
I would like to contribute to this issue in C #

[2020-10-04 02:50] niranjantuty commented on #368
@kamalrt11  Currently we are not accepting in DART.

[2020-10-04 02:51] niranjantuty commented on #368
@wgarcia1309 - PHP Assigned

[2020-10-04 03:01] #351 closed

[2020-10-04 03:14] niranjantuty commented on #340
@Bene98  - Java Assigned.  Go ahead :)

[2020-10-04 03:14] wallacecosta commented on #29
Hi
I would like to contribute to this implementation in C #.  Please assign to me.

[2020-10-04 03:46] MokshTehlan commented on #368
i would like to do in java

[2020-10-04 03:47] niranjantuty commented on #63
@TheOldTravellerNetwork  Cannot assign this issue to you in C++ as it is already done.  You can choose C# / Go / PHP to work on this issue or feel free to work on other issues.

[2020-10-04 03:53] Siddhant-sarkar opened #397 "Request to add Combination and permutation finding algorithm."
## 🚀 Feature

I want to add a new file for finding permutation and a combination of 2 given numbers. Typed by the user.

### Have you read the Contribution Guidelines?

yes,
Very Well.

## Pitch

This feature will add the option to user for finding Combination and permutations of 2 numbers,
This feature is a must because it makes use of a recursive algorithm, to find factorial and then find nCr,nP

[2020-10-04 03:54] niranjantuty commented on #16
@wallacecosta  - C# Assigned.  Go ahead :)

[2020-10-04 03:59] niranjantuty commented on #368
@MokshTehlan  Sorry, Issues are assigned on first come first serve basis.  Can't assign this to you now.  Feel free to work on other issues.

[2020-10-04 04:07] Arsh-ak7 commented on #1
I would like to implement QuickSort in JavaScript

[2020-10-04 04:11] kamalrt11 commented on #397
I would like to Accomplish it with C, C++, and Python.

[2020-10-04 04:26] kamalrt11 opened #398 "Dutch_National__Flag Problem"
## 🚀 Dutch National Flag Problem

Algorithm to sort an array of 0's,1's and 2's.(Sort Colors by assigning numbers to it)

### Have you read the Contribution Guidelines?

Yes

## Pitch

It uses no extra space for sorting like in Merge Sort and Array is sorted in only One Traversal. It is an in-place algorithm.

[2020-10-04 04:30] Anushka-Rajvanshi commented on #339
Please assign me for python implementation.

[2020-10-04 05:00] manan025 commented on #328
@wgarcia1309 - PHP
Assigned

[2020-10-04 05:03] manan025 commented on #149
@arnav-roy - Javascript
Assigned

[2020-10-04 05:05] manan025 commented on #339
@Anushka-Rajvanshi - Python
Assigned

[2020-10-04 05:10] manan025 commented on #1
@Arsh-ak7 - Javascript
Assigned

[2020-10-04 05:10] TheOldTravellerNetwork commented on #354
For everyone contributing to this issue.
The program has to prompt the user to enter the coordinates of the 2 points.
Result should be the MANHATTAN Distance between the two points.
Example :-
Enter the coordinates of the first point:
10 20
Enter the coordinates of the second point:
20 30
Manhattan Distance between the two points is : 20

I hope that's okay @sukritishah15

[2020-10-04 05:15] Carbon24 commented on #16
Hi @sukritishah15, i want to implement in javascript.

[2020-10-04 05:16] manan025 commented on #16
@Carbon24 - Javascript
Assigned

[2020-10-04 05:19] natedtcc commented on #149
Hi, can I implement this in PHP please? Thank you :)

[2020-10-04 05:20] natedtcc commented on #151
Hi, can I do this one in PHP? Thanks :)

[2020-10-04 05:29] Rishabrp99 commented on #343
Hi @mahimagoyalx , I would to contribute this issue in C#.

[2020-10-04 05:43] arsh9806 opened #403 "GCD of two Numbers"
## 🚀 Feature

Given two numbers. find the GCD of those two numbers.

### Have you read the Contribution Guidelines?

yes

[2020-10-04 06:01] gfmota opened #406 "N Queens Puzzle"
## 🚀 Feature

You have to place n chess queens in a n per n chess table without any queen being able to attack which other. You have to receive an int n and return if it's possible or not to place the queens this way.

### Have you read the Contribution Guidelines?

Yes

## Pitch

This is a good one to train backtracking

[2020-10-04 06:02] gfmota commented on #406
I'd like to do this with C

[2020-10-04 06:07] Scarlet-Coder opened #407 "Twin Prime numbers"
## 🚀 Feature

A program which will print all twin prime numbers present in a given range

### Have you read the Contribution Guidelines?

yes

## Assignees
@Scarlet-Coder - Java
@Hitansh159 - C++
@AmrutaKoshe - Python
@masterrachit777 - C#
@ayushpattnaik - C
@sejalshri - JavaScript

[2020-10-04 06:09] Scarlet-Coder commented on #407
please assign me this in java

[2020-10-04 06:28] krishnmohan19 commented on #326
hey @mahimagoyalx
i have made pr.
https://github.com/sukritishah15/DS-Algo-Point/pull/410
please review it.

[2020-10-04 06:28] Arsh-ak7 commented on #403
I would like to do it in Java

[2020-10-04 07:13] meghanakolluri opened #412 "Coin change(DP)"
I have read the contributing guidelines and creating a new pull request.

[2020-10-04 07:42] sejalshri commented on #355
@sukritishah15 please assign me for javascript.

[2020-10-04 07:50] #337 closed

[2020-10-04 08:00] sejalshri commented on #354
@sukritishah15 i would like to work on this issue in javascript.kindly assign.

[2020-10-04 08:07] sejalshri commented on #239
@sukritishah15  please assign priority based scheduling implementation in c++.

[2020-10-04 08:09] ShreyonSinha commented on #398
Can I work in this issue ?

[2020-10-04 08:28] ShreyonSinha opened #415 "Two Pointer Algorithm"
## 🚀 Feature
Two pointers is really an easy and effective technique which is typically used for searching pairs in a sorted array.
This solution works in O(n)

### Have you read the Contribution Guidelines?

Yes

## Pitch

This is very important algorithm in competitive coding .

[2020-10-04 08:53] musaabshirgar1 opened #416 "DS algos in Kotlin"
## 🚀 Feature

I want to contribute as much as DS algorithm's i can using the Kotlin Language.

### Have you read the Contribution Guidelines?

Yes i have read the guidelines.

## Pitch

As the Kotlin language is becoming more and more popular these days, i want to try and set up and example of how people can make use of this language.

[2020-10-04 08:55] musaabshirgar1 commented on #416
Please assign this to me.

[2020-10-04 09:15] Devansh2005 opened #418 "To Implement Kruskal Algorithm"
## 🚀 Feature

Kruskal's algorithm finds a minimum spanning forest of an undirected edge-weighted graph.

### Have you read the Contribution Guidelines?

Yes

## Pitch

This is the graph algorithm that one should try to implement.

[2020-10-04 09:16] manan025 commented on #239
@sejalshri - C++ - Priority based Scheduling (Non - Preemptive)
Assigned

[2020-10-04 09:17] manan025 commented on #343
@Rishabrp99 - C#
Assigned

[2020-10-04 09:21] arnav-roy commented on #418
I want to contribute on this in C++

[2020-10-04 09:25] Devansh2005 commented on #418
I want to contribute in Python

[2020-10-04 09:32] manan025 commented on #354
@gfmota - C
@rishabhsudan - Java
@arnav-roy - Python
@wallacecosta - C#
@sejalshri - Javascript
Assigned

[2020-10-04 09:55] Carbon24 commented on #116
I want to implement it in JS.

[2020-10-04 10:03] Hitansh159 commented on #343
hello @mahimagoyalx  please check PR #420
let me know if any changes required.
Its my first time contributing.
 I enjoyed it thanks for giving chance!!

[2020-10-04 10:07] Hitansh159 commented on #407
please assign me in c++

[2020-10-04 10:30] rishabhsudan commented on #339
Hi @unnatideshwal @manan025 , Please check PR #425

If any changes required, please let me know
Thank you.

[2020-10-04 10:43] arnav-roy commented on #340
Hello @unnatideshwal , Please check PR #426

If any changes required, please let me know.

Thank you.

[2020-10-04 11:09] Manognya1000 commented on #186
Hey! @manan025 @sukritishah15 [I've raised a PR for the code in C](https://github.com/sukritishah15/DS-Algo-Point/pull/421)

[2020-10-04 11:12] Manognya1000 commented on #274
Hey! @sukritishah15 @manan025 [Please look into the code written in Python](https://github.com/sukritishah15/DS-Algo-Point/pull/430)

[2020-10-04 11:53] AmrutaKoshe commented on #407
please assign me this in python

[2020-10-04 12:00] 100mik commented on #355
I would like to take this up dor GoLang

[2020-10-04 12:05] haydarai commented on #342
@mahimagoyalx can I do the C# and JS version?

[2020-10-04 12:23] piyushsharma220699 commented on #406
I'll like to do it with c++

[2020-10-04 12:24] piyushsharma220699 commented on #403
Please assign this to me in C++

[2020-10-04 12:31] Carbon24 commented on #52
Can I implement it in JS?

[2020-10-04 12:31] unnatideshwal commented on #341
@rishabhsudan - Java assigned!

[2020-10-04 12:49] Carbon24 commented on #21
Hi,
Can I implement in JS?

[2020-10-04 12:59] piyushsharma220699 commented on #415
I want to work on it in c++

[2020-10-04 13:00] Manognya1000 commented on #327
@sukritishah15 [Please look into my PR for Python code](https://github.com/sukritishah15/DS-Algo-Point/pull/438)

[2020-10-04 13:03] Carbon24 commented on #39
I can implement in JS.

[2020-10-04 13:18] 0utplay commented on #355
I would love to work on this in Java

[2020-10-04 13:21] 0utplay commented on #108
Can you assign me for Java?

[2020-10-04 13:22] 0utplay commented on #347
I would like to do this in Java

[2020-10-04 14:18] SuyashMore commented on #343
I would like to contribute it in Go.

[2020-10-04 14:19] SuyashMore commented on #249
I would like to contribute it in Go.

[2020-10-04 14:19] SuyashMore commented on #169
I would like to contribute it in Go.

[2020-10-04 14:19] SuyashMore commented on #156
I would like to contribute it in Go.

[2020-10-04 14:20] SuyashMore commented on #133
I would like to contribute it in Go.

[2020-10-04 14:23] sulemangit commented on #266
can u assign this to me - Java

[2020-10-04 14:32] shreyanshchordia opened #442 "Find All Hamiltonain Cycles in a Graph"
## 🚀 Feature
Addition of code that finds all existent hamiltonian cycles in a GRAPH.

### Have you read the Contribution Guidelines?

Yes

## Pitch

Quality problems make the Repository quality level. I request you to assign me the task for Hacktober Fest 2020

## Assignees
@shreyanshchordia - C++
@disha4u - Python

[2020-10-04 14:36] manan025 commented on #39
@Carbon24 - JavaScript
Assigned

[2020-10-04 14:36] sukritishah15 commented on #406
@gfmota - C
@piyushsharma220699 - C++
Assigned

[2020-10-04 14:39] sukritishah15 commented on #415
@ShreyonSinha - Java
@piyushsharma220699 - C++
Assigned

[2020-10-04 14:41] sukritishah15 commented on #418
@arnav-roy - C++
@Devansh2005 - Python
Assigned

[2020-10-04 14:43] manan025 commented on #108
@0utplay - Java
Assigned

[2020-10-04 14:43] manan025 commented on #343
@SuyashMore - Go
Assigned

[2020-10-04 14:44] sukritishah15 commented on #383
@rishabhsudan - Okay, We can do that.
I'll add a folder for that in the codebase in 5 minutes.
You can create issues for Code in Scala.

[2020-10-04 14:48] sukritishah15 commented on #416
@musaabshirgar1 - Sure, we can do this.
I'll add a folder for Kotlin in the codebase in 5 minutes.
You can create issues for code in Kotlin.
Thank you!

[2020-10-04 14:50] manan025 commented on #249
@SuyashMore - Go
Assigned

[2020-10-04 14:50] masterrachit777 commented on #355
Assign me this using C++

[2020-10-04 14:51] Anushka-Rajvanshi commented on #415
Please assign me for C implementaton.

[2020-10-04 14:54] musaabshirgar1 commented on #416
@sukritishah15 great thanks.

[2020-10-04 14:58] arnav-roy commented on #415
@Anushka-Rajvanshi - C
Assigned

[2020-10-04 14:59] sukritishah15 commented on #397
@Siddhant-sarkar - Java
@kamalrt11 - C, C++, Python
Assigned

[2020-10-04 14:59] musaabshirgar1 opened #445 "Merge Sort (Check labels to know which programming languages can this issue be taken in)"
## 🚀 Feature

Adding Merge Sorting Algorithm in Kotlin Language.

### Have you read the Contribution Guidelines?

Yes

## Assignees
@musaabshirgar1 - Kotlin
@scshiv29-dev - JavaScript
@natedtcc - PHP

[2020-10-04 14:59] masterrachit777 opened #446 "Add Insertion Sort"
## 🚀 Feature

To add the insertion sort algorithm along with number of comparisons and number of movements.

### Have you read the Contribution Guidelines?

Yes.

## Pitch

It must be implemented as it is as important sorting algorithm.

[2020-10-04 15:00] masterrachit777 commented on #446
I would like to work on it using C++. Assign me please

[2020-10-04 15:01] musaabshirgar1 commented on #445
@sukritishah15 assign this to me.

[2020-10-04 15:01] #412 closed

[2020-10-04 15:02] sukritishah15 commented on #407
@Scarlet-Coder - Java
@Hitansh159 - C++
@AmrutaKoshe - Python

Assigned.

[2020-10-04 15:04] tanishq67 commented on #415
please assign me this for Python implementation.

[2020-10-04 15:05] sukritishah15 commented on #442
@shreyanshchordia - Definitely!
Which programming language would you like to take up this issue in?

[2020-10-04 15:06] shreyanshchordia commented on #442
C++

[2020-10-04 15:06] sukritishah15 commented on #445
@musaabshirgar1 - Kotlin assigned

[2020-10-04 15:07] masterrachit777 commented on #407
Assign me this in C#

[2020-10-04 15:08] arnav-roy commented on #407
@masterrachit777 - C#
Assigned.

[2020-10-04 15:09] arnav-roy commented on #407
Kindly assign me C.

[2020-10-04 15:09] sukritishah15 commented on #442
@shreyanshchordia - C++
Assigned

[2020-10-04 15:11] manan025 commented on #133
@SuyashMore - Go
Assigned

[2020-10-04 15:14] Siddhant-sarkar commented on #397
@sukritishah15 I have sent a pull request with the code for permutation and combination. Please check.

[2020-10-04 15:20] wallacecosta commented on #355
@89netraM assigned to C#

[2020-10-04 15:25] wallacecosta commented on #355
@Exter-dg assigned to C++

[2020-10-04 15:32] wallacecosta commented on #355
@arnav-roy assigned to Python

[2020-10-04 15:33] wallacecosta commented on #355
@khushi2912 assigned to C

[2020-10-04 15:35] sukritishah15 commented on #355
@wallacecosta - Update the issue description as well with the assignee names.
And remove the labels for which issue is assigned.

Thank you and you're doing a great job! 👍

[2020-10-04 15:35] wallacecosta commented on #355
@natedtcc assigned to PHP

[2020-10-04 15:38] wallacecosta commented on #355
@sukritishah15 thanks, i'll be doing it now! 😃

[2020-10-04 15:43] wallacecosta commented on #355
@sukritishah15 Labels CPP not equals C++ ?
Same language?

[2020-10-04 15:46] tanishq67 commented on #325
Please assign this to me for C#.

[2020-10-04 15:47] sukritishah15 commented on #342
@haydarai - C# and JS
Assigned

[2020-10-04 15:48] srushtips commented on #355
I am working in Java

[2020-10-04 15:49] mepallabiroy opened #450 "Generate power set of the given set."
## 🚀 Feature

If we are provided with a set, generate all the possible subsets of it.
Example: If our set is { 1, 2, 3}, power set would be { NULL, 1, 2, 3, 12, 13, 23, 123}.

### Have you read the Contribution Guidelines?

Yes.

## Pitch

This code can be used to generate all the possible subsets of the provided set.

[2020-10-04 15:50] aditik03 commented on #169
@SuyashMore  - Go (assigned)

[2020-10-04 15:50] mepallabiroy commented on #450
Please assign me this task. I can provide the code in C language.

[2020-10-04 15:50] Devansh2005 commented on #446
Can I do this in Python ?

[2020-10-04 15:54] aditik03 commented on #446
@sukritishah15 see if this issue should be continued or not

[2020-10-04 15:55] aditik03 commented on #450
@mepallabiroy - C (assigned)

[2020-10-04 15:56] niranjantuty commented on #21
@Carbon24 - JS Assigned.  Go ahead.

[2020-10-04 16:04] masterrachit777 commented on #450
Please assign me this task in c++

[2020-10-04 16:05] aditik03 commented on #450
@masterrachit777 - C++

[2020-10-04 16:06] ayushpattnaik commented on #450
Please assign me this task. I can provide the code in javascript language.

[2020-10-04 16:06] aditik03 commented on #450
yes, @ayushpattnaik - JavaScript

[2020-10-04 16:11] aditik03 commented on #416
@musaabshirgar1
hey, can you mention which algo you want to implement in kotlin ?

[2020-10-04 16:23] wallacecosta commented on #355
Thank you for your interest in contributing, but unfortunately Java was already assigned to another user.  Don't be sad because we have other issues where you can contribute!  Have an amazing week!

[2020-10-04 16:23] musaabshirgar1 commented on #416
@aditik03 I just implemented merge sort algo. I have a couple of algos in my mind such as Longest Common Subsequence, Kadane's, Height of binary Tree etc.

[2020-10-04 16:27] musaabshirgar1 opened #455 "Longest Common Subsequence"
## 🚀 Feature

Implementing Longest Common Subsequence using Dynamic Programming in Kotlin

### Have you read the Contribution Guidelines?

Yes

### Assignees
@musaabshirgar1 - Kotlin

[2020-10-04 16:32] sejalshri commented on #355
@wallacecosta can i work on implementation in javascript?

[2020-10-04 16:34] musaabshirgar1 opened #458 "Diameter of Binary Tree"
## 🚀 Feature

Implementing the Algorithm to find the Diameter of a Binary Tree

### Have you read the Contribution Guidelines?

Yes

### Assignees
@musaabshirgar1 - Kotlin
@Sudheer121 - C++
@0utplay  - Java
@arnav-roy - Python
@yashkansal - C
@DemonDaddy22 - JavaScript
@cr33dx - Golang

[2020-10-04 16:40] aditik03 commented on #416
@musaabshirgar1 okay great but we already have an Issue on the Longest Common Subsequence, Kadane's, and height of the binary tree.
Kindly think of a different topic
Thank you

[2020-10-04 16:45] wallacecosta commented on #355
@sejalshri yes! Assigned to JS

[2020-10-04 16:47] musaabshirgar1 commented on #416
@aditik03 I meant in Kotlin. Are the following issues present for Kotlin?

[2020-10-04 16:49] aditik03 commented on #416
@musaabshirgar1 we will add the label of kotlin to these issues if you wish to work on it.

[2020-10-04 16:50] disha4u commented on #450
Please assign me this task, I can provide code for python

[2020-10-04 16:51] musaabshirgar1 commented on #416
@aditik03 yes please. I have already added two more issues for Kotlin.

[2020-10-04 16:53] aditik03 commented on #416
@musaabshirgar1 cool

[2020-10-04 16:54] aditik03 commented on #450
@disha4u - python

[2020-10-04 16:55] aditik03 commented on #455
@musaabshirgar1 - Kotlin

[2020-10-04 16:57] Hitansh159 commented on #450
hello,
please assign me in java

[2020-10-04 16:59] aditik03 commented on #458
@musaabshirgar1 - Kotlin(assigned)

[2020-10-04 17:00] aditik03 commented on #450
@Hitansh159 - Java

[2020-10-04 17:28] sejalshri commented on #397
@sukritishah15  i can implement it in Javascript. please assign.

[2020-10-04 17:38] WOLFI3654 commented on #406
I can accomplish this in either java or javascript.

[2020-10-04 17:54] Sudheer121 commented on #458
Assign me this, for C++.

[2020-10-04 17:58] 0utplay commented on #458
Can you assign me to this in Java

[2020-10-04 18:31] Siddhant-sarkar opened #471 "To add the complete Trigonometric Calculator ."
## 🚀 Feature

This is an interactive console application for find Various Trigonometric ratio of angles typed by the user and the inverse of ratio typed by user

### Have you read the Contribution Guidelines?

Yes

## Pitch

The complete trigonometric calculator can find the Sine, Cosine, Tangent, Cotangent, Secant, Cosecant of any angle types in Degrees or Radians. And further, they can find the

[2020-10-04 18:35] scshiv29-dev commented on #445
can i get assigned in java script @sukritishah15

[2020-10-04 18:51] thevyanshu commented on #450
Hey,
Please Assign me in Python

[2020-10-04 18:55] arnav-roy commented on #458
@Sudheer121 - C++
@0utplay - Java
Assigned.

[2020-10-04 18:59] arnav-roy commented on #458
Kindly assign me python.

[2020-10-04 19:05] arnav-roy commented on #445
@scshiv29-dev - JavaScript assigned.

[2020-10-04 19:17] arnav-roy commented on #450
@thevyanshu - Python

[2020-10-04 19:18] arnav-roy commented on #450
@thevyanshu disha4u is already assigned for Python. Kindly choose some other language or issue.

[2020-10-04 19:28] arnav-roy commented on #406
@WOLFI3654 - Java and JavaScript
Assigned.

[2020-10-04 19:29] WOLFI3654 commented on #406
Oh I only wanted to do one of them

[2020-10-04 19:32] arnav-roy commented on #406
I want to contribute in Pyhon.

[2020-10-04 19:39] ayushpattnaik commented on #471
Assign me this for c++

[2020-10-04 19:42] ayushpattnaik commented on #407
Kindly assign me C

[2020-10-04 19:45] yashkansal commented on #458
I would like to implement it in c .Plz , assign me.

[2020-10-04 19:53] arnav-roy commented on #458
@yashkansal - C
@arnav-roy - Python
Assigned.

[2020-10-04 19:55] arnav-roy commented on #407
@ayushpattnaik - C
Assigned.

[2020-10-04 19:57] arnav-roy commented on #397
@sejalshri - JavaScript
Assigned.

[2020-10-04 20:00] arnav-roy commented on #340
I want to collaborate in C. Kindly assign.

[2020-10-04 20:00] arnav-roy commented on #340
@arnav-roy - C
Assigned.

[2020-10-04 20:18] Ankitcode99 opened #479 "Word Break Problem, Multisource Dijkstra, Fast Breadth First Search. (30 PR's acceptable)"
## 🚀 Feature

I want to contribute as much as Graphs and Dynamic Programming examples as I could using the C++ Language.

### Have you read the Contribution Guidelines?

Yes i have read the guidelines.

## Pitch

C++ is the most fundamental and the strongest language which any computer science graduate face once in his/her life. So learning how to implement such beautiful algorithms would surely b

[2020-10-04 20:44] Hasaber8 commented on #23
https://github.com/sukritishah15/DS-Algo-Point/pull/424
I have already submitted a PR for a stack implementation example about infix and postfix in cpp , if you could assign it to me it will be great!

[2020-10-04 21:36] sukritishah15 commented on #471
@Siddhant-sarkar - Assigned.

[2020-10-04 21:51] sukritishah15 commented on #479
@Ankitcode99 - C++
Assigned all 3.

[2020-10-05 01:29] Arihant416 opened #484 "Majority Element in O(1) Space"
## 🚀 Feature

Problem -To find the majority element in an array if there's one (in constant Space)
I'll try to solve it in C++ using Moore's voting technique

### Have you read the Contribution Guidelines?

Yes

## Pitch

This is one of the most commonly asked interview problems and a pretty interesting one. Usually, it can be solved easily using a map or dictionary by storing the frequency, but s

[2020-10-05 01:29] Arihant416 commented on #484
Kindly assign this problem to me, I'd like to contribute

[2020-10-05 01:52] disha4u commented on #450
I have accidentally removed my assignment, please help

[2020-10-05 03:06] natedtcc commented on #445
Hi, can I implement this in PHP please? Thanks!

[2020-10-05 03:10] natedtcc commented on #397
I would like to do this in PHP please. Thanks!

[2020-10-05 03:42] sejalshri commented on #407
@sukritishah15  @arnav-roy  please assign me, for implementation in Javascript.

[2020-10-05 03:51] masterrachit777 commented on #446
Plzz assign me this.

[2020-10-05 04:46] DemonDaddy22 commented on #266
Hey, assign this to me in JS.

[2020-10-05 04:46] DemonDaddy22 commented on #458
Assign this to me in JS.

[2020-10-05 05:27] sukritishah15 commented on #484
@Arihant416 - C++
Assigned

[2020-10-05 05:32] mahimagoyalx commented on #266
@DemonDaddy22 - Javascript
Assigned

[2020-10-05 05:33] mahimagoyalx commented on #325
@tanishq67 - C#
Assigned

[2020-10-05 05:36] sukritishah15 commented on #29
@wallacecosta - C#
Assigned

[2020-10-05 05:39] sukritishah15 commented on #52
@100mik - Go
@Carbon24 - JS
Assigned

[2020-10-05 05:39] Manognya1000 commented on #186
Hey! @manan025 @aditik03  @sukritishah15 [Please look into the PR raised by me.](https://github.com/sukritishah15/DS-Algo-Point/pull/421)

[2020-10-05 05:40] sukritishah15 commented on #55
@gfmota - C
Assigned

[2020-10-05 05:44] sukritishah15 commented on #100
@deepansha-singh - PHP (Now, taking up codes in PHP as well)
@100mik - Go
Assigned.

[2020-10-05 05:48] sukritishah15 commented on #149
@natedtcc - PHP
Assigned

[2020-10-05 05:50] ayushpattnaik commented on #484
Assign me this for java

[2020-10-05 05:50] sukritishah15 commented on #151
@100mik - Go
@natedtcc - PHP
Assigned

[2020-10-05 06:01] Arihant416 commented on #484
@sukritishah15 done ma'am kindly review pr #489

[2020-10-05 06:13] ayushpattnaik opened #491 "Value of pi by random numbers"
## 🚀 Feature

Problem: Estimate the value of pi by generating random numbers

### Have you read the Contribution Guidelines?

Yes

## Pitch

This is an interesting and challenging question for all the coders.

[2020-10-05 06:13] ayushpattnaik commented on #491
Kindly assign me this for C++

[2020-10-05 06:19] Arihant416 commented on #491
Indeed an interesting problem @ayushpattnaik  I'd like to contribute a solution in python, kindly assign me for Python,

[2020-10-05 06:20] Hitansh159 commented on #491
Assign me in python

[2020-10-05 06:29] mepallabiroy opened #494 "Rotate the given array by D elements in clockwise direction"
## 🚀 Feature

You are provided with an array of integers, write a code to rotate the array by D elements in clockwise direction.
example:  1 2 3 4 5, D = 2, Output: 3 4 5 1 2

### Have you read the Contribution Guidelines?

Yes

## Pitch

This code can we used to rotate the array by D elements.

[2020-10-05 06:30] mepallabiroy commented on #494
Please assign me this task. I can solve using Python.

[2020-10-05 06:30] Hitansh159 commented on #494
Assign me in c++

[2020-10-05 07:01] satwik-chowdary commented on #484
I will do it in C. Pls assign it to me

[2020-10-05 07:01] lostgirljourney commented on #446
@aditik03 refer to this issue #13
@sukritishah15 di pls tell whether to close it or not!

[2020-10-05 07:11] #154 closed

[2020-10-05 07:12] arnav-roy commented on #407
@sejalshri - JavaScript
Assigned.

[2020-10-05 07:14] arnav-roy commented on #445
@natedtcc - PHP
Assigned.

[2020-10-05 07:16] arnav-roy commented on #458
@DemonDaddy22 - JavaScript
Assigned.

[2020-10-05 07:18] arnav-roy commented on #484
@ayushpattnaik - Java
@satwik-chowdary - C
Assigned

[2020-10-05 07:21] arnav-roy commented on #450
@disha4u I have reassigned you.

[2020-10-05 08:05] natedtcc commented on #407
Hi, can I do this in PHP please? Thank you :)

[2020-10-05 08:20] cr33dx commented on #458
i'd like to implement it in golang.

[2020-10-05 08:47] masterrachit777 commented on #326
please assign this to me in C

[2020-10-05 08:55] mahimagoyalx commented on #326
@masterrachit777 - C
Assigned

[2020-10-05 09:05] ayushpattnaik commented on #484
@arnav-roy @sukritishah15 kindly review the code and merge the PR

[2020-10-05 09:37] natedtcc commented on #249
Hello, I'd like to work on this in PHP :)

[2020-10-05 09:49] #407 closed

[2020-10-05 09:50] sunilgknair051 commented on #201
So, I have been looking at a few codes and realized that some of them might have been plagiarised. To all the Collaborators on this project, please look at them carefully and maybe we need a sieve to check this copy-paste attitude. Suggestions and improvements are welcome.

[2020-10-05 10:10] masterrachit777 commented on #403
please Assign me this in C#

[2020-10-05 10:34] #446 closed

[2020-10-05 10:39] deepansha-singh commented on #471
can I be assigned this issue in c++ or python?

[2020-10-05 11:03] lostgirljourney commented on #201
@sunilgknair051 generally codes are similar and coded in similar style so kind of false positive happens. Thing is you need to refer the code from somewhere so use it as reference and about plagiarism since this is about learning so it depends on person to person whether are learning or just doing for the sake of Hacktoberfest! 🙃

[2020-10-05 11:07] sushant-varanasi commented on #171
I would like to do the same using python and java

[2020-10-05 11:10] Hasaber8 opened #509 "Stack Infix and postfix example in C++"
## 🚀 Feature

Simple stack execution example in cpp.

### Have you read the Contribution Guidelines?

Yes

## Pitch

PR already made:- https://github.com/sukritishah15/DS-Algo-Point/pull/424

[2020-10-05 11:33] ayushpattnaik commented on #509
Assign me this for C

[2020-10-05 12:57] ExpressHermes commented on #398
I would like to work on this in C++ and Python.

[2020-10-05 12:58] Jollof-guy commented on #450
Hey, Please assign me in C#

[2020-10-05 12:59] ExpressHermes commented on #201
@sukritishah15 I am interested to be a collaborator. I can review codes in C, C++ and Python.

[2020-10-05 13:40] gfmota commented on #108
I'm unnassing it, pls put javascript as free again

[2020-10-05 14:00] Anushka-Rajvanshi commented on #494
Assign me for C implementation.

[2020-10-05 14:30] yashkansal commented on #494
I would like to implement in java

[2020-10-05 14:51] sukritishah15 commented on #509
@ayushpattnaik - C assigned

[2020-10-05 14:57] sukritishah15 commented on #201
@sunilgknair051 and @lostgirljourney Thank you for putting your points forward.

[2020-10-05 14:58] sukritishah15 commented on #201
Sure! I have sent you invite for collaborator.
Thank you!

[2020-10-05 14:58] #201 closed

[2020-10-05 15:03] sukritishah15 commented on #494
@mepallabiroy - Python
@Hitansh159 - C++
@Anushka-Rajvanshi - C
@yashkansal - Java

Assigned

[2020-10-05 15:06] DemonDaddy22 commented on #266
@sukritishah15 @mahimagoyalx kindly review and merge the PR #508.

[2020-10-05 15:08] DemonDaddy22 commented on #458
@sukritishah15 @arnav-roy kindly review and merge the PR #506.

[2020-10-05 15:11] ayushpattnaik commented on #509
Do we also have to add the evaluation of postfix expression or just the conversion of infix to postfix expression?

[2020-10-05 15:12] ayushpattnaik commented on #494
Assign me for C#

[2020-10-05 15:13] ShrutiRawal opened #515 "Feature - Sorting Algorithm"
Problem - Implement counting sort algorithm for Java

[2020-10-05 15:13] ShrutiRawal commented on #515
I have read the contribution guidelines, please assign this to me

[2020-10-05 15:43] Hasaber8 commented on #509
I have added evaluation too

[2020-10-05 15:46] ayushpattnaik commented on #509
So during evaluation, did you consider multidigit number and whitespaces?

[2020-10-05 15:59] ChampInMyThought commented on #418
May I queue up for C, and C++?

[2020-10-05 16:17] Hasaber8 commented on #509
Yep, I'm taking input as char

[2020-10-05 16:57] arnav-roy commented on #418
@ChampInMyThought C++ is already assigned.
I am assigning you for C for now.
@ChampInMyThought - C
Assigned.

[2020-10-05 16:59] arnav-roy commented on #450
@Jollof-guy - C#
Assigned.

[2020-10-05 17:00] arnav-roy commented on #494
@ayushpattnaik - C#
Assigned.

[2020-10-05 17:15] Ritika0126 commented on #484
Kindly assign the problem to me in Python, I'd like to contribute.

[2020-10-05 17:16] cr33dx commented on #491
can this be assigned to me for golang?

[2020-10-05 18:20] sunny52525 commented on #494
Assign me for Kotlin

[2020-10-05 18:21] aditya-gite-04 opened #519 "Interpolation Search in JAVA and Improving Documentation"
## 🚀 Feature

Given a sorted array of n uniformly distributed values arr[], write a function to search for a particular element x in the array

### Have you read the Contribution Guidelines?

Yes

## Pitch

This is already not present in the Java sub-repo so i would be contributing towards it and apart from that I would Surely Make the Documentation look more presentable and clean.

[2020-10-05 18:21] aditya-gite-04 commented on #519
Can I please work on this

[2020-10-05 18:29] aditya-gite-04 opened #520 "String Palindrome Check"
## 🚀 Feature

It will check if a string is same even after reversing

### Have you read the Contribution Guidelines?

Yes

## Pitch

It is not already present in the Java repo so i would be basically contributing towards it

[2020-10-05 18:29] aditya-gite-04 commented on #520
Can I work on this please

[2020-10-05 19:24] AndreaBiondaro commented on #326
Hi, can i do this in go?

[2020-10-05 19:56] arnav-roy commented on #458
@cr33dx - Golang
Assigned.

[2020-10-05 19:58] arnav-roy commented on #484
@Ritika0126 - Python
Assigned.

[2020-10-05 19:59] arnav-roy commented on #491
@cr33dx - Golang
Assigned.

[2020-10-05 20:00] arnav-roy commented on #494
@sunny52525 - Kotlin
Assigned.

[2020-10-05 20:03] ayushpattnaik commented on #491
@arnav-roy  kindly review the time and space complexity of code

[2020-10-05 20:03] yashkansal commented on #515
I would like to implement in java

[2020-10-05 20:04] yashkansal commented on #515
I would like to implement in c

[2020-10-05 20:04] yashkansal commented on #520
I would like to work in java

[2020-10-05 20:24] hritik5102 commented on #445
Hello @musaabshirgar1 , I would like to contribute to this issue

- [x] Merge sort using GO

Thank you :)

[2020-10-05 20:28] ayushpattnaik commented on #491
@arnav-roy review the time complexity and space complexity of code

[2020-10-05 20:28] piyushsharma220699 commented on #520
I'll like to work in C++

[2020-10-05 20:28] hritik5102 commented on #418
Hello @Devansh2005 , I would like to contribute to this issue

- [x] **_Implementation of Kruskal algorithm in JAVA_**

Thank you :)

[2020-10-05 20:30] piyushsharma220699 commented on #515
I'll like to implement in C++

[2020-10-05 20:30] ayushpattnaik commented on #494
@sukritishah15 kindly review and merge my PR

[2020-10-05 20:31] ayushpattnaik commented on #520
Please assign me this in python

[2020-10-05 20:31] piyushsharma220699 commented on #445
I can contribute this in C++ :) Assign this to me

[2020-10-05 20:31] piyushsharma220699 commented on #455
I can do this in C++ :)

[2020-10-05 20:33] musaabshirgar1 commented on #445
@hritik5102 sorry but i just raised the issue and i am not the maintainer if the repository. Tag any of the maintainers of this repository and they'll assign this issue to you.

[2020-10-05 20:34] musaabshirgar1 commented on #445
@piyushsharma220699 already implemented in c++.

[2020-10-05 20:43] hritik5102 commented on #327
Hello @sukritishah15 , I would like to contribute to this issue

- [x] AVL Tree in C

Thank you :)

[2020-10-05 20:46] aditya-gite-04 commented on #520
it is already completed there

[2020-10-05 20:47] aditya-gite-04 commented on #520
It is already completed there

[2020-10-05 20:54] ayushpattnaik commented on #491
@arnav-roy I have added proper the proper notations. Please merge it.

[2020-10-05 21:04] sunny52525 commented on #494
@sukritishah15 added code in Kotlin. #529

[2020-10-05 22:28] natedtcc commented on #520
Hi, can I work on this in PHP? Thanks :)

[2020-10-06 00:12] wallacecosta commented on #415
@tanishq67 assigned  Python

[2020-10-06 01:01] wallacecosta commented on #519
Hi @aditya-gite-04 , but unfortunately the interpolation search algorithm is already in progress with PR # 311 which has not yet been merged by a conflict that is being resolved.  About the idea of ​​improving documentation, tell us more about it and if you are interested, change the description to just improve the documentation.  Have a great week and thanks for collaborating

[2020-10-06 02:24] Siddharth009 opened #530 "I can help include knapsack algorithm in javascript section"
## 🚀 Feature

I can see a good number of algorithms already compiled, I can add the popular Knapsack Algorithm to the list.

### Have you read the Contribution Guidelines?

Yes

## Pitch

It's a great optimization algorithm and is highly popular as well. It surely deserves a position on the list.

[2020-10-06 04:08] #519 closed

[2020-10-06 04:16] AmrutaKoshe commented on #520
Can I do this in C?

[2020-10-06 04:41] arnav-roy commented on #418
@hritik5102 - Java
Assigned.

[2020-10-06 04:53] sejalshri commented on #149
I can implement it in javascript.
@sukritishah15

[2020-10-06 04:55] disha4u commented on #398
I would like to work in python

[2020-10-06 04:56] disha4u commented on #398
this is duplicate of #282

[2020-10-06 04:56] disha4u commented on #398
please close this

[2020-10-06 04:59] disha4u commented on #442
can I work on this in python

[2020-10-06 05:04] sejalshri commented on #509
i would like to implement it in python @sukritishah15

[2020-10-06 06:04] kamalrt11 commented on #162
I wish to complete both Radix and Bucket Sort in C.

[2020-10-06 06:34] #398 closed

[2020-10-06 07:01] AnanyaNagar commented on #509
@sejalshri - Python assigned

[2020-10-06 07:07] AnanyaNagar commented on #442
@disha4u - Python assigned

[2020-10-06 07:19] AnanyaNagar commented on #327
@hritik5102 - C
Assigned

[2020-10-06 08:47] kamalrt11 opened #537 "Karatsuba Algorithm for Fast Multiplication"
## 🚀 Feature

Karatsuba Algorithm for Fast Multiplication.A new way for Multiplication than Naive-Method.

### Have you read the Contribution Guidelines?

Yes

## Pitch

Based on **Divide and Conquer** Paradigm. More optimised Time Complexity.

[2020-10-06 08:59] mayukh00 opened #538 "Comb Sort"
## 🚀 Feature

(Write down a clear and concise description of what the feature is.)

### Have you read the Contribution Guidelines?

(Write your answer here.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

[2020-10-06 09:21] AnanyaNagar commented on #162
@kamalrt11 - C (Radix sort)(Bucket sort)
Assigned

[2020-10-06 09:28] krrahul23 opened #541 "Chinese Remainder's Theorem"
## 🚀 Feature
The Chinese remainder theorem solves a group of
equations of the form
x = a1 mod m1
x = a2 mod m2
···
x = an mod mn
where all pairs of m1, m2,..., mn are coprime.

### Have you read the Contribution Guidelines?
Yes

## Pitch
This is a very useful algorithm it is used to solve simultaneous linear congruence of coprime moduli.
Basically, we are given k numbers which are pairwise coprime

[2020-10-06 09:28] krrahul23 commented on #541
I would like to implement it in c++

[2020-10-06 09:29] krrahul23 commented on #541
I have already completed 3 issues/tasks in this ds-algo repo and this is gonna be my last  tasks in this repo.

[2020-10-06 10:18] agrawaladitya192 opened #545 "Unique Number From An Array of Numbers"
## 🚀 Feature

Problem Statement : Find the unique number from an array of numbers where every repeated number is only repeated twice.

### Have you read the Contribution Guidelines?

Yes

## Pitch

To contribute to this repository for a one stop repository containing algorithms and implementations of algorithmic problems.

[2020-10-06 10:35] hemraj4545 commented on #471
@sukritishah15 I wish to do the same with GoLang. Can you assign it to me?

[2020-10-06 10:55] yashkansal commented on #545
I would like to implement in java

[2020-10-06 11:03] agrawaladitya192 commented on #545
If I am one of the person who can give a approval, please proceed.

[2020-10-06 11:11] niranjantuty commented on #326
@AndreaBiondaro  Go- assigned

[2020-10-06 11:14] Arsh-ak7 commented on #330
Can You please assign me this?

[2020-10-06 11:20] niranjantuty commented on #403
@Arsh-ak7 - Java
@piyushsharma220699 - C++
@masterrachit777 - C#

Assigned !

[2020-10-06 12:57] tanishq67 commented on #403
assign me this in python

[2020-10-06 13:20] yadavgaurav251 commented on #327
@sukritishah15 Hey, I have added my PR. Please review it.

[2020-10-06 13:31] niranjantuty commented on #403
@tanishq67  Python - Assigned

[2020-10-06 13:34] hritik5102 commented on #327
Hello @AnanyaNagar , Please check PR #550

If any changes required, please let me know
Thank you :)

[2020-10-06 13:54] Revenge-Rakesh opened #551 "Median of Two Sorted Arrays"
## 🚀 Feature
Problem:
Given two sorted arrays nums1 and nums2 of size m and n respectively, return the median of the two sorted arrays.
The overall run time complexity should be O(log (m+n)).

### Have you read the Contribution Guidelines?

Yes

## Pitch

To contribute to this repository for a one stop repository containing algorithms and implementations of algorithmic problems.

[2020-10-06 13:56] Revenge-Rakesh commented on #551
@sukritishah15 I would like to work on this in Java.

[2020-10-06 14:01] hritik5102 commented on #418
Hello @sukritishah15 , Please check PR #552

If changes required, please let me know
Thank you :)

[2020-10-06 14:06] wallacecosta commented on #368
Java is again pending if anyone wants to contribute, as the PR was not completed successfully due to non-compliance with contribution rules. @MokshTehlan still interested?

[2020-10-06 14:28] wallacecosta commented on #403
C # is again pending if anyone wants to contribute, as the PR was not completed successfully due to non-compliance with contribution rules.
If anyone is interested just ask!

[2020-10-06 14:28] agrawaladitya192 opened #554 "Finding Unique Number when each repeated number appears thrice only"
## 🚀 Feature

Problem : Find the unique number in the array where each repeated elements is repeated only thrice.

### Have you read the Contribution Guidelines?

Yes

## Pitch

To let the aspirants become better in bit manipulation.

[2020-10-06 14:41] Hitansh159 commented on #491
please check @arnav-roy my PR #555
let me know if any changes required

[2020-10-06 14:42] Hitansh159 commented on #494
please check my PR #556
and let me know if any change needed
ty for chance enjoyed it!!

[2020-10-06 14:47] arsh9806 commented on #403
Assign me for its javascript solution.

[2020-10-06 15:19] 0utplay commented on #368
I would like do that in Java if @MokshTehlan does not want to

[2020-10-06 15:38] Ritika0126 commented on #509
I would like to implement it in java, can u assign this to me.

[2020-10-06 15:41] Ritika0126 commented on #494
I would like to contribute in JavaScript, can you please assign it to me.

[2020-10-06 15:59] niranjantuty commented on #403
@arsh9806  - JS Assigned !

[2020-10-06 16:14] sukritishah15 commented on #551
@Revenge-Rakesh - Java

[2020-10-06 16:14] Ritika0126 commented on #23
I would like to add stack implementation in JavaScript, can you assign it to me.

[2020-10-06 16:19] sukritishah15 commented on #520
@aditya-gite-04 - Java
@piyushsharma220699 - C++
@ayushpattnaik - Python
@natedtcc - PHP
@AmrutaKoshe - C

Assigned

[2020-10-06 16:19] piyushsharma220699 commented on #551
I'll like to do this in C++

[2020-10-06 16:20] piyushsharma220699 commented on #545
Assign this to me in C++ :)

[2020-10-06 16:23] sukritishah15 commented on #530
@Siddharth009 - JavaScript
Assigned

[2020-10-06 16:25] sukritishah15 commented on #537
Which language would you like to claim this issue in @kamalrt11 ?

[2020-10-06 16:26] sukritishah15 commented on #538
@mayukh00 - Python
Assigned

[2020-10-06 16:28] sukritishah15 commented on #541
@krrahul23 - C++
Assigned

[2020-10-06 16:31] sukritishah15 commented on #545
@agrawaladitya192 - C++ (Since, he has created the issue as well as PR + FCFS)
@yashkansal - Java

Assigned

[2020-10-06 16:34] sukritishah15 commented on #554
@agrawaladitya192 - Please provide us with the programming lang. you would like to claim this issue in.

[2020-10-06 16:38] agrawaladitya192 commented on #554
Programming Language : C++

[2020-10-06 16:54] AnanyaNagar commented on #551
@piyushsharma220699 - C++
Assigned

[2020-10-06 17:34] kamalrt11 commented on #537
I would like to do it in Python.

[2020-10-06 17:50] nikita1211 commented on #328
Hi, I've created a pull request for java code for this issue, please review it. Thanks

[2020-10-06 17:57] nikita1211 commented on #403
Please assign to me this issue for C

[2020-10-06 18:36] Ankitcode99 opened #569 "Longest Path in a DAG-(DP on Trees), k'th parent of a node - (DP on Trees), Number of unique path between 2 nodes-(DP on Trees) [30 PR's to be linked]"
## 🚀 Feature

(Write down a clear and concise description of what the feature is.)

### Have you read the Contribution Guidelines?

Yes

## Pitch

DP on trees is cool concept moreover at times it helps in solving some tough interview problems at FAANG companies I want to contribute in C++

## Assignees
### Longest Path in a DAG-(DP on Trees)
@Ankitcode99 - C++

### k'th parent of a node - (DP on T

[2020-10-06 18:49] sukritishah15 commented on #537
@kamalrt11 - Python
Assigned

[2020-10-06 18:51] sukritishah15 commented on #554
@agrawaladitya192 - C++
Assigned

[2020-10-06 18:55] #12 closed

[2020-10-06 18:56] sukritishah15 commented on #406
@arnav-roy - Python
Assigned

[2020-10-06 19:01] sukritishah15 commented on #455
@piyushsharma220699 - Actually, we already have code for LCS in C++.

[2020-10-06 19:02] #455 closed

[2020-10-06 19:04] sukritishah15 commented on #471
We are not taking up this issue for now.

[2020-10-06 19:04] #471 closed

[2020-10-06 19:07] sukritishah15 commented on #494
@Ritika0126 - JavaScript
Assigned

[2020-10-06 19:08] sukritishah15 commented on #509
@Ritika0126 - Java
Assigned

[2020-10-06 19:10] #383 closed

[2020-10-06 19:12] sukritishah15 commented on #368
@Outplay - Java
Assigned

[2020-10-06 19:15] sukritishah15 commented on #355
Same language.
Done for added emphasis and letting the community know. (Basically C++ contributors)

[2020-10-06 19:15] #349 closed

[2020-10-06 19:16] sukritishah15 commented on #347
@arnav-roy - C++
Assigned

[2020-10-06 19:20] sukritishah15 commented on #330
Cool. We can take this up.

@Arsh-ak7 - Java
Assigned

[2020-10-06 19:25] sukritishah15 commented on #312
@Jvillegasd - C++
Assigned

[2020-10-06 19:27] sukritishah15 commented on #298
@abhishek7553 - Python, C, C++
@nikhil121101 - Java
Assigned

[2020-10-06 19:28] #296 closed

[2020-10-06 19:34] sukritishah15 commented on #171
@sushant-varanasi - Java, Python
Assigned

[2020-10-06 19:36] sukritishah15 commented on #163
@anjanik012 - C
Assigned

[2020-10-06 19:37] sukritishah15 commented on #156
@SuyashMore - Go
Assigned

[2020-10-06 19:39] sukritishah15 commented on #149
@sejalshri - JavaScript
Assigned

[2020-10-06 19:45] anmol193 commented on #551
can i do this in python?

[2020-10-06 19:45] sukritishah15 commented on #46
@Akash52 - Which programming language?

[2020-10-06 19:48] Akash52 commented on #46
CPP !

[2020-10-06 19:50] sukritishah15 commented on #23
@Ritika0126 - JavaScript assigned

[2020-10-06 19:55] sukritishah15 commented on #46
@Akash52 - C++
Assigned

[2020-10-06 19:59] sukritishah15 commented on #569
@Ankitcode99 - C++
Assigned

[2020-10-06 22:14] Jollof-guy commented on #515
Hi, please assign me in C#

[2020-10-07 02:04] agrawaladitya192 opened #578 "Find Unique Number among a set of numbers where each number is present twice except for two numbers present only once"
## 🚀 Feature

Problem Statement : Find a unique number among a set of numbers where each number is present twice except for two numbers present only once.

Language : C++

### Have you read the Contribution Guidelines?

Yes

## Pitch

So that aspirants can become better in bit manipulation.

[2020-10-07 02:11] agrawaladitya192 opened #579 "Count Number of Inversions in an array"
## 🚀 Feature

Problem Statement : Count the number of inversions in an array.

### Have you read the Contribution Guidelines?

Yes

## Pitch

For students to become better in divide and conquer paradigm

Programming Language : C++

[2020-10-07 02:53] Siddhant-sarkar opened #580 "To add Program To find distance Between,slope,eq of line between 2 points in X-y plane."
## 🚀 Feature
This is a program to find a Distance , slope, eq of line between 2 points (X1,Y1) and (X2,Y2)
### Have you read the Contribution Guidelines?

Yes
Very well
## Pitch

For this, we can have user type for  which feature they want to use  and then we take in the points,
we Calculate We provide what they asked for

[2020-10-07 02:53] Siddhant-sarkar commented on #580
I will accomplish this is java.

[2020-10-07 03:25] ChampInMyThought commented on #171
Queue up for C and C++

[2020-10-07 04:24] #579 closed

[2020-10-07 04:38] agrawaladitya192 commented on #545
Assign this issue to me in Python as well if possible.

[2020-10-07 04:59] RohanK6 opened #587 "Rewriting Java LinkedList class"
## 🚀 Feature

I want to rewrite the LinkedList.java class in the Java directory to make it better organized and allow for more methods to be implemented. I have already began working on it in my own IDE.

### Have you read the Contribution Guidelines?

Yes

## Pitch

I think this feature should be implemented so the LinkedLists can be represented better, more than just adding and removing values /

[2020-10-07 04:59] Shrey2002 commented on #551
I would like to do this in Java!!

[2020-10-07 05:01] Shrey2002 commented on #520
Can i please work on Javascript?

[2020-10-07 05:09] aalokchaudhary opened #588 "Page allocation problem - (Binary Search), Painter's task allocation problem - (Binary Search)"
## 🚀 Feature

Important interview problems for Binary Search.

### Have you read the Contribution Guidelines?

Yes, I have gone through the contribution guidelines

## Pitch

Binary Search is a trivial interview topics, hence I believe its problems and logic building methodologies should be shared with the community.

[2020-10-07 05:18] DefCon-018 opened #589 "Palindromic Substrings"
### **🚀 Feature**
The number of substrings of string that are palindrome.
### **Have** you read the Contribution Guidelines?
Yes

### Pitch
It is a very famous problem of Dynamic programming. This question has been asked in FAANG interviews.  I want to contribute in c++
### Assignees
@DefCon-018 - c++

[2020-10-07 05:22] DefCon-018 commented on #588
I would like to do this in c++.

[2020-10-07 05:45] Ankitcode99 opened #592 "Fenwick Tree - (Space Optimised Range Sum Query)"
## 🚀 Feature

Make space optimized range sum queries in logarithmic time.

### Have you read the Contribution Guidelines?

Yes, I have read the guidelines

## Pitch

Fenwick Tree helps folks get a clear understanding of bit manipulation operations along with solving a ton of range query problems in an optimised way.

I want to contribute in C++.

## Assignees
@Ankitcode99 - C++

[2020-10-07 05:51] niranjantuty opened #593 "Swap two numbers without third variable"
## 🚀 Feature

Given two variables x and y, swap two variables without using a third variable.

Input:
x = 2, y = 1
Output:
x = 1, y = 2

### Have you read the Contribution Guidelines?

Yes.

## Pitch

This is a common interview question asked for freshers.

[2020-10-07 06:09] RohanK6 commented on #593
If available, I can do this in Java.

[2020-10-07 06:15] ankit9905 commented on #593
i Can do this in C++

[2020-10-07 06:18] DefCon-018 commented on #593
i want to do this in python

[2020-10-07 06:26] yashkansal commented on #593
I can do this in c

[2020-10-07 06:29] Shrey2002 commented on #593
i can do this in C#

[2020-10-07 06:30] niranjantuty commented on #593
@RohanK6 - Java
@ankit9905 - C++
@DefCon-018 - Python
@yashkansal - C
@Shrey2002  - C#

Assigned.  Go ahead :)

[2020-10-07 06:51] Shrey2002 commented on #593
Can I also get this in PHP?

[2020-10-07 06:53] arsh9806 commented on #593
Please assign this to me for Javascript

[2020-10-07 06:59] arsh9806 opened #596 "Pangram String"
## 🚀 Feature

Check if the given word or string is PANGRAM (If it contains every letter of the alphabet at least once).

"The quick brown fox jumps over the lazy dog" is a well-known pangram.

### Have you read the Contribution Guidelines?

Yes

[2020-10-07 07:00] arsh9806 commented on #596
I would like to work on its javascript solution.

[2020-10-07 07:05] #569 closed

[2020-10-07 07:05] #479 closed

[2020-10-07 07:17] niranjantuty commented on #593
@Shrey2002  - PHP
@arsh9806 - JS
Assigned !

[2020-10-07 07:41] sushant-varanasi commented on #171
C++ has been pushed @ChampInMyThought , I'll do in C also then

[2020-10-07 07:53] agrawaladitya192 commented on #580
I will do this in C

[2020-10-07 08:47] ameycodes opened #601 "Greedy implementation of coin change problem"
## 🚀 Feature

This is a greedy implementation of the coin change problem. Finding the minimum number of denominations required.

### Have you read the Contribution Guidelines?

Yes

## Pitch

Useful in competitive programming and understanding the greedy algorithm

[2020-10-07 08:48] ameycodes commented on #601
I would like to work on its C++ implementation

[2020-10-07 08:49] krishrahul98 opened #602 "Rotate Linked List Clockwise"
##  Rotate a Linked list

In this algorithm, we can rotate linked list clockwise(right) by given K value.
Language: C++

### Have you read the Contribution Guidelines?

Yes

## Pitch
Useful in common day to day programming.

[2020-10-07 09:02] ameycodes opened #603 "Minimum product subset"
## 🚀 Feature

Find the minimum product subset answer from an array using Greedy approach

### Have you read the Contribution Guidelines?

Yes

## Pitch

Important for competitive programming

[2020-10-07 09:09] DineshSolanki commented on #593
please can you assign me this for Kotlin, I'll be glad to do it in Kotlin.

[2020-10-07 09:10] IshaanSinghal1 commented on #593
Assign me to do it in Kotlin.

[2020-10-07 09:16] ExpressHermes commented on #601
Duplicate of #171

[2020-10-07 09:19] #601 closed

[2020-10-07 09:19] ExpressHermes commented on #601
Duplicate of #171

[2020-10-07 09:34] DefCon-018 commented on #347
Assign me for java

[2020-10-07 09:37] DefCon-018 commented on #29
assign me for kotlin

[2020-10-07 09:44] #578 closed

[2020-10-07 09:47] DefCon-018 commented on #442
assign me for java

[2020-10-07 10:07] niranjantuty commented on #593
@DineshSolanki  - Kotlin Assigned (fcfs)

[2020-10-07 10:33] DefCon-018 commented on #554
Assign me for java

[2020-10-07 10:35] DefCon-018 commented on #551
Assign me for javascript

[2020-10-07 10:36] DefCon-018 commented on #541
Kindly assign me for java

[2020-10-07 11:37] beardedasianlad commented on #593
I would like to tackle the golang version of this.

[2020-10-07 11:42] niranjantuty commented on #593
@beardedasianlad  - GO
Assigned!

[2020-10-07 12:48] Pirvu2k commented on #551
If possible, please assign me for the PHP version :)

[2020-10-07 12:56] Pirvu2k commented on #545
I would like to work on this in PHP if possible, thanks :)

[2020-10-07 12:56] kesher988 commented on #596
i would like to work on its in c solution

[2020-10-07 13:08] kesher988 commented on #520
can i please work in javascript

[2020-10-07 13:10] kesher988 commented on #593
can i do it in c

[2020-10-07 13:24] IshaanSinghal1 opened #611 "N-Queen Problem"
## 🚀 Feature

This problem is based on the concept of recursion and we can find number of ways to place N queens on N*N board.
I would like to use Java.

### Have you read the Contribution Guidelines?

Yes

## Pitch

Recursion is one of the most important part of DS and this is one of the classical problem of recursion.

[2020-10-07 13:25] IshaanSinghal1 commented on #611
Assign this to me- JAVA

[2020-10-07 13:43] ayushab06 opened #613 "solution to tower of hanoi problem in java"
## 🚀 Feature

solution to tower of hanoi problem in java using recursion

### Have you read the Contribution Guidelines?
yes

## Pitch
tower of hanoi is commonly asked problem related to recursion

[2020-10-07 13:43] ayushab06 commented on #613
Assign it to me.

[2020-10-07 13:46] #613 closed

[2020-10-07 13:46] ayushab06 commented on #613
this algo is already implemented

[2020-10-07 13:52] PaulEvans8669 commented on #515
Hi @sukritishah15  @ShrutiRawal, I'll do this is JS.

[2020-10-07 13:55] ayushab06 opened #614 "Floyd-Warshall Algorithm"
## 🚀 Feature
Problem: Implementing the Floyd-Warshall Algorithm (a common graph algorithm)
Do add Sample Input/Output, Time and Space Complexity at the bottom of the file (inside a comment).
Referred issue: #343

### Have you read the Contribution Guidelines?

Yes
## Pitch
 Floyd–Warshall algorithm is an algorithm for finding shortest paths in a weighted graph with positive or negative edge weight

[2020-10-07 13:55] ayushab06 commented on #614
Assign it to me

[2020-10-07 14:12] ShrutiRawal commented on #445
Hello @sukritishah15 , please assign this to me for **implementation in Java**. I've read the contribution guidelines.

[2020-10-07 14:31] RohanK6 opened #618 "Collatz Sequence"
## 🚀 Feature

The Collatz conjecture is a conjecture in mathematics that concerns a sequence defined as follows: start with any positive integer n. Then each term is obtained from the previous term as follows: if the previous term is even, the next term is one half of the previous term. If the previous term is odd, the next term is 3 times the previous term plus 1. The conjecture is that no matter

[2020-10-07 15:04] cyenney commented on #618
Please assign to me.

[2020-10-07 15:15] yashaswibiyahut commented on #614
Kindly assign me in cpp. i would like to do this.

[2020-10-07 15:18] agent515 commented on #515
Hi, I'll implement it in Go.
Can you assign this issue to me as well or is it okay to go ahead with it?

[2020-10-07 16:01] niranjantuty commented on #515
@Jollof-guy  - C#
@PaulEvans8669 - JS
@agent515  - Go
Assigned.  Go ahead.

[2020-10-07 16:11] sunilgknair051 commented on #618
@RohanK6, please check if the issue has not been implemented in Java and then you can take over.
@cyenney , Java has been assigned, would you want to be assigned any other language?

[2020-10-07 16:12] cyenney commented on #618
Yes, C# please.

[2020-10-07 16:14] sunilgknair051 commented on #618
@RohanK6 - Java
@cyenney  - C#

[2020-10-07 17:20] ayushab06 commented on #614
hey, this issue has been resolved

[2020-10-07 17:30] Aditya489 commented on #593
can you assign me this task ? thank you

[2020-10-07 17:32] Aditya489 commented on #593
i can do this in python

[2020-10-07 17:53] Pratap2018 commented on #5
@manan025  I already got merged

[2020-10-07 19:16] richard-oden commented on #593
May I try this in Ruby?

[2020-10-07 19:34] coolamiy commented on #618
i want to try the same in Go. is that still open ?

[2020-10-07 19:36] mavneeK commented on #589
I would like to contribute in C language

[2020-10-07 19:42] mavneeK commented on #538
I would like to contribute in c++

[2020-10-07 19:43] mavneeK commented on #596
I would like to contribute in CPP

[2020-10-07 19:46] Valdas3 commented on #538
I would like to implement C# version

[2020-10-07 22:15] piyushsharma220699 commented on #618
Assign this to me in C++

[2020-10-07 22:22] piyushsharma220699 opened #629 "Lowest Common Ancestor"
## 🚀 Feature

The lowest common ancestor between two nodes n1 and n2 is defined as the lowest node in T that has both n1 and n2 as descendants (where we allow a node to be a descendant of itself).

### Have you read the Contribution Guidelines?

Yes

## Pitch

An extremely important problem of Trees.
I'll like to do it in C++

[2020-10-07 22:31] piyushsharma220699 opened #630 "Top View and Bottom View of a Binary Tree"
## 🚀 Feature

Top view of a binary tree is the set of nodes visible when the tree is viewed from the top.
Similarly, Bottom view of a binary tree is the set of nodes visible when the tree is viewed from the top.

### Have you read the Contribution Guidelines?

Yes

## Pitch

Interview questions on Binary Tree! Both are extremely important
I'll code them in C++

[2020-10-08 01:35] RohanK6 opened #631 "Project Structure"
## 🚀 Feature

I was wondering if it would be a good idea to organize the files (for me, I can do the Java folder) the make them much easier to access and quickly locate. For example, within the Java folder, I will create a folder for Sorting Algorithms, Mathematical Algorithms, Data Structures, etc, and modify the files to add the appropriate package names.

An example would be:

Java
  Sorting
  

[2020-10-08 03:29] DefCon-018 commented on #614
Assign me for python

[2020-10-08 04:03] DefCon-018 commented on #630
Assign me for java

[2020-10-08 04:20] Arihant416 commented on #491
@arnav-roy kindly check my pr #636, please let me know if I need to make changes :) Sorry for the delay

[2020-10-08 04:26] jmiguelpv commented on #16
May I work on this in php?

[2020-10-08 04:27] DefCon-018 opened #637 "Kruskal's Algorithm"
### 🚀 Feature
Find and print the Minimum Spanning Tree (MST) using Kruskal's algorithm.
### Have you read the Contribution Guidelines?
Yes
### Pitch
This is a common interview question.
### Assignees
Assign me for c++

[2020-10-08 05:25] natedtcc commented on #537
Hi, I'd like to do this problem in Java please :)

[2020-10-08 07:37] musaabshirgar1 commented on #614
Assign me for Kotlin

[2020-10-08 07:37] musaabshirgar1 commented on #637
Assign me for Kotlin

[2020-10-08 07:38] musaabshirgar1 commented on #403
Assign me for Kotlin

[2020-10-08 07:46] lostgirljourney commented on #614
@musaabshirgar1 - Kotlin
@DefCon-018 - Python

[2020-10-08 08:13] #614 closed

[2020-10-08 09:01] sukritishah15 commented on #580
@Siddhant-sarkar - Java
@agrawaladitya192 - C++
Assigned

[2020-10-08 09:04] sukritishah15 commented on #587
Go ahead @RohanK6 !!!
Assigned

[2020-10-08 09:07] sukritishah15 commented on #588
C++
@aalokchaudhary - Page Allocation Problem
@DefCon-018 - Painter's task allocation problem
Assigned

[2020-10-08 09:10] sukritishah15 commented on #618
@RohanK6 - Java
@cyenney - C#
@coolamiy - Go
@piyushsharma220699 - C++

Assigned

[2020-10-08 09:10] ardika99 commented on #239
please assign me shortest job first scheduling algorithm(SJF-non preemptive) in c  and add label of c and hacktoberfest

[2020-10-08 09:12] sukritishah15 commented on #239
@ardika99 - C - SJF(non-preemptive assigned)

[2020-10-08 09:15] sukritishah15 commented on #589
@DefCon-018 - C++
@mavneeK - C

Assigned

[2020-10-08 09:15] DefCon-018 commented on #618
Assign me for python

[2020-10-08 09:16] sukritishah15 commented on #592
@Ankitcode99 - C++
Assigned

[2020-10-08 10:31] niranjantuty commented on #403
@nikita1211  - C
@musaabshirgar1 - Kotlin
Assigned!

[2020-10-08 10:44] aalokchaudhary commented on #592
@sukritishah15 can you please assign me this issue.

[2020-10-08 10:46] Ankitcode99 commented on #592
@sukritishah15 thanks for assigning me this issue but I have successfully got 4 Pull Requests merged to hacktoberfest repos. So it would be kind of you if you can assign this issue to @aalokchaudhary

[2020-10-08 11:42] yashaswibiyahut opened #647 "Flood Fill algorithm in java"
## 🚀 Feature

(Write down a clear and concise description of what the feature is.)

### Have you read the Contribution Guidelines?

(Write your answer here.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

[2020-10-08 11:43] patricktrp commented on #29
Since Javascript is missing, I'd like to do it :)

[2020-10-08 11:46] yashaswibiyahut commented on #647
@lostgirljourney  kindly review and merge my PR

[2020-10-08 11:50] sunilgknair051 commented on #647
@yashaswibiyahut , fair warning here. You need to answer the questions.

[2020-10-08 11:58] sunilgknair051 commented on #631
@RohanK6 , that would be great.
Thanks. (abstain from spammy PRs)

[2020-10-08 12:15] sunilgknair051 opened #649 "UPDATE FOR ALL MAINTAINERS"
## UPDATE FOR ALL MAINTAINERS
Please go through the below thread of comments and do the needful.
Thank you @sunilgknair051 for bringing this to the fore.
Thank you to all the maintainers as well !

Signed off - @sukritishah15
---------------------------------------------------------------------------------

<br/><br/>

Working through some of the PRs I realized many of them aren't reading the cont

[2020-10-08 12:24] yashaswibiyahut commented on #647
@sunilgknair051 I already checked that Flood fill Algoriithm code in java doesn't exist in the master branch and after that, I created this issue. I am sorry that I am not asking for the assignment I will take care of this from the next time.

[2020-10-08 13:30] lostgirljourney commented on #647
@sukritishah15 Di please check this.

[2020-10-08 13:32] lostgirljourney commented on #647
@sunilgknair051 why am I assigned even? :roll_eyes:

[2020-10-08 13:35] chandrikagottappu commented on #593
can i do this in ruby?

[2020-10-08 13:37] arsh9806 commented on #618
please assign this to me for Javascript

[2020-10-08 13:38] chandrikagottappu commented on #593
can i do this task?

[2020-10-08 14:15] Japoncio3k opened #653 "Create a program that checks if a number is the sum of three consecutive prime numbers."
I would like to create a Javascript algorigthm that checks if a natural number is the sum of three consecutive prime numbers

[2020-10-08 14:18] #653 closed

[2020-10-08 15:23] farheen21 commented on #530
@sukritishah15 Hey I would like to contribute for the same algorithms but in C++,can you please help me here

[2020-10-08 15:48] PrinceKhatick opened #657 "Anagrams in Java"
## 🚀 Feature

Two strings, a  and b, are called anagrams if they contain all the same characters in the same frequencies. For example, the anagrams of CAT are CAT, ACT, TAC, TCA, ATC, and CTA.

### Have you read the Contribution Guidelines?

Yes

## Pitch

As this will add some concepts about String manipulation and String Builder class in Java.

[2020-10-08 15:48] PrinceKhatick commented on #657
@sukritishah15 please assign this to me.

[2020-10-08 16:14] manishita24 commented on #530
I would like to contribute for C#. Please assign it to me.

[2020-10-08 16:59] lostgirljourney commented on #647
@yashaswibiyahut first of all answer the questions and let the collaborators check and then assign you.

[2020-10-08 17:17] ayushab06 opened #660 "Binary Exponentiation"
## 🚀 Feature

Binary exponentiation is a trick which allows to calculate an using only O(logn) multiplications

### Have you read the Contribution Guidelines?

yes

## Pitch

Binary exponentiation (also known as exponentiation by squaring) is a trick which allows to calculate an using only O(logn) multiplications (instead of O(n) multiplications required by the naive approach).

## Assignees
@ayus

[2020-10-08 17:18] ayushab06 commented on #660
assign it to me-java

[2020-10-08 18:01] motabhai-bhagwaan commented on #618
Hi, can you please assign me this problem in Java if possible?
Thank you.

[2020-10-08 18:07] sunilgknair051 commented on #618
Sorry! has been already assigned.

[2020-10-08 18:26] piyushsharma220699 commented on #657
I'll do this in C++. Please Assign me :)

[2020-10-08 18:56] yashaswibiyahut commented on #647
@lostgirljourney  which question i have to answer.  I already did my answer for the above one. kindly clarify which question you are talking about

[2020-10-08 19:03] lostgirljourney commented on #647
@yashaswibiyahut answer them.
I would suggest you to go to other issues & check how mannerly they're structured. 😅

[2020-10-08 19:05] yashaswibiyahut commented on #647
Okay i will do this @lostgirljourney 😁

[2020-10-08 19:12] yashaswibiyahut commented on #647
Done @lostgirljourney . kindly review and merge my PR

[2020-10-08 19:15] sukritishah15 commented on #596
@arsh9806 - JavaScript
@kesher988 - C
@mavneeK - C++
Assigned.

[2020-10-08 19:17] sukritishah15 commented on #602
@krishrahul98 - C++
Assigned.

[2020-10-08 19:19] sukritishah15 commented on #603
@mavneeK - Java
Assigned

[2020-10-08 19:22] sukritishah15 commented on #611
@IshaanSinghal1 - We already had this issue.
Feel free to open new issues.
Thank you!

[2020-10-08 19:22] #611 closed

[2020-10-08 19:23] sukritishah15 commented on #629
@piyushsharma220699 - C++
Assigned

[2020-10-08 19:24] sukritishah15 commented on #630
@piyushsharma220699 - C++
@DefCon-018 - Java
Assigned

[2020-10-08 19:30] sukritishah15 commented on #631
@RohanK6 - We had this on our list but we had scheduled it for little later (After the Hacktoberfest).
But, it is highly appreciated that you came forward with this at this very point of time.

A small request - Kindly modify the README.md file accordingly. All the links would be changed now, due to movement in different folders.

[2020-10-08 19:32] sukritishah15 commented on #637
@DefCon-018 - C++
@musaabshirgar1 - Kotlin
Assigned

[2020-10-08 19:42] sukritishah15 commented on #647
@yashaswibiyahut
Hello! I think the conversation heated up. Relax! I'll break it up.
Nevermind! I would just like you to know, that if you're the first person to create an issue. You're given an assignment priority any which ways. And then we give priority to comments on a FCFS basis.

WE CARE FOR OUR CONTRIBUTORS. And more than you, we would be happy to merge your PR.

Don't worry, I've seen your

[2020-10-08 19:46] sukritishah15 commented on #657
@PrinceKhatick - Java
@piyushsharma220699 - C++
Assigned

[2020-10-08 20:02] sukritishah15 commented on #649
I totally understand your concern @sunilgknair051
In fact, this is a very nice suggestion. I would love to have this in place.

But, we can do this, with a slight modification - If the PR is good to go and has no scope of improvement, then merge it directly. If you(any collaborator) , however feel that it requires a second review or you find the PR okayish, can be improved kind, then you can ask a

[2020-10-08 20:12] sukritishah15 commented on #649
Also, @sunilgknair051 if you still feel that the modified approach is not okay and you would like to re-emphasize the importance of 2 reviewers for every PR, it is totally fine and understandable. You can put that up. Because, I personally, am a strong believer of what you said. It is just that, I feel it would increase our time being spent per PR, unnecessarily in case of Good PR's.

[2020-10-08 20:48] otacon94 commented on #657
I can do this in python, please assign this to me

[2020-10-08 21:33] Jollof-guy commented on #520
Hi, please assign me in C#

[2020-10-08 21:51] otacon94 commented on #660
Can i do this in python?

[2020-10-08 22:38] Meena-dev commented on #589
I would like to contribute in Java

[2020-10-09 05:05] RohanK6 commented on #580
I can do this in Python

[2020-10-09 05:05] DefCon-018 commented on #629
I would like to contribute in java

[2020-10-09 05:06] RohanK6 commented on #596
I can do this in Java

[2020-10-09 05:34] aalokchaudhary opened #668 "Counting Valid Subsegments - ( Constructive + Lower Bound )"
## 🚀 Feature

Medium level interview problem I faced during my Databricks SWE Intern interview.

### Have you read the Contribution Guidelines?

Yes, I have gone through the contribution guidelines

## Pitch

Binary Search problems often needs a trivial intuition. So, my solution and explanation for this problem would really benefit a lot of individuals.

I want to contribute this interesting prob

[2020-10-09 07:12] yashaswibiyahut commented on #647
Thanks for your clarification @sukritishah15 . I will take care of this from the next time.😊

[2020-10-09 07:25] sunilgknair051 commented on #649
@sukritishah15 , thanks for the feedback. I feel the modified approach should work.

[2020-10-09 07:31] sunilgknair051 commented on #596
Doing it in Python.

[2020-10-09 07:51] yashaswibiyahut opened #670 "Least Common Multiple for large numbers"
## 🚀 Feature

The least common multiple of two positive integers 𝑎 and 𝑏 is the least positive integer 𝑚 that is divisible by both 𝑎 and 𝑏.

### Have you read the Contribution Guidelines?

Yes

## Pitch

Task. Given two integers 𝑎 and 𝑏, find their least common multiple.
Input Format. The two integers 𝑎 and 𝑏 are given in the same line separated by space.
Constraints. 1≤𝑎, 𝑏≤107.
Output Format. Ou

[2020-10-09 07:52] yashaswibiyahut commented on #670
would like to do this in Cpp kindly assign me @sukritishah15

[2020-10-09 09:46] ShrutiRawal commented on #657
Hi @sukritishah15 , I can do this in C, please assign this to me:)

[2020-10-09 10:22] sukritishah15 commented on #660
@otacon94 - Python
Assigned

[2020-10-09 10:23] sukritishah15 commented on #657
@otacon94 - Python
@ShrutiRawal - C
Assigned

[2020-10-09 11:30] sudsali commented on #593
please assign this to me i can do this in c++

[2020-10-09 11:31] AvadhootK commented on #593
please assign this to me for Java.

[2020-10-09 11:44] AvadhootK commented on #580
please assign this to me for c.

[2020-10-09 11:45] Hrishikesh-Thakkar commented on #660
Can I do this in C-Plus-Plus?

[2020-10-09 11:48] AvadhootK commented on #589
I would like to contribute in Python

[2020-10-09 12:30] ardika99 commented on #239
please assign me Shortest Job First Scheduling Algorithm (SJF - Non-Preemptive) in c++ and add label of c++ and hacktoberfest

[2020-10-09 13:04] ardika99 commented on #239
please assign me Priority based Scheduling (Non - Preemptive) in c and label of c and hacktoberfest

[2020-10-09 13:13] Jollof-guy commented on #151
Hi, please assign me in C#

[2020-10-09 13:14] Jollof-guy commented on #545
Hi, please assign me in C#

[2020-10-09 15:31] sukritishah15 commented on #239
@ardika99 - C++ (shortest job first scheduling algorithm)(SJF - non preemptive) and  C(Priority based scheduling) (non preemptive)
Assigned

[2020-10-09 16:15] sukritishah15 commented on #668
@aalokchaudhary - C++
Assigned

[2020-10-09 16:32] Siddhant-sarkar commented on #580
Please tell me If I want to do Something else to my pull request #644

[2020-10-09 16:53] PUSHPASINGH00 opened #686 "BFS.c"
## 🚀 Feature

(Write down a clear and concise description of what the feature is.)

### Have you read the Contribution Guidelines?

(Write your answer here.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

[2020-10-09 16:56] PUSHPASINGH00 commented on #686
#685

[2020-10-09 17:01] PUSHPASINGH00 opened #687 "B_tree.c"
## 🚀 Feature

(Write down a clear and concise description of what the feature is.)

### Have you read the Contribution Guidelines?

(Write your answer here.)

## Pitch

(Please explain why this feature should be implemented and how it would be used.)

[2020-10-09 18:19] AndreaBiondaro commented on #16
Hi, can i do this in go?

[2020-10-09 18:59] sukritishah15 commented on #16
@jmiguelpv - PHP
@AndreaBiondaro - Go
Assigned

[2020-10-09 20:02] sahilparwani commented on #686
Can you assign me this issue?

[2020-10-09 21:54] krishnapatil1406 commented on #647
Can I implement this in cpp

[2020-10-10 01:00] Siddhant-K-code commented on #637
Please Assign Me for `JavaScript`

[2020-10-10 03:04] niranjantuty commented on #686
@PUSHPASINGH00  Please answer the questions while creating an issue.

[2020-10-10 05:37] AnanyaNagar commented on #637
@Siddhant-K-code - JavaScript
Assigned

[2020-10-10 05:48] AnanyaNagar commented on #629
@DefCon-018 - Java
Assigned

[2020-10-10 05:56] Ritika0126 commented on #509
@sukritishah15 can you please merge the PR  #658 for java code

[2020-10-10 07:13] AmanParmar-git opened #693 "[Help Wanted] Hamiltonian Cycle in grid graphs"
hey guys , if you see snake ai in DS-Algo-Projects. There is one algorithm, hamiltonian cycle. currently it's generating cycle with dfs means going through all nodes one by one in sequence and creating cycle and i know that's not how you are supposed to do it. I want to do it randomly. I tried like for half a month but can't get my way around. if anyone knows how to generate random hamiltonian cyc

[2020-10-10 07:18] chhipanikhil9 commented on #660
i can do in java

[2020-10-10 09:07] ShrutiRawal opened #694 "Implement Morris Traversal"
## 🚀 Feature

Morris traversal is an algorithm for inorder tree traversal that **does not** employ the usage of stack and recursion.

### Have you read the Contribution Guidelines?

Yes

## Pitch

I would like to implement this algorithm using **Java**. Expected time complexity will be of the order of number of nodes in given tree and no extra space will be utilised.

[2020-10-10 11:12] sukritishah15 commented on #694
@ShrutiRawal - Java
Assigned

[2020-10-10 12:58] #649 closed

[2020-10-10 13:08] sukritishah15 opened #696 "WARNING - MAINTAINERS"
## 🚀 We do not appreciate and encourage bossy or rude behaviour with any of our contributors by any maintainer and vice-versa as well.
If there is an issue with any PR, mention it politely. Do not try and act BOSSY.
We will come across a lot of beginners and they will make a lot of mistakes, it is absolutely OKAY. Guide them. Do not YELL or type rude comments.
- MAKING MISTAKES IS NOT SPAMMY.
- Se

[2020-10-10 13:21] sukritishah15 commented on #589
@Meena-dev - Java
@AvadhootK - Python
Assigned

[2020-10-10 13:38] sukritishah15 commented on #541
@DefCon-018 - Java

[2020-10-10 14:17] ShrutiRawal opened #698 "Implement Morris Traversal for Preorder Traversal of Binary Tree"
## 🚀 Feature

**Task** - Print the **preorder** traversal of a binary tree in **linear time complexity** and **constant space complexity**.

### Have you read the Contribution Guidelines?

Yes

## Pitch

I want to implement this in **Java**. Morris Traversal is a common algorithm often evaluated in interviews.

[2020-10-10 17:17] mavneeK commented on #694
I would like to contribute in C++

[2020-10-11 00:35] Meena-dev commented on #670
I would like to implement in Java. Please assign it to me.

[2020-10-11 02:57] kwong21 commented on #538
Hi @sukritishah15 ,

I can add the algorithm implemented in Java.

Please have that assigned to me.

Thanks,

[2020-10-11 07:10] Hitansh159 opened #702 "Inconsistency in README.md file"
## 🚀 Feature

Automatic arrangement of README.md file along with checking if content in README.md file is in alphabetical order before pushing.

### Have you read the Contribution Guidelines?

YES

## Pitch

I have submitted some PRs and while going through I noticed README.md file content are not in order and some of them are repeated. This creates problem while referring the repo and also it loo

[2020-10-11 07:55] RohanK6 opened #703 "Pythagorean Triplet"
## 🚀 Feature

I will write, in Java, two separate methods in a class - one that handles an array parameter and one that handles three numbers as a parameter. The methods will check if a pythagorean triplet exists / if the passed in parameters are triplets.

### Have you read the Contribution Guidelines?

Yes

## Pitch

This is just an algorithm used to determine whether parameters constitute a pyt

[2020-10-11 08:02] RohanK6 opened #704 "Point lies within triangle"
## 🚀 Feature

This algorithm will be used to determine whether a specified point lies within the boundaries for a specified triangle. I would like to do this in Java.

### Have you read the Contribution Guidelines?

Yes

## Pitch

It would be used by calling the method (something like isInside) that takes in all the parameters, then uses geometry guidelines to prove that the point lies in (or out)

[2020-10-11 08:06] RohanK6 opened #705 "Fisher-Yates Shuffle"
## 🚀 Feature

(Write down a clear and concise description of what the feature is.)

I would like to do this in Java
The Fisher–Yates shuffle is an algorithm for generating a random permutation of a finite sequence—in plain terms, the algorithm shuffles the sequence. The algorithm effectively puts all the elements into a hat; it continually determines the next element by randomly drawing an element

[2020-10-11 08:17] #696 closed

[2020-10-11 08:20] sukritishah15 commented on #702
@Hitansh159
Sure, why not? Go ahead with this issue!
Nice idea!
Looking forward to the PR. 👍

Assigned

[2020-10-11 08:45] sukritishah15 commented on #703
@RohanK6 - Java
Assigned

[2020-10-11 08:46] sukritishah15 commented on #704
@RohanK6 - Java
Assigned

[2020-10-11 08:47] sukritishah15 commented on #705
@RohanK6 - Java
Assigned

[2020-10-11 08:48] sukritishah15 commented on #698
@ShrutiRawal - Java
Assigned

[2020-10-11 08:50] sukritishah15 commented on #592
@aalokchaudhary - C++
Assigned

[2020-10-11 10:20] Meena-dev commented on #704
I would like to implement using javascript

[2020-10-11 14:12] BelleBytes commented on #703
I'd like to do this for C#. Please assign it to me.

[2020-10-11 14:12] BelleBytes commented on #657
I'd like to do this for C#. Please assign it to me.

[2020-10-11 16:03] ardika99 commented on #239
please assign me Round Robin Scheduling Algorithm (RR) in C++ and label of c++ and hacktoberfest

[2020-10-11 23:17] itslinotlie opened #714 "Binary Index Tree DS"
## 🚀 Feature

Binary Index Tree, (BIT for short), is a data structure that efficiently updates and queries prefix sums in both O(logN) time. This is a mixture between arrays (O(n) queries with O(1) updates) and prefix-sum arrays (O(1) query with O(n) updates). There are multiple usages of BIT (such as calculating max/min values), but it is commonly used to determine range sums.

### Have you read

[2020-10-11 23:19] itslinotlie commented on #714
Just noticed that Issue 592 (https://github.com/sukritishah15/DS-Algo-Point/issues/592) addresses the same topic (fenwick tree = BIT) and since the person is implementing it in c++, I guess I'll do java only then

[2020-10-11 23:21] itslinotlie commented on #705
I can implement the javascript version of the Fisher Yates Shuffle if needed

[2020-10-11 23:32] itslinotlie opened #715 "*Longest Common Subsequence"
## 🚀 Feature

The *longestcommon subsequence (LCS for short) is a classic dynamic programming question where you have to find the *lonest subsequence between two strings (usually). It runs in O(NM) time where n and m are the length of the two strings respectively.

### Have you read the Contribution Guidelines?

:+1:

## Pitch

This algorithm is a good example to practice dynamic programming with

[2020-10-12 05:42] chrk2205 commented on #602
can i code it in C or Java

[2020-10-12 05:59] MERCUROUS commented on #593
please assign this to me I can do this in C, Java, Python

[2020-10-12 06:59] #602 closed

[2020-10-12 09:04] arsh9806 commented on #705
Please assign this to me for it's Python solution

[2020-10-12 10:50] sunilgknair051 commented on #715
Go ahead, please check the respective folders for a similar snippet. Then,  if it is already implemented in another language, you can choose and comment on Java or C++ and I will assign it to you.
Thanks.

[2020-10-12 13:41] AmanParmar-git commented on #647
I will do this in JavaScript , assign it to me please.

[2020-10-12 13:44] sunilgknair051 commented on #647
@AmanParmar-git - Javascript
@krishnapatil1406 - C++

[2020-10-12 13:55] itslinotlie commented on #715
Just say that Java was already completed, I will do it in C++ then :)

[2020-10-12 14:28] SpaceBarDoodle commented on #593
Please assign me this issue i can do this in bash script.And please add label of bash script and hacktoberfest.

[2020-10-12 15:15] AndreaBiondaro commented on #1
Hi, can i do this in go?

[2020-10-12 15:37] lostgirljourney commented on #1
@AndreaBiondaro assigned.

[2020-10-12 18:20] Hitansh159 commented on #702
hey @sukritishah15 ,
I did it!
please check my PR #719

let me know if any changes required. :)

their are some repeated names in readme list as I mentioned.
I thought of removing duplicate ones but when i started checking duplicates i came across this

-[Floyd warshall algorithm](floyd-warshall.c)

-[Floyd warshall](floyd_warrshal.c)

now both are for same algorithm but both code are different
I

[2020-10-12 18:44] itslinotlie commented on #592
I can do the Java implementation

[2020-10-12 18:49] itslinotlie opened #721 "Prefix Sum Array"
## 🚀 Feature

An easy to implement algorithm that calculates range sums. It supports O(1) queries and O(n) updates.

### Have you read the Contribution Guidelines?

:+1:

## Pitch

PSAs are a beginner friendly algorithm that helps reinforce the understanding of arrays. I can implement this in C++ and Java (:

[2020-10-12 18:51] PaulEvans8669 commented on #704
I'll do this in python @sukritishah15 @RohanK6.

[2020-10-12 18:54] RohanK6 commented on #721
I can do this in Java if available.

[2020-10-12 22:49] otacon94 commented on #715
I can do in python if you want

[2020-10-13 05:58] sukritishah15 commented on #239
@ardika99 - C++ - RR Scheduling Algorithm
Assigned

[2020-10-13 07:48] sunilgknair051 commented on #721
Please check the respective folders if they have been already implemented.

**Assigned**
@RohanK6 - Java
@itslinotlie - C++

[2020-10-13 08:08] #687 closed

[2020-10-13 08:08] #686 closed

[2020-10-13 10:31] ayushab06 commented on #660
hey,the merge conflict has been resolved.

[2020-10-13 11:54] FionaFR commented on #593
Can you please assign  Scala for me?

[2020-10-13 12:36] sunilgknair051 commented on #714
@itslinotlie , make sure you check the other language folders as well.

[2020-10-13 13:48] niranjantuty commented on #593
@FionaFR  - Scala
assigned!

[2020-10-13 15:29] Hitansh159 opened #729 "Issues with push"
A new feature is introduced in the repo that will not let you push your branch if it have README in improper format.

**What to do if you face such issues ?**

- If your repo is behind the current repo please pull it once.

- After pulling from current repo one will have _arrange.py_ script in _root folder_

- If while pushing you get error for not formatting just run _arrange.py_
you will get out

[2020-10-13 18:14] gfmota commented on #538
I would like to do it with C

[2020-10-14 11:22] itslinotlie commented on #721
(accidentally referenced the wrong issue number)

[2020-10-14 11:34] itslinotlie commented on #703
I too would prefer to address this issue. I can do c++ (:

[2020-10-14 11:45] itslinotlie opened #737 "String Hashing for O(1) queries"
## 🚀 Feature

The trivial way of comparing if two strings are identical is to use the built in function (.equals() in Java); however, this takes O(n) time. When many hundreds of thousands of comparisons are needed, this could result in a TLE (example ccc20s3, a Canadian computing contest problem). String hashing only requires an initial O(n) time to pre-process, but then queries are all O(1). The

[2020-10-14 12:49] FionaFR commented on #593
Can you please add #hacktoberfest-accepted for this issue?

[2020-10-14 13:09] Mr-Destructive commented on #208
Bash(shell script)?

[2020-10-14 13:38] aditya-gite-04 opened #738 "Magic number in JAVA"
## 🚀 Feature

A number is said to be a magic number, if the sum of its digits are calculated till a single digit recursively by adding the sum of the digits after every addition. If the single digit comes out to be 1,then the number is a magic number.

### Have you read the Contribution Guidelines?

yes

## Pitch

NO such issue has been yet listed

[2020-10-14 15:07] itslinotlie commented on #715
Saw that C++ was also implemented, closed my PR